{% extends 'base/base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %} ATS Listado Vacantes {% endblock title %}

{% block titulo_pagina %} Detalle vacante: {{ vacante.titulo }} {% endblock titulo_pagina %}

{% block navegacion %}
    <a href="{% url 'vacantes:ver_vacantes_disponibles' %}" class="breadcrumb-item text-white opacity-75"> Listado Vacantes</a>
    
    <li class="breadcrumb-item">
        <span class="bullet bg-white opacity-75 w-5px h-2px"></span>
    </li>
    
    <li class="breadcrumb-item text-white opacity-75">Detalle Vacante {{ vacante.titulo }}</li>
{% endblock navegacion %}


			
    {% block css %}
    .asteriskField {
        color: red !important;
    }
    {% endblock css %}
    
{% block boton_volver %}
    <a href="{% url 'vacantes:ver_vacantes_disponibles' %}" class="btn btn-primary my-2"">Volver</a>
{% endblock boton_volver %}

{% block content %}
<div class="card shadow-sm">
    
    <div class="card-body">
        <div class="d-flex flex-wrap flex-sm-nowrap mb-3 notice d-flex bg-light-primary rounded border-primary border  p-6" >
            <div class="me-7 mb-4">
                <div class="symbol symbol-100px symbol-lg-160px symbol-fixed position-relative">
                    {% if cliente.logo %}
                        <img src="{{ cliente.logo.url }}" title="{{cliente.logo}}" />
                    {% else %}  
                        <img src="{% static 'media/avatars/blank.png' %}" title="{{cliente.logo}}" />
                    {% endif %}
                </div>
            </div>
            <div class="flex-grow-1">
                <div class="d-flex justify-content-between align-items-start flex-wrap mb-2">
                    <div class="d-flex flex-column">
                        <div class="d-flex align-items-center mb-2">
                            <a href="#" class="text-gray-900 text-hover-primary fs-2 fw-bold me-1">{{vacante.titulo}}</a>
                            <a href="#">
                                <i class="ki-duotone ki-verify fs-1 text-primary">
                                    <span class="path1"></span>
                                    <span class="path2"></span>
                                </i>
                            </a>
                        </div>
                        <div class="d-flex flex-wrap fw-semibold fs-6 mb-4 pe-2">
                            
                            <a href="#" class="d-flex align-items-center text-gray-500 text-hover-primary me-5 mb-2">
                            <i class="ki-duotone ki-briefcase fs-4 me-1">
                                <span class="path1"></span>
                                <span class="path2"></span>
                            </i>{{ cliente.razon_social }}</a>

                            <a href="#" class="d-flex align-items-center text-gray-500 text-hover-primary me-5 mb-2">
                                <i class="ki-duotone ki-profile-circle fs-4 me-1">
                                    <span class="path1"></span>
                                    <span class="path2"></span>
                                    <span class="path3"></span>
                            </i>{{vacante.profesion_estudio_id_055.nombre}}</a>
                        </div>
                    </div>
                </div>
                
                <div class="d-flex flex-wrap flex-stack">
                    <div class="d-flex flex-column flex-grow-1 pe-8">
                        <div class="d-flex flex-wrap">
                            <div class="border border-gray-300 border-dashed rounded min-w-125px py-3 px-4 me-6 mb-3">
                                <div class="d-flex align-items-center">
                                    <i class="ki-duotone ki-dollar fs-3 text-primary me-2">
                                        <span class="path1"></span>
                                        <span class="path2"></span>
                                    </i>
                                    <div class="fs-2 fw-bold"> {% if vacante.salario %} $ {{ vacante.salario }} {% else %}A convenir{% endif %}</div>
                                </div>
                                <div class="fw-semibold fs-6 text-gray-500">Salario</div>
                            </div>
                            <div class="border border-gray-300 border-dashed rounded min-w-125px py-3 px-4 me-6 mb-3">
                                <div class="d-flex align-items-center">
                                    <i class="ki-duotone ki-geolocation fs-3 text-primary me-2">
                                        <span class="path1"></span>
                                        <span class="path2"></span>
                                    </i>
                                    <div class="fs-2 fw-bold" >{{vacante.ciudad.nombre}}</div>
                                </div>
                                <div class="fw-semibold fs-6 text-gray-500">Ubicación</div>
                            </div>
                            <div class="rounded min-w-125px py-3 px-4 me-6 mb-3">
                                
                                
                                {% if asignacion_vacante %}
                                    <button class="btn btn-flex btn-success px-6">
                                        <i class="ki-duotone ki-check-square fs-2x">
                                            <span class="path1"></span>
                                            <span class="path2"></span>
                                        </i>
                                        <span class="d-flex flex-column align-items-start ms-2">
                                            <span class="fs-3 fw-bold">YA HA APLICADO A LA VACANTE</span>
                                        </span>
                                    </button>
                                {% else %}
                                    
                                <a href="{% url 'vacantes:vacante_aplicada' vacante.id  %}" class="btn btn-flex btn-primary px-6">
                                    <i class="ki-duotone ki-check-square fs-2x">
                                        <span class="path1"></span>
                                        <span class="path2"></span>
                                    </i>
                                    <span class="d-flex flex-column align-items-start ms-2">
                                        <span class="fs-3 fw-bold">APLICAR VACANTE</span>
                                    </span>
                                </a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% if asignacion_entrevista %}
        <div class="separator separator-content border-primary my-15"><span class="w-150px fw-bold text-primary">DATOS ENTREVISTA</span></div>
        <div style="text-align: center" class="row mb-12">
            <div class="col-xl-6 mb-15 mb-xl-0 pe-5">
                <h4 class="mb-0">Datos Entrevista</h4>
                <li class="d-flex align-items-center py-2"><span class="bullet me-5"></span>Empresa: <h5><b>{{ asignacion_entrevista.asignacion_vacante.vacante_id_052.cliente_id_051.razon_social }}</b></h5></li>
                <li class="d-flex align-items-center py-2"><span class="bullet me-5"></span>Vacante: <h5><b>{{ asignacion_entrevista.asignacion_vacante.vacante_id_052.titulo }}</b></h5></li>
                <li class="d-flex align-items-center py-2"><span class="bullet me-5"></span>Fecha Entrevista: <h5><b>{{ asignacion_entrevista.fecha_entrevista  }}</b></h5></li>
                <li class="d-flex align-items-center py-2"><span class="bullet me-5"></span>Fecha Entrevista: <h5><b>{{ asignacion_entrevista.hora_entrevista  }}</b></h5></li>
                <li class="d-flex align-items-center py-2"><span class="bullet me-5"></span>Tipo Entrevista: <h5><b>{% if asignacion_entrevista.tipo_entrevista == V  %} VIRUTAL {% else %} PRESENCIAL {% endif %}</b></h5></li>
                <li class="d-flex align-items-center py-2"><span class="bullet me-5"></span>Lugar o enlace Entrevista: <h5><b>{{ asignacion_entrevista.lugar_enlace  }}</b></h5></li>
            </div>
        </div>
        {% endif %}
        <div class="separator separator-content border-primary my-15"><span class="w-150px fw-bold text-primary">DETALLES</span></div>
        <div class="row mb-10">
            <div class="col-xl-6 mb-15 mb-xl-0 pe-5">
                <h4 class="mb-0">Funciones y Responsabilidades</h4>
                <p class="fs-6 fw-semibold text-gray-600 py-4 m-0">{{ vacante.funciones_responsabilidades }}</p>
            </div>
            <div class="col-xl-6">
                <h4 class="text-gray-800 mb-0">Especificaciones:</h4>
                <div class="d-flex flex-column">
                    <li class="d-flex align-items-center py-2">
                        <span class="bullet me-5"></span> <b>Fecha Publicación: </b> {{ vacante.fecha_creacion }}
                    </li>
                    <li class="d-flex align-items-center py-2">
                        <span class="bullet me-5"></span> <b>Vacantes Disponibles: </b> {{vacante.numero_posiciones}}
                    </li>
                    <li class="d-flex align-items-center py-2">
                        <span class="bullet me-5"></span> <b>Experiencia Requerida: </b>
                        {% if vacante.experiencia_requerida == 1 %}
                            0 a 6 Meses
                        {% elif vacante.experiencia_requerida == 2  %}
                            1 año a 2 años
                        {% elif vacante.experiencia_requerida == 3  %}
                            Más de 2 años
                        {% elif vacante.experiencia_requerida == 4  %}
                            Sin experiencia
                        {% endif %}
                    </li>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block extrajs %}

{% endblock extrajs %}