{% extends 'base/base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %} Detalle vacante {% endblock title %}

{% block titulo_pagina %} Detalle vacante: {{ vacante.titulo }} {% endblock titulo_pagina %}

{% block navegacion %}
    <a href="{% url 'vacantes:vacantes' %}" class="text-white text-hover-primary"> Mis Vacantes</a>
    
    <li class="breadcrumb-item">
        <span class="bullet bg-white opacity-75 w-5px h-2px"></span>
    </li>
    
    <li class="breadcrumb-item text-white opacity-75">Detalle Vacante {{ vacante.titulo }}</li>
{% endblock navegacion %}


			
    {% block css %}
    .asteriskField {
        color: red !important;
    }
    {% endblock css %}

{% block content %}
<div class="row">
    <div class="col-lg-4">
        <div class="card shadow-sm">
            <div class="card-body">
                
                <div class="d-flex flex-wrap flex-sm-nowrap mb-3 notice d-flex bg-light-primary rounded border-primary border  p-6" >
                    <div class="me-7 mb-4">
                        <div class="symbol symbol-100px symbol-lg-160px symbol-fixed position-relative">
                            {% if cliente.logo %}
                                <img src="{{ cliente.logo.url }}" title="{{cliente.logo}} />
                            {% else %}  
                                <img src="{% static 'media/avatars/blank.png' %}" title="{{cliente.logo}}" />
                            {% endif %}
                        </div>
                    </div>
                    <div class="flex-grow-1">
                        <div class="d-flex justify-content-between align-items-start flex-wrap mb-2">
                            <div class="d-flex flex-column">
                                <div class="d-flex align-items-center mb-2">
                                    <a href="#" class="text-gray-900 text-hover-primary fs-2 fw-bold me-1">{{vacante.titulo}}</a>
                                    <a href="#">
                                        <i class="ki-duotone ki-verify fs-1 text-primary">
                                            <span class="path1"></span>
                                            <span class="path2"></span>
                                        </i>
                                    </a>
                                </div>
                                <div class="d-flex flex-wrap fw-semibold fs-6 mb-4 pe-2">
                                    
                                    <a href="#" class="d-flex align-items-center text-gray-500 text-hover-primary me-5 mb-2">
                                    <i class="ki-duotone ki-briefcase fs-4 me-1">
                                        <span class="path1"></span>
                                        <span class="path2"></span>
                                    </i>{{ cliente.razon_social }}</a>

                                    <a href="#" class="d-flex align-items-center text-gray-500 text-hover-primary me-5 mb-2">
                                        <i class="ki-duotone ki-profile-circle fs-4 me-1">
                                            <span class="path1"></span>
                                            <span class="path2"></span>
                                            <span class="path3"></span>
                                    </i>{{vacante.profesion_estudio_id_055.nombre}}</a>
                                </div>
                            </div>
                        </div>
                        
                        <div class="d-flex flex-wrap flex-stack">
                            <div class="d-flex flex-column flex-grow-1 pe-8">
                                <div class="d-flex flex-wrap">
                                    <div class="border border-gray-300 border-dashed rounded min-w-125px py-3 px-4 me-6 mb-3">
                                        <div class="d-flex align-items-center">
                                            <i class="ki-duotone ki-dollar fs-3 text-primary me-2">
                                                <span class="path1"></span>
                                                <span class="path2"></span>
                                            </i>
                                            <div class="fs-2 fw-bold"> {% if salario %} $ {{ vacante.salario }} {% else %}A convenir{% endif %}</div>
                                        </div>
                                        <div class="fw-semibold fs-6 text-gray-500">Salario</div>
                                    </div>
                                    <div class="border border-gray-300 border-dashed rounded min-w-125px py-3 px-4 me-6 mb-3">
                                        <div class="d-flex align-items-center">
                                            <i class="ki-duotone ki-geolocation fs-3 text-primary me-2">
                                                <span class="path1"></span>
                                                <span class="path2"></span>
                                            </i>
                                            <div class="fs-2 fw-bold" >{{vacante.ciudad.nombre}}</div>
                                        </div>
                                        <div class="fw-semibold fs-6 text-gray-500">Ubicación</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                    
            </div>
        </div>
    </div>
    <div class="col-lg-8">
        <div class="card shadow-sm">
            <div class="card-header">
                <h3 class="card-title">Listado Aspirantes</h3>
                <div class="card-toolbar">
                    <button type="button" class="btn btn-sm btn-light">
                        Enviar a Entrevista
                    </button>
                </div>
            </div>
            <div class="card-body">
                <table id="kt_datatable_dom_positioning" class="table table-striped table-row-bordered gy-5 gs-7 border rounded">
                    <thead>
                        <tr class="fw-bold fs-6 text-gray-800 px-7">
                            <th>Nombre</th>
                            <th>Correo</th>
                            <th>Fecha Aplico</th>
                            <th>Score</th>
                            <th>Ver Candidato</th>
                        </tr>
                    </thead>
                    <tbody>
                        
                        {% for e in vacante_aplicada %}
                                <td> {{e.candidato_101.primer_nombre}} {{e.candidato_101.segundo_nombre}} {{e.candidato_101.primer_apellido}} {{e.candidato_101.segundo_apellido}}</td>
                                <td> {{e.candidato_101.email}} </td>
                                <td> {{e.fecha_aplicacion|date:"Y-m-d"}} </td>
                                <td>0%</td>
                                <td>Ver</td>
                            </tr>
                        {% endfor %}
                            
                        
                        
                    </tbody>
                </table>
            </div>
            <div class="card-footer">
                Footer
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block extrajs %}
<script>
    $("#kt_datatable_dom_positioning").DataTable({
	"language": {
		"lengthMenu": "Show _MENU_",
	},
	"dom":
		"<'row mb-2'" +
		"<'col-sm-6 d-flex align-items-center justify-conten-start dt-toolbar'l>" +
		"<'col-sm-6 d-flex align-items-center justify-content-end dt-toolbar'f>" +
		">" +

		"<'table-responsive'tr>" +

		"<'row'" +
		"<'col-sm-12 col-md-5 d-flex align-items-center justify-content-center justify-content-md-start'i>" +
		"<'col-sm-12 col-md-7 d-flex align-items-center justify-content-center justify-content-md-end'p>" +
		">"
});
</script>
{% endblock extrajs %}