{% extends 'base/base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %} Detalle vacante {% endblock title %}

{% block titulo_pagina %} Detalle vacante: {{ vacante.titulo }} {% endblock titulo_pagina %}

{% block navegacion %}
    <a href="{% url 'vacantes:vacantes_cliente_todas' %}" class="breadcrumb-item text-white opacity-75"> Listado Vacantes</a>
    
    <li class="breadcrumb-item">
        <span class="bullet bg-white opacity-75 w-5px h-2px"></span>
    </li>
    
    <li class="breadcrumb-item text-white opacity-75">Detalle Vacante {{ vacante.titulo }}</li>
{% endblock navegacion %}


			
    {% block css %}
    .asteriskField {
        color: red !important;
    }
    {% endblock css %}


{% block boton_volver %}
    <a href="{% url 'vacantes:vacantes_cliente_todas' %}" class="btn btn-primary my-2"">Volver</a>
{% endblock boton_volver %}    

{% block content %}
{% include 'vacante/common/cliente_menu_vacante.html' %}
<div class="row">
    
    <div class="col-lg-12">
        <div class="card shadow-sm">
            <div class="card-body">
                
                <a href="{% url 'vacantes:gestion_vacante_cancelar' vacante.id %}" class="btn btn-light-danger">CANCELAR VACANTE</a>
                    
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block extrajs %}
<script>
    $(document).ready(function() {
        var table = $("#vacantes_aplicadas").DataTable({
            "language": {
                "lengthMenu": "Show _MENU_",
            },
            "dom":
                "<'row mb-2'" +
                "<'col-sm-6 d-flex align-items-center justify-conten-start dt-toolbar'l>" +
                "<'col-sm-6 d-flex align-items-center justify-content-end dt-toolbar'f>" +
                ">" +
                "<'table-responsive'tr>" +
                "<'row'" +
                "<'col-sm-12 col-md-5 d-flex align-items-center justify-content-center justify-content-md-start'i>" +
                "<'col-sm-12 col-md-7 d-flex align-items-center justify-content-center justify-content-md-end'p>" +
                ">"
        });

        // Checkbox del encabezado para seleccionar/deseleccionar todos
        $('#selectAll').change(function() {
            $('.row-checkbox').prop('checked', $(this).is(':checked'));
            updateEnviarEntrevistaButton();
        });

        // Checkboxes individuales
        $('#vacantes_aplicadas').on('change', '.row-checkbox', function() {
            updateSelectAll();
            updateEnviarEntrevistaButton();
        });

        function updateSelectAll() {
            $('#selectAll').prop('checked', $('.row-checkbox:checked').length === $('.row-checkbox').length);
        }

        function updateEnviarEntrevistaButton() {
            $('#enviarEntrevista').prop('disabled', $('.row-checkbox:checked').length === 0);
        }

        // Inicializar el estado del botón
        updateEnviarEntrevistaButton();

        // Manejar clic en el botón "Enviar a Entrevista"
        $('#enviarEntrevista').click(function() {
            var selectedIds = $('.row-checkbox:checked').map(function() {
                return $(this).val();
            }).get();
            
            // Aquí puedes enviar los IDs seleccionados al servidor
            console.log("IDs seleccionados:", selectedIds);
            // Implementa aquí la lógica para enviar a entrevista
        });
    });
</script>
{% endblock extrajs %}