{% extends 'base/base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %} ATS Listado Mis Vacantes {% endblock title %}

{% block titulo_pagina %} Bienvenido {{ primer_nombre }}, Mis Vacantes {% endblock titulo_pagina %}

{% block navegacion %}
    <li class="breadcrumb-item text-white opacity-75">Listado Vacantes</li>
    
    <!-- <li class="breadcrumb-item">
        <span class="bullet bg-white opacity-75 w-5px h-2px"></span>
    </li>
    
    <li class="breadcrumb-item text-white opacity-75">Multipurpose</li> -->
{% endblock navegacion %}


			
    {% block css %}
    .asteriskField {
            color: red !important;
            }
    {% endblock css %}

{% block boton_volver %}
    <a href="{% url 'accesses:inicio' %}" class="btn btn-primary my-2"">Volver</a>
{% endblock boton_volver %}

{% block content %}
<div class="card">
    <div class="card-header border-0 pt-6">
        <div class="card-title">
            <h2>Vacantes {{ cliente.razon_social}}</h2>
        </div>
        <div class="card-toolbar">
            <div class="d-flex justify-content-end" data-kt-user-table-toolbar="base">
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modal_vacante">
                    Crear Vacante
                </button>
                
                <div class="modal fade " tabindex="-1" id="modal_vacante">
                    <div class="modal-dialog modal-dialog-scrollable modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Vacantes</h5>
                
                                <!--begin::Close-->
                                <div class="btn btn-icon btn-sm btn-active-light-primary ms-2" data-bs-dismiss="modal" aria-label="Close">
                                    <i class="ki-duotone ki-cross fs-2x"><span class="path1"></span><span class="path2"></span></i>
                                </div>
                                <!--end::Close-->
                            </div>
                
                            <div class="modal-body">
                                {% crispy form %} 
                            </div>
                
                            <div class="modal-footer">
                                <button type="button" class="btn btn-light" data-bs-dismiss="modal">Cerrar</button>
                                <button type="submit" class="btn btn-primary" form="form_vacante">Guardar Vacante</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="card-body py-4">
        <table id="kt_prueba" class="table align-middle table-row-dashed fs-6 gy-5">
            <thead>
                <tr class="fw-bold fs-6 text-gray-800 px-7">
                    <th style="text-align: center">ID VACANTE</th>
                    <th style="text-align: center">TITULO VACANTE</th>
                    <th style="text-align: center">FECHA VACANTE</th>
                    <th style="text-align: center">CIUDAD</th>
                    <th style="text-align: center"># VACANTES</th>
                    <th style="text-align: center">SALARIO</th>
                    <th style="text-align: center">EN PROCESO</th>
                    <th style="text-align: center">SELECCIONADO</th>
                    <th style="text-align: center">NO APTO</th>
                    <th style="text-align: center">CANCELADO</th>
                    <th style="text-align: center">DESISTIDO</th>
                    <th style="text-align: center">TOTAL APLICADOS</th>
                    <th style="text-align: center">ESTADO</th>
                    <th style="text-align: center">VER DETALLE</th>
                </tr>
            </thead>
            <tbody>
                {% for e in vacantes %}
                <tr class="bg-light rounded p-10 hover-elevate-up">
                    <td style="text-align: center">{{e.id}}</td>
                    <td style="text-align: center">{{e.titulo}}</td>
                    <td style="text-align: center">{{e.fecha_creacion | date:"Y/m/d" }}</td>
                    <td style="text-align: center">{{e.ciudad__nombre}}</td>
                    <td style="text-align: center">{{e.numero_posiciones}}</td>
                    <td style="text-align: center">{{e.salario}}</td>
                    <td style="text-align: center" class="bg-light-primary text-primary">{{e.aplicados}}</td>
                    <td style="text-align: center" class="bg-light-success text-success">{{e.seleccionados}}</td>
                    <td style="text-align: center" class="bg-light-danger text-danger">{{e.no_apto}}</td>
                    <td style="text-align: center" class="bg-light-dark text-dark">{{e.canceladas}}</td>
                    <td style="text-align: center" class="bg-light-warning text-warning">{{e.desistidos}}</td>
                    <td style="text-align: center">{{e.vacante_aplicados}}</td>
                    <td style="text-align: center">
                        {% if e.estado_vacante == 1 %}
                            <span class="badge badge-light-secondary">Activa</span>
                        {% elif e.estado_vacante == 2 %}
                            <span class="badge badge-light-primary">En Proceso</span>
                        {% elif e.estado_vacante == 3 %}
                            <span class="badge badge-light-success">Finalizada</span>
                        {% elif e.estado_vacante == 4 %}
                            <span class="badge badge-light-danger">Cancelada</span>
                        {% endif %}
                    </td>
                    <td style="text-align: center">
                        <a href="{% url 'vacantes:vacante_gestion' e.id  %}" class="btn btn-light-primary btn-xs">
                            <i class="fas    fa-search fs-4"></i>
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>


<div class="modal fade modal-lg" tabindex="-1" id="edit_vacante">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Editar Vacante.</h5>

                <!--begin::Close-->
                <div class="btn btn-icon btn-sm btn-active-light-primary ms-2" data-bs-dismiss="modal" aria-label="Close">
                    <i class="ki-duotone ki-cross fs-2x"><span class="path1"></span><span class="path2"></span></i>
                </div>
                <!--end::Close-->
            </div>

            <div class="modal-body">
                <form id="form_edit_vacante" method="post" action="{% url 'vacantes:vacante_api' %}">
                    {% crispy form %}
                </form>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-light" data-bs-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" form="form_edit_vacante">Actualizar</button>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block extrajs %}
<script>

    $("#kt_prueba").DataTable({
        "language": {
            "lengthMenu": "Mostrar _MENU_ ",
            "zeroRecords": "No se encontraron resultados",
            "info": "Mostrando página _PAGE_ de _PAGES_",
            "infoEmpty": "No hay registros disponibles",
            "infoFiltered": "(filtrado de _MAX_ registros totales)",
            "search": "Buscar:  ",
            
            "paginate": {
                "first": "Primero",
                "last": "Último",
                "next": "Siguiente",
                "previous": "Anterior"
            },
            "loadingRecords": "Cargando...",
            "processing": "Procesando...",
            "emptyTable": "No hay datos disponibles en la tabla",
            "aria": {
                "sortAscending": ": Activar para ordenar la columna de manera ascendente",
                "sortDescending": ": Activar para ordenar la columna de manera descendente"
            }
        },
        "pageLength": 50,
        "order": [],
        "dom":
            "<'row mb-2'" +
            "<'col-sm-6 d-flex align-items-center justify-conten-start dt-toolbar'l>" +
            "<'col-sm-6 d-flex align-items-center justify-content-end dt-toolbar'f>" +
            ">" +
    
            "<'table-responsive'tr>" +
    
            "<'row'" +
            "<'col-sm-12 col-md-5 d-flex align-items-center justify-content-center justify-content-md-start'i>" +
            "<'col-sm-12 col-md-7 d-flex align-items-center justify-content-center justify-content-md-end'p>" +
            ">"
    });

    $('#edit_vacante').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget);
        var recipient = button.data('cliente_id');
        var modal = $(this);

        $.ajax({ 
            url: '/vacante/api/',
            type: 'GET',
            data: {
                'dato': recipient
            },

            success: function(response) {
    
                modal.find('.modal-title').text('Editar Laboral ID #' + response.data.id)
                modal.find('.modal-body #id_titulo').val(response.data.titulo)
                modal.find('.modal-body #id_numero_posiciones').val(response.data.numero_posiciones)
                modal.find('.modal-body #id_profesion_estudio_id_055').val(response.data.profesion_estudio)
                modal.find('.modal-body #id_experiencia_requerida').val(response.data.experiencia)
                modal.find('.modal-body #soft_skills').val(response.data.telefono)
                modal.find('.modal-body #hard_skills').text(response.data.perfil_empresarial)
                modal.find('.modal-body #id_funciones_responsabilidades').text(response.data.funciones_responsabilidades) 
                modal.find('.modal-body #id_salario').val(response.data.salario) 
                var $select2 = modal.find('.modal-body #id_ciudad');
                $select2.val(response.data.ciudad).trigger('change'); 
                console.log(response.data.numero_posiciones)

                // Manejar el checkbox
                if (response.data.grado_en) {
                    modal.find('.modal-body #id_grado_en').prop('checked', true);
                } else {
                    modal.find('.modal-body #id_grado_en').prop('checked', false);
                }

                // Manejar el select2
                var $select2 = modal.find('.modal-body #id_ciudad_id_004');
                $select2.val(response.data.ciudad_id_004).trigger('change'); // Actualiza el valor y refleja el cambio

                // (Opcional) Reinicializar select2 si es necesario
                // $select2.select2('destroy').select2();

            },
            error: function(response) {
                console.log(response.error);
            }
        })
    })

    var input1 = document.querySelector("#soft_skills");
    new Tagify(input1);
    
    var input2 = document.querySelector("#hard_skills");
    new Tagify(input2);

    


</script>

<script>
    document.addEventListener("DOMContentLoaded", function() {
        // Si el formulario tiene errores, reabrir el modal
        {% if form.errors %}
        var myModal = new bootstrap.Modal(document.getElementById('modal_vacante'));
        myModal.show();
        {% endif %}
    });
</script>
{% endblock extrajs %}