{% extends 'base/base.html' %}

{% load static %}

{% block title %} ATS Listado Vacantes {% endblock title %}

{% block titulo_pagina %} Listado Vacantes {% endblock titulo_pagina %}

{% block titulo-pagina %}
    Listado de Vacantes
{% endblock titulo-pagina %}

{% block navegacion %}
    <li class="breadcrumb-item text-white opacity-75">Listado Vacantes</li>
    
    <!-- <li class="breadcrumb-item">
        <span class="bullet bg-white opacity-75 w-5px h-2px"></span>
    </li>
    
    <li class="breadcrumb-item text-white opacity-75">Multipurpose</li> -->
{% endblock navegacion %}

{% block content %}

{% endblock content %}

{% block extrajs %}

{% endblock extrajs %}