{% extends 'base/base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% load humanize %}
{% block title %} Vacantes Aplicadas {% endblock title %}

{% block titulo_pagina %} Vacantes Aplicadas {% endblock titulo_pagina %}

{% block navegacion %}
    <li class="breadcrumb-item text-white opacity-75">Vacantes Aplicadas</li>
{% endblock navegacion %}

{% block css %}
.asteriskField {
    color: red !important;
}
{% endblock css %}

{% block boton_volver %}
    <a href="{% url 'accesses:inicio' %}" class="btn btn-primary my-2"">Volver</a>
{% endblock boton_volver %}

{% block content %}
<div class="card">
    <div class="card-header border-0 pt-6">
        <div class="card-title">
            <h2>Vacantes</h2>
        </div>
        <div class="card-toolbar">
            <div class="d-flex justify-content-end" data-kt-user-table-toolbar="base">
                
            </div>
        </div>
    </div>
    
    <div class="card-body py-4">
        <table id="kt_listado_reclutados" class="table align-middle table-row-dashed fs-6 gy-5">
            <thead>
                <tr class="fw-bold fs-6 text-gray-800 px-7">
                    <th style="text-align: center">ID</th>
                    <th style="text-align: center">EMPRESA</th>
                    <th style="text-align: center">VACANTE</th>
                    <th style="text-align: center">CIUDAD</th>
                    <th style="text-align: center">SALARIO</th>
                    <th style="text-align: center">APLICACIÓN</th>
                    <th style="text-align: center">ESTADO RECLUTAMIENTO</th>
                    <th style="text-align: center">DETALLE</th>
                    
                </tr>
            </thead>
            <tbody>
                
                {% for e in vacante_aplicada %}
                <tr>
                    <td style="text-align: center">{{e.id}}</td>
                    <td style="text-align: center">{{e.cliente_razon_social}}</td>
                    <td style="text-align: center">{{e.vacante_titulo}}</td>
                    <td style="text-align: center">{{e.vacante_ciudad}}</td>
                    <td style="text-align: center">$. {{ e.vacante_salario|floatformat:2|intcomma }}</td>
                    <td style="text-align: center">{{e.fecha_aplicacion | date:"Y/m/d"}}</td>
                    <td style="text-align: center">
                        {% if e.estado_aplicacion == 1 %}
                            <span class="badge badge-light-primary">{{e.aplicacion_vacante_estado}}</span>
                        {% elif e.estado_aplicacion == 2 %}
                            <span class="badge badge-light-warning">{{e.aplicacion_vacante_estado}}</span>
                        {% elif e.estado_aplicacion == 3 %}
                            <span class="badge badge-light-success">{{e.aplicacion_vacante_estado}}</span>
                        {% elif e.estado_aplicacion == 4 %}
                            <span class="badge badge-light-danger">{{e.aplicacion_vacante_estado}}</span>
                        {% elif e.estado_aplicacion == 5 %}
                            <span class="badge badge-light-primary">{{e.aplicacion_vacante_estado}}</span>
                        {% elif e.estado_aplicacion == 6 %}
                            <span class="badge badge-light-success">{{e.aplicacion_vacante_estado}}</span>
                        {% elif e.estado_aplicacion == 7 %}
                            <span class="badge badge-light-danger">{{e.aplicacion_vacante_estado}}</span>
                        {% elif e.estado_aplicacion == 8 %}
                            <span class="badge badge-light-success">{{e.aplicacion_vacante_estado}}</span>
                        {% elif e.estado_aplicacion == 9 %}
                            <span class="badge badge-light-secondary">{{e.aplicacion_vacante_estado}}</span>
                        {% elif e.estado_aplicacion == 10 %}
                            <span class="badge badge-light-secondary">{{e.aplicacion_vacante_estado}}</span>
                        {% elif e.estado_aplicacion == 11 %}
                            <span class="badge badge-light-secondary">{{e.aplicacion_vacante_estado}}</span>
                        {% elif e.estado_aplicacion == 12 %}
                            <span class="badge badge-light-danger">{{e.aplicacion_vacante_estado}}</span>
                        {% endif %}    
                    </td>
                    <td style="text-align: center">
                        <a href="{% url 'vacantes:vacante_detalle' e.vacante_id %}" class="btn btn-light-primary btn-sm">
                            <i class="bi bi-search"></i>
                        </a>
                    </td>
                    
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock content %}

{% block extrajs %}
<script>

    $("#kt_listado_reclutados").DataTable({
        "language": {
            "lengthMenu": "Mostrar _MENU_ ",
            "zeroRecords": "No se encontraron resultados",
            "info": "Mostrando página _PAGE_ de _PAGES_",
            "infoEmpty": "No hay registros disponibles",
            "infoFiltered": "(filtrado de _MAX_ registros totales)",
            "search": "Buscar:  ",
            "paginate": {
                "first": "Primero",
                "last": "Último",
                "next": "Siguiente",
                "previous": "Anterior"
            },
            "loadingRecords": "Cargando...",
            "processing": "Procesando...",
            "emptyTable": "No hay datos disponibles en la tabla",
            "aria": {
                "sortAscending": ": Activar para ordenar la columna de manera ascendente",
                "sortDescending": ": Activar para ordenar la columna de manera descendente"
            }
        },
        "order":[],
        "dom":
            "<'row mb-2'" +
            "<'col-sm-6 d-flex align-items-center justify-conten-start dt-toolbar'l>" +
            "<'col-sm-6 d-flex align-items-center justify-content-end dt-toolbar'f>" +
            ">" +
    
            "<'table-responsive'tr>" +
    
            "<'row'" +
            "<'col-sm-12 col-md-5 d-flex align-items-center justify-content-center justify-content-md-start'i>" +
            "<'col-sm-12 col-md-7 d-flex align-items-center justify-content-center justify-content-md-end'p>" +
            ">"
    });

</script>
{% endblock extrajs %}