{% extends 'base/base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %} ATS Emparejamiento Vacantes {% endblock title %}

{% block titulo_pagina %} Emparejamiento Vacantes {% endblock titulo_pagina %}

{% block titulo-pagina %}
    Emparejamiento Vacantes
{% endblock titulo-pagina %}

{% block navegacion %}
    <li class="breadcrumb-item text-white opacity-75">Emparejamiento Vacantes</li>
    
    <!-- <li class="breadcrumb-item">
        <span class="bullet bg-white opacity-75 w-5px h-2px"></span>
    </li>
    
    <li class="breadcrumb-item text-white opacity-75">Multipurpose</li> -->
{% endblock navegacion %}
    {% block css %}
    .asteriskField {
            color: red !important;
            }
    {% endblock css %}
{% block boton_volver %}
    <a href="{% url 'accesses:inicio' %}" class="btn btn-primary my-2"">Volver</a>
{% endblock boton_volver %}

{% block content %}

<div class="card card-page mb-5">
    <div style="display: flex; justify-content: center; align-items: center;"   class="card-header bg-light-primary ">
        <h3 style="display: flex; justify-content: center; align-items: center;"   class="card-title flex-column">
            <span class="card-label fw-bold text-primary">AFINIDAD CANDIDATO / VACANTE</span>
            <span class="text-primary mt-1 fw-semibold fs-7">Datos</span>
        </h3>
    </div>

    <div class="card-body">
        
        <div class="row gy-5 g-xl-8">
            <div class="col-xxl-4">
                <div class="card card-xxl-stretch">
                    <div style="display: flex; justify-content: center; align-items: center;" class="card-header bg-light-primary border-0 pt-5 pb-3">
                        <h3 class="card-title text-primary fw-bold c fs-2">CANDIDATO</h3>
                        <div class="card-toolbar">
                            
                        </div>
                    </div>
                    <div class="card-body text-center">
                        <div class="justify-content-between align-items-center border-bottom py-3">
                            <div>
                                <h5 class="m-0 text-primary">{{ candidato.primer_nombre }} {{ candidato.segundo_nombre }} {{ candidato.primer_apellido }} {{ candidato.segundo_apellido}}</h5>
                                <span>Nombre</span>
                            </div>
                            <span class="text-muted"></span>
                        </div>
                        <div class="justify-content-between align-items-center border-bottom py-3">
                            <div>
                                <h5 class="m-0 text-primary">{{ candidato.email }}</h5>
                                <span>Correo</span>
                            </div>
                            <span class="text-muted"></span>
                        </div>
                        <div class="justify-content-between align-items-center border-bottom py-3">
                            <div>
                                <h5 class="m-0 text-primary">{{ candidato.fecha_nacimiento }}</h5>
                                <span>Fecha Nacimiento</span>
                            </div>
                            <span class="text-muted"></span>
                        </div>
                        <div class="justify-content-between align-items-center border-bottom py-3">
                            <div>
                                <h5 class="m-0 text-primary">{{ candidato.telefono }}</h5>
                                <span>Teléfono</span>
                            </div>
                            <span class="text-muted"></span>
                        </div>
                        <div class="justify-content-between align-items-center border-bottom py-3">
                            <div>
                                <h5 class="m-0 text-primary">{{ candidato.ciudad_id_004.nombre }}</h5>
                                <span>Ciudad</span>
                            </div>
                            <span class="text-muted"></span>
                        </div>
                        
                    </div>

                    <div style="display: flex; justify-content: center; align-items: center;" class="card-header bg-light-primary border-0 pt-5 pb-3">
                        <h3 class="card-title text-primary fw-bold c fs-2">INFORMACIÓN LABORAL</h3>
                        <div class="card-toolbar">
                            
                        </div>
                    </div>
                    <div class="card-body mb-5">
                        {% for experiencia in candidato.can102experiencia_set.all %}
                        <div class="d-flex justify-content-between align-items-center border-bottom py-3">
                            <div>
                                <h5 class="m-0 text-primary">{{ experiencia.cargo }}</h5>
                                <span>{{ experiencia.entidad }}</span>
                            </div>
                            <span class="text-muted">{{ experiencia.fecha_inicial | date:"Y/m/d" }} - {{ experiencia.fecha_final | date:"Y/m/d" }} <b>(1 año)</b></span>
                        </div>
                        {% empty %}
                        <p class="text-muted">No tiene experiencia laboral registrada.</p>
                        {% endfor %}
                    </div>

                    <div style="display: flex; justify-content: center; align-items: center;" class="card-header bg-light-primary border-0 pt-5 pb-3">
                        <h3 class="card-title text-primary fw-bold c fs-2">INFORMACIÓN ACADEMICA</h3>
                        <div class="card-toolbar">
                            
                        </div>
                    </div>

                    <div class="card-body mb-5">
                        {% for educacion in candidato.can103educacion_set.all %}
                        <div class="d-flex justify-content-between align-items-center border-bottom py-3">
                            <div>
                                <h5 class="m-0 text-primary">{{ educacion.titulo }}</h5>
                                <span class="text-muted">{{ educacion.institucion }}</span>
                            </div>
                            <span class="text-muted">{{ educacion.fecha_inicial }} - {{ educacion.fecha_final }}</span>
                        </div>
                        {% empty %}
                        <p class="text-muted">No tiene educación registrada.</p>
                        {% endfor %}
                    </div>

                    <div style="display: flex; justify-content: center; align-items: center;" class="card-header bg-light-primary border-0 pt-5 pb-3">
                        <h3 class="card-title text-primary fw-bold c fs-2">HABILIDADES</h3>
                        <div class="card-toolbar">
                            
                        </div>
                    </div>

                    <div class="card-body text-center mb-5">
                        <div class="justify-content-between align-items-center border-bottom py-3">
                            <div>
                                {% for skill in candidato.skills.all %}
                                <span class="m-0 badge badge-light-primary fs-5">{{ skill.nombre }}</span>
                                {% empty %}
                                    No hay habilidades blandas asociadas.
                                {% endfor %}
                                <br>
                                <span>Habilidades</span>
                            </div>
                            <span class="text-muted"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xxl-4">
                <div class="card card-xxl-stretch">
                    <div style="display: flex; justify-content: center; align-items: center;" class="card-header bg-light-primary border-0 pt-5 pb-3">
                        <h3 class="card-title text-primary fw-bold c fs-2">RESUMEN</h3>
                        <div class="card-toolbar">
                            
                        </div>
                    </div>
                    <div class="card-body mb-2">
                        <div class="table-responsive">
                            <table class="table align-middle table-row-bordered table-row-dashed gy-5" id="kt_table_widget_1">
                                <tbody>
                                    
                                    <tr class="text-start text-gray-500 fw-bolder fs-7 text-uppercase">
                                        <th class="min-w-200px px-0">Emparejamiento</th>
                                        <th class="min-w-125px text-center">Medición</th>
                                        <th class="min-w-125px text-center">Resultado</th>
                                    </tr>
                                    
                                    <tr>
                                        
                                        <td class="p-0">
                                            <div class="d-flex align-items-center">
                                            
                                            <div class="symbol symbol-40px symbol-circle me-4">
                                                <span class="symbol-label bg-light-primary">
                                                    <i class="ki-duotone ki-user fs-1 text-primary">
                                                        <span class="path1"></span>
                                                        <span class="path2"></span>
                                                    </i>
                                                </span>
                                            </div>
                                            
                                                <div class="ps-3">
                                                    <a href="account/overview.html" class="text-gray-800 fw-bolder fs-5 text-hover-primary mb-1">Experiencia Laboral</a>
                                                    <span class="text-gray-500 fw-semibold d-block">Medición Emparejamiento</span>
                                                </div>
                                            </div>
                                        </td>
                                        
                                        <td>
                                            <div class="d-flex flex-column w-100 me-2 mt-2 text-center">
                                                <span class="text-gray-500 me-2 fw-bolder mb-2">65%</span>
                                                <div class="progress bg-light-danger w-100 h-5px">
                                                    <div class="progress-bar bg-danger" role="progressbar" style="width: 65%"></div>
                                                </div>
                                            </div>
                                        </td>
                                        <td class="text-center">
                                            <div class="text-danger fw-bolder fs-2x">20%</div>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td class="p-0">
                                            <div class="d-flex align-items-center">
                                            
                                            <div class="symbol symbol-40px symbol-circle me-4">
                                                <span class="symbol-label bg-light-primary">
                                                    <i class="ki-duotone ki-user fs-1 text-primary">
                                                        <span class="path1"></span>
                                                        <span class="path2"></span>
                                                    </i>
                                                </span>
                                            </div>
                                            
                                                <div class="ps-3">
                                                    <a href="account/overview.html" class="text-gray-800 fw-bolder fs-5 text-hover-primary mb-1">Match Academico</a>
                                                    <span class="text-gray-500 fw-semibold d-block">Medición Emparejamiento</span>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="d-flex flex-column w-100 me-2 mt-2 text-center">
                                                <span class="text-gray-500 me-2 fw-bolder mb-2">65%</span>
                                                <div class="progress bg-light-danger w-100 h-5px">
                                                    <div class="progress-bar bg-danger" role="progressbar" style="width: 65%"></div>
                                                </div>
                                            </div>
                                        </td>
                                        <td class="text-center">
                                            <div class="text-danger fw-bolder fs-2x">20%</div>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td class="p-0">
                                            <div class="d-flex align-items-center">
                                            
                                            <div class="symbol symbol-40px symbol-circle me-4">
                                                <span class="symbol-label bg-light-primary">
                                                    <i class="ki-duotone ki-user fs-1 text-primary">
                                                        <span class="path1"></span>
                                                        <span class="path2"></span>
                                                    </i>
                                                </span>
                                            </div>
                                            
                                                <div class="ps-3">
                                                    <a href="account/overview.html" class="text-gray-800 fw-bolder fs-5 text-hover-primary mb-1">Match Habilidades</a>
                                                    <span class="text-gray-500 fw-semibold d-block">Medición Emparejamiento</span>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="d-flex flex-column w-100 me-2 mt-2 text-center">
                                                <span class="text-gray-500 me-2 fw-bolder mb-2">65%</span>
                                                <div class="progress bg-light-danger w-100 h-5px">
                                                    <div class="progress-bar bg-danger" role="progressbar" style="width: 65%"></div>
                                                </div>
                                            </div>
                                        </td>
                                        <td class="text-center">
                                            <div class="text-danger fw-bolder fs-2x">20%</div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="p-0">
                                            
                                        </td>
                                        <td class="text-end">
                                            <h3 class="text-primary"> TOTAL</h3>
                                        </td>
                                        <td class="text-center">
                                            <div class="text-danger fw-bolder fs-2x">20%</div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xxl-4">
                <div class="card card-xxl-stretch">
                    <div style="display: flex; justify-content: center; align-items: center;" class="card-header bg-light-primary border-0 pt-5 pb-3">
                        <h3 class="card-title text-primary fw-bold c fs-2">DATOS VACANTE</h3>
                        <div class="card-toolbar">
                            
                        </div>
                    </div>
                    <div class="card-body text-center">
                        <div class="justify-content-between align-items-center border-bottom py-3">
                            <div>
                                <h5 class="m-0 text-primary">{{ vacante.titulo}}</h5>
                                <span>Titulo Vacante</span>
                            </div>
                            <span class="text-muted"></span>
                        </div>
                        <div class="justify-content-between align-items-center border-bottom py-3">
                            <div>
                                <h5 class="m-0 text-primary">{{ vacante.cliente_id_051.razon_social }}</h5>
                                <span>Cliente</span>
                            </div>
                            <span class="text-muted"></span>
                        </div>
                        <div class="justify-content-between align-items-center border-bottom py-3">
                            <div>
                                <h5 class="m-0 text-primary">{{ vacante.salario|default:"No especificado" }}</h5>
                                <span>Salario</span>
                            </div>
                            <span class="text-muted"></span>
                        </div>
                        <div class="justify-content-between align-items-center border-bottom py-3">
                            <div>
                                <h5 class="m-0 text-primary">{{ vacante.numero_posiciones }}</h5>
                                <span>Número de Vacantes</span>
                            </div>
                            <span class="text-muted"></span>
                        </div>
                        <div class="justify-content-between align-items-center border-bottom py-3">
                            <div>
                                <h5 class="m-0 text-primary">{{ vacante.ciudad.nombre }}</h5>
                                <span>Ciudad</span>
                            </div>
                            <span class="text-muted"></span>
                        </div>
                        <div class="justify-content-between align-items-center border-bottom py-3">
                            <div>
                                <h5 class="m-0 text-primary">{{ vacante.profesion_estudio_id_055.nombre }}</h5>
                                <span>Profesión / Estudio Solicitados</span>
                            </div>
                            <span class="text-muted"></span>
                        </div>
                        <div class="justify-content-between align-items-center border-bottom py-3">
                            <div>
                                <h5 class="m-0 text-primary">{{ vacante.get_experiencia_requerida_display }}</h5>
                                <span>Tiempo Experiencia</span>
                            </div>
                            <span class="text-muted"></span>
                        </div>
                        <div class="d-flex justify-content-between align-items-center border-bottom py-3">
                            <div>
                                <h5 class="m-0 text-primary">{{ vacante.funciones_responsabilidades }}</h5>
                                <span>Funciones y Responsabilidades</span>
                            </div>
                            <span class="text-muted"></span>
                        </div>
                        <div class="justify-content-between align-items-center border-bottom py-3">
                            <div>
                                {% for soft_skill in vacante.soft_skills_id_053.all %}
                                <span class="m-0 badge badge-light-primary fs-5">{{ soft_skill.nombre }}</span>
                                {% empty %}
                                    No hay habilidades blandas asociadas.
                                {% endfor %}
                                <br>
                                <span>Habilidades Blandas</span>
                            </div>
                            <span class="text-muted"></span>
                        </div>
                        <div class="justify-content-between align-items-center border-bottom py-3">
                            <div>
                                {% for hard_skill in vacante.hard_skills_id_054.all %}
                                <span class="m-0 badge badge-light-primary fs-5">{{ hard_skill.nombre }}</span>
                                {% empty %}
                                    No hay habilidades blandas asociadas.
                                {% endfor %}
                                <br>
                                <span>Habilidades Fuertes</span>
                            </div>
                            <span class="text-muted"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div>

{% endblock content %}

{% block extrajs %}


{% endblock extrajs %}