{% extends 'base/base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %} ATS Listado Vacantes {% endblock title %}

{% block titulo_pagina %} Listado Vacantes {% endblock titulo_pagina %}

{% block titulo-pagina %}
    Listado de Vacantes
{% endblock titulo-pagina %}

{% block navegacion %}
    <li class="breadcrumb-item text-white opacity-75">Listado Vacantes</li>
    
    <!-- <li class="breadcrumb-item">
        <span class="bullet bg-white opacity-75 w-5px h-2px"></span>
    </li>
    
    <li class="breadcrumb-item text-white opacity-75">Multipurpose</li> -->
{% endblock navegacion %}


			
    {% block css %}
    .asteriskField {
            color: red !important;
            }
    {% endblock css %}

{% block content %}
<div class="card shadow-sm">
    <div class="card-header">
        <h3 class="card-title">Title</h3>
        <div class="card-toolbar">
            
        </div>
    </div>
    <div class="card-body">
        <table id="kt_datatable_dom_positioning" class="table table-striped table-row-bordered gy-5 gs-7 border rounded">
            <thead>
                <tr class="fw-bold fs-6 text-gray-800 px-7">
                    <th>CLIENTE</th>
                    <th>TITULO</th>
                    <th>CANDIDATO</th>
                    <th>FECHA</th>
                    <th>HORA</th>
                    <th>LUGAR ENLACE</th>
                </tr>
            </thead>
            <tbody>
                {% for e in asignaciones %}
                    <tr>
                        <td>{{e.razon_social}}</td>
                        <td>{{e.titulo_vacante}}</td>
                        <td>{{e.primer_nombre}} {{e.segundo_nombre}} {{e.primer_apellido}}  {{e.segundo_apellido}}</td>
                        <td>{{e.fecha_entrevista}}</td>
                        <td>{{e.hora_entrevista}}</td>
                        <td>{{e.lugar_enlace}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="card-footer">
        Pie Página
    </div>
</div>

{% endblock content %}

{% block extrajs %}
<script>
    $("#kt_datatable_dom_positioning").DataTable({
        "language": {
            "lengthMenu": "Show _MENU_",
        },
        "dom":
            "<'row mb-2'" +
            "<'col-sm-6 d-flex align-items-center justify-conten-start dt-toolbar'l>" +
            "<'col-sm-6 d-flex align-items-center justify-content-end dt-toolbar'f>" +
            ">" +
    
            "<'table-responsive'tr>" +
    
            "<'row'" +
            "<'col-sm-12 col-md-5 d-flex align-items-center justify-content-center justify-content-md-start'i>" +
            "<'col-sm-12 col-md-7 d-flex align-items-center justify-content-center justify-content-md-end'p>" +
            ">"
    });
</script>
{% endblock extrajs %}