{% load static %}

<div class="card shadow-sm">
    <div class="card-body">
        <div class="row">
            <div class="col">
                <div class="card shadow-sm">
                    <div class="card-header">
                        <h3 class="card-title">Entrevistas Pendientes</h3>
                        <div class="card-toolbar">
                            
                        </div>
                    </div>
                    <div class="card-body"><table id="kt_datatable_dom_positioning" class="table table-striped table-row-bordered gy-5 gs-7 border rounded">
                            <thead>
                                <tr class="fw-bold fs-6 text-gray-800 px-7">
                                    <th>Empresa</th>
                                    <th>Vacante</th>
                                    <th>Fecha Entrevista</th>
                                    <th>Hora Entrevista</th>
                                    <th>Lugar</th>
                                    <th>Ver</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for e in entrevistas_pendiente_candidato %}
                                    <tr>
                                        <td>{{e.razon_social}}</td>
                                        <td>{{e.titulo_vacante}}</td>
                                        <td>{{e.fecha_entrevista}}</td>
                                        <td>{{e.hora_entrevista}}</td>
                                        <td>{{e.lugar_enlace}}</td>
                                        <td>Ver</td>
                                    </tr>
                                {% empty %}
                                        <p>No hay vacantes pendientes.</p>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% block extrajs %}


<script>
    $("#kt_datatable_dom_positioning").DataTable({
        "language": {
            "lengthMenu": "Show _MENU_",
        },
        "dom":
            "<'row mb-2'" +
            "<'col-sm-6 d-flex align-items-center justify-conten-start dt-toolbar'l>" +
            "<'col-sm-6 d-flex align-items-center justify-content-end dt-toolbar'f>" +
            ">" +
    
            "<'table-responsive'tr>" +
    
            "<'row'" +
            "<'col-sm-12 col-md-5 d-flex align-items-center justify-content-center justify-content-md-start'i>" +
            "<'col-sm-12 col-md-7 d-flex align-items-center justify-content-center justify-content-md-end'p>" +
            ">"
    });
</script>
{% endblock extrajs %}