{% extends 'base/base.html' %}

{% load crispy_forms_tags %}

{% load static %}

{% block title %} ATS Atiempo | Información Laboral {% endblock title %}

{% block titulo_pagina %} Información Laboral {% endblock titulo_pagina %}

{% block css %}
    .fixed-size-textarea {
        resize: none; /* Desactiva el redimensionamiento */
    }

    .asteriskField {
        color: red !important;
    }
{% endblock css %}

{% block boton_volver %}
    {% if 'acceso_admin' in request.permisos_usuario %}
        <a href="{% url 'candidatos:candidato_listar' %}" class="btn btn-primary my-2">Volver</a>
    {% endif %}
    {% if 'acceso_candidato' in request.permisos_usuario %}
        <a href="{% url 'accesses:inicio' %}" class="btn btn-primary my-2">Volver</a>
    {% endif %}
{% endblock boton_volver %}

{% block navegacion %}
    {% if 'acceso_admin' in request.permisos_usuario %}
    <li class="breadcrumb-item text-white opacity-75">
        <a href="{% url 'candidatos:candidato_listar' %}" class="text-white text-hover-primary">Listado Candidatos</a>
    </li>
    <li class="breadcrumb-item">
        <span class="bullet bg-white opacity-75 w-5px h-2px"></span>
    </li>
    {% endif %}
    
    <li class="breadcrumb-item text-white opacity-75">
        <a href="{% url 'candidatos:candidato_editar' candidato.id  %}" class="text-white text-hover-primary">Información Personal</a>
    </li>

    <li class="breadcrumb-item">
        <span class="bullet bg-white opacity-75 w-5px h-2px"></span>
    </li>

    <li class="breadcrumb-item text-white opacity-75">Información Laboral</li>
{% endblock navegacion %}


{% block content %}

<div class="d-flex flex-column flex-xl-row">
    <!--begin::Sidebar-->
    <div class="flex-column flex-lg-row-auto w-100 w-xl-300px mb-10">
        <!--begin::Card-->
        <div class="card card-flush" data-kt-sticky="true" data-kt-sticky-name="account-navbar" data-kt-sticky-offset="{default: false, xl: '80px'}" data-kt-sticky-height-offset="50" data-kt-sticky-width="{lg: '250px', xl: '300px'}" data-kt-sticky-left="auto" data-kt-sticky-top="90px" data-kt-sticky-animation="false" data-kt-sticky-zindex="95">
            <!--begin::Card header-->
            <div class="card-header justify-content-end">
                <!--begin::Toolbar-->
                <div class="card-toolbar">
                    
                </div>
            </div>
            
            {% include 'candidato/base_candidato_perfil/base_perfil.html' %}
        </div>
    </div>

    <div class="flex-lg-row-fluid ms-lg-10">
        <div class="row g-xxl-9">
            <div class="col-xxl-12">
                <div class="card">
                    <div class="card-header border-0 pt-6">
                        <div class="card-title">
                            {% comment %} <div class="d-flex align-items-center position-relative my-1">
                                <i class="ki-duotone ki-magnifier fs-3 position-absolute ms-5">
                                    <span class="path1"></span>
                                    <span class="path2"></span>
                                </i>
                                <input type="text" data-kt-user-table-filter="search" class="form-control form-control-solid w-250px ps-13" placeholder="Buscar..." />
                            </div> {% endcomment %}
                        </div>
                        <div class="card-toolbar">
                            <div class="d-flex justify-content-end" data-kt-user-table-toolbar="base">
                                <button type="button" class="btn btn-light-info" data-bs-toggle="modal" data-bs-target="#modal1">
                                    <i class="ki-duotone ki-plus fs-2"></i> Nueva Experiencia 
                                </button>
                            </div>
                        </div>
                    </div>
                    
                    <div class="card-body py-4">
                        <div class="table-responsive">
                            <table class="table table-striped table-row-bordered gy-5 gs-7" id="kt_table_experiencia">
                                <thead>
                                    <tr class="text-start text-muted fw-bold fs-7 text-uppercase gs-0">
                                        <th style="text-align: center;" class="min-w-125px">Entidad</th>
                                        <th style="text-align: center;" class="min-w-125px">Sector</th>
                                        <th style="text-align: center;" class="min-w-125px">Fecha Inicial</th>
                                        <th style="text-align: center;" class="min-w-125px">Fecha Final</th>
                                        <th style="text-align: center;" class="min-w-125px">Activo</th>
                                        <th style="text-align: center;" class="min-w-125px">Cargo</th>
                                        <th style="text-align: center;" class="text-end min-w-100px">Actions</th>
                                    </tr>
                                </thead>
                                <tbody class="text-gray-600 fw-semibold">
                                    {% for e in experiencias %}
                                        <tr>
                                            <td style="text-align: center;">{{ e.entidad }}</td>
                                            <td style="text-align: center;">{{ e.sector }}</td>
                                            <td style="text-align: center;">{{ e.fecha_inicial }}</td>
                                            <td style="text-align: center;">
                                                {% if e.activo %}
                                                    <i class="fa-solid fa-grip-lines"></i>
                                                {% else %}
                                                    {{ e.fecha_final }}
                                                {% endif %}

                                            </td>
                                            <td style="text-align: center;">

                                                {% if e.activo %}
                                                    <i class="fa-solid fa-circle-check  fs-4 text-success"></i>
                                                {% else %}
                                                    <i class="fa-solid fa-fire fs-4 text-danger"></i>
                                                {% endif %}
                                            </td>
                                            <td style="text-align: center;">{{ e.cargo }}</td>
                                            <td class="align-items-center">
                                                <!-- Botón 1 -->
                                                <button type="button" class="btn btn-icon btn-primary text-center" data-bs-toggle="modal" data-bs-target="#modal2" data-cliente_id="{{ e.id }}">
                                                    <i class="fa-solid fa-file-pen fs-4"></i>
                                                </button>

                                                <!-- Botón 2 -->
                                                <button type="button" class="btn btn-icon btn-danger" data-bs-toggle="modal" data-bs-target="#modal3">
                                                    <i class="fa-solid fa-trash-can fs-4"></i>
                                                </button>
                                            
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




<div class="modal fade" tabindex="-1" id="modal1">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Nueva Información Laboral</h3>
    
                <!--begin::Close-->
                <div class="btn btn-icon btn-sm btn-active-light-primary ms-2" data-bs-dismiss="modal" aria-label="Close">
                    <i class="ki-duotone ki-cross fs-1"><span class="path1"></span><span class="path2"></span></i>
                </div>
                <!--end::Close-->
            </div>
    
            <div class="modal-body">
                {% crispy form %}
            </div>
    
            <div class="modal-footer">
                <button type="button" class="btn btn-light" data-bs-dismiss="modal">Cancelar</button>
                <button type="submit" class="btn btn-primary" form="form_experienciacandidato" >Crear Informacion</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" tabindex="-1" id="modal2">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title"> Editar Informacion Laboral </h3>
    
                <!--begin::Close-->
                <div class="btn btn-icon btn-sm btn-active-light-primary ms-2" data-bs-dismiss="modal" aria-label="Close">
                    <i class="ki-duotone ki-cross fs-1"><span class="path1"></span><span class="path2"></span></i>
                </div>
                <!--end::Close-->
            </div>
    
            <div class="modal-body">
                <form id="form_edit_academi" method="post" action="{% url 'candidatos:laboral_api' %}">
                    {% crispy form %}
                </form>
            </div>
    
            <div class="modal-footer">
                <button type="button" class="btn btn-light" data-bs-dismiss="modal">Cancelar</button>
                <button type="submit" class="btn btn-primary" form="form_edit_academi" >Actualizar</button>
            </div>
        </div>
    </div>
</div>

{% endblock content %}



{% block extrajs %}
<script>
    $(document).ready(function() {
        $('#tablaCliente').DataTable({
            "destroy": true,  // Permite la reinicialización
            "order": [[1, "desc"]]  // Ordena de forma descendente
        });
    
        // Si hay errores en el formulario, aseguramos que el modal se mantenga abierto
        {% if form_errors %}
            $('#modal1').modal('show');
        {% endif %}
    })
    
    $('#modal2').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget);
        
        var recipient = button.data('cliente_id');
        var modal = $(this);

        console.log(modal);
    
        $.ajax({ 
            url: '/candidato/laboral/api/',
            type: 'GET',
            data: {
                'dato': recipient
            },
    
            success: function(response) {
    
                console.log(response.data.id);
                modal.find('.modal-title').text('Editar Laboral ID #' + response.data.id);
                modal.find('.modal-body #id_entidad').val(response.data.entidad);
                modal.find('.modal-body #id_sector').val(response.data.sector);
                modal.find('.modal-body #id_fecha_inicial').val(response.data.fecha_inicial);
                modal.find('.modal-body #id_fecha_final').val(response.data.fecha_final);
                modal.find('.modal-body #id_cargo').val(response.data.cargo);
                modal.find('.modal-body #id_logro').val(response.data.logro);

                // Manejar el checkbox
                if (response.data.activo) {
                    modal.find('.modal-body #id_activo').prop('checked', true);
                } else {
                    modal.find('.modal-body #id_activo').prop('checked', false);
                }
                // (Opcional) Reinicializar select2 si es necesario
                // $select2.select2('destroy').select2();

            },
            error: function(response) {
                console.log(response.error);
            }
        })
    })
</script>
{% endblock extrajs %}