{% extends 'base/base.html' %}

{% load crispy_forms_tags %}

{% load static %}

{% block title %} ATS Atiempo Inicio {% endblock title %}

{% block titulo-pagina %}
CANDIDATO
{% endblock titulo-pagina %}


{% block content %}

<div class="content content-full ">
    <!-- Hero -->
    <div class="rounded border overflow-hidden push">
        <div class="bg-image pt-9" style="background-image: url('{% static 'media/photos/photo19@2x.jpg' %}');"></div>
        <div class="px-4 py-3 bg-body-extra-light d-flex flex-column flex-md-row align-items-center">
            <div class="d-block  mt-n5">
                <img class="img-avatar img-avatar128 img-avatar-thumb" src="{% static 'media/avatars/avatar13.jpg' %}" alt="">
            </div>
            <div class="ms-3 flex-grow-1 text-center text-md-start my-3 my-md-0">
                <h1 class="fs-4 fw-bold mb-1">{{ candidato.primer_nombre }} {{ candidato.primer_apellido }}</h1>
                <h2 class="fs-sm fw-medium text-muted mb-0">
                    {{ candidato.primer_apellido }} {{ candidato.segundo_apellido }}
                </h2>
            </div>
            <div class="space-x-1">
                <div class="dropdown">
                    <button type="button" class="btn btn-success dropdown-toggle" id="dropdown-default-success"
                        data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-fw fa-plus me-1"></i> Agregar
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdown-default-success">
                        <a class="nav-main-link" href="#" data-bs-toggle="modal" data-bs-target="#modal-laboral">Información Laboral</a>
                        <a class="nav-main-link" href="#" data-bs-toggle="modal" data-bs-target="#modal-academica">Información Académica</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="javascript:void(0)">Habilidades</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END Hero -->

    <!-- Edit Account -->
    <div class="block block-bordered block-rounded">
        <ul style="text-align: center;" class="nav nav-tabs nav-tabs-alt" role="tablist">
            <li class="nav-item">
                <button class="nav-link space-x-1 active" id="account-profile-tab" data-bs-toggle="tab"
                    data-bs-target="#account-profile" role="tab" aria-controls="account-profile" aria-selected="true">
                    <i class="fa fa-user-circle d-sm-none"></i>
                    <span class="d-none d-sm-inline">Perfil</span>
                </button>
            </li>
            {% if accion == 'Editar' %}
            <li class="nav-item">
                <button class="nav-link space-x-1" id="informacion-academica-tab" data-bs-toggle="tab"
                    data-bs-target="#informacion-academica" role="tab" aria-controls="informacion-academica"
                    aria-selected="false">
                    <i class="fa fa-asterisk d-sm-none"></i>
                    <span class="d-none d-sm-inline">Información Académica</span>
                </button>
            </li>
            <li class="nav-item">
                <button class="nav-link space-x-1" id="info-laboral-tab" data-bs-toggle="tab" data-bs-target="#info-laboral" role="tab" aria-controls="info-laboral"
                    aria-selected="false">
                    <i class="fa fa-share-alt d-sm-none"></i>
                    <span class="d-none d-sm-inline">Información Laboral</span>
                </button>
            </li>
            <li class="nav-item">
                <button class="nav-link space-x-1" id="account-billing-tab" data-bs-toggle="tab"
                    data-bs-target="#account-billing" role="tab" aria-controls="account-billing" aria-selected="false">
                    <i class="fa fa-credit-card d-sm-none"></i>
                    <span class="d-none d-sm-inline">Habilidades</span>
                </button>
            </li>
            {% endif %}
        </ul>
        <div class="block-content tab-content">
            <div class="tab-pane active" id="account-profile" role="tabpanel" aria-labelledby="account-profile-tab"
                tabindex="0">
                <div class="row push p-sm-2 p-lg-4">
                    <div class="col-md-7">
                        {% crispy form %}
                    </div>
                    <div class="col-md-5">
                        <p class="bg-body-light p-4 rounded-3 text-muted fs-sm">
                            Espacio para Información Relevanta o Resumen de perfil.
                        </p>
                    </div>
                </div>
            </div>
            {% if accion == 'Editar' %}
            <div class="tab-pane" id="informacion-academica" role="tabpanel" aria-labelledby="informacion-academica-tab"
                tabindex="0">
                <div class="row push p-sm-2 p-lg-4">
                    <div class="col-md-12">
                        <table class="table table-bordered table-striped table-vcenter js-dataTable-full-pagination">
                            <thead>
                                <tr>
                                    <th class="text-center">ID</th>
                                    <th class="text-center">INSTITUCION</th>
                                    <th class="text-center">GRADO EN</th>
                                    <th class="text-center">F.INICIAL</th>
                                    <th class="text-center">F.FINAL</th>
                                    <th class="text-center">ACTIVO</th>
                                    
                                    <th class="text-center"></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for est in estudios %}
                                <tr>
                                    <td class="text-center">{{ est.id }}</td>
                                    <td class="text-center">{{ est.institucion }}</td>
                                    <td class="text-center">{{ est.grado_en }}</td>
                                    <td class="text-center">{{ est.fecha_inicial }}</td>
                                    <td class="text-center">{{ est.fecha_final }}</td>
                                    <td class="text-center">{{ est.activo }}</td>
                                    <td class="text-center">
                                        <div class="btn-toolbar mb-2" role="toolbar" aria-label="Icons Alternate Toolbar with button groups">
                                            <div class="btn-group me-2 mb-2" role="group" aria-label="Icons Alternate File group">
                                                
                                                <a href="#" class="btn btn-alt-primary">
                                                    <i class="fa fa-fw fa-edit"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="info-laboral" role="tabpanel" aria-labelledby="info-laboral-tab" tabindex="0">
                <div class="row push p-sm-2 p-lg-4">
                    <div class="col-md-2">
                        <a href="{% url 'candidatos:experiencia_crear' candidato.id %}" class="btn btn-success">
                            <i class="fa fa-fw fa-plus me-1"></i> Agregar
                        </a>
                    </div>
                    <div class="col-md-10">
                        <table class="table table-bordered table-striped table-vcenter js-dataTable-full-pagination">
                            <thead>
                                <tr>
                                    <th class="text-center">ENTIDAD</th>
                                    <th class="text-center">SECTOR</th>
                                    <th class="text-center">ACTIVO</th>
                                    <th class="text-center">F.INICIAL</th>
                                    <th class="text-center">F.FINAL</th>
                                    
                                    <th class="text-center"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="text-center">
                                        
                                    </td>
                                    <td class="text-center"></td>
                                    <td class="text-center"></td>
                                    <td class="text-center"></td>
                                    <td class="text-center"></td>
                                    <td class="text-center"></td>
                                </tr>
                                {% for exp in experiencias %}
                                <tr>
                                    <td class="text-center">{{ exp.entidad }}</td>
                                    <td class="text-center">{{ exp.sector }}</td>
                                    <td class="text-center">{{ exp.activo }}</td>
                                    <td class="text-center">{{ exp.fecha_inicial }}</td>
                                    <td class="text-center">{{ exp.fecha_final }}</td>
                                    <td class="text-center">
                                        <div class="btn-toolbar mb-2" role="toolbar" aria-label="Icons Alternate Toolbar with button groups">
                                            <div class="btn-group me-2 mb-2" role="group" aria-label="Icons Alternate File group">
                                                <a href="#" class="btn btn-alt-primary">
                                                    <i class="fa fa-fw fa-edit"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                {% endfor %}   
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="account-billing" role="tabpanel" aria-labelledby="account-billing-tab"
                tabindex="0">
                <div class="row push p-sm-2 p-lg-4">
                    <div class="offset-xl-1 col-xl-4 order-xl-1">
                        <p class="bg-body-light p-4 rounded-3 text-muted fs-sm">
                            Your billing information is never shown to other users and only used for creating your
                            invoices.
                        </p>
                    </div>
                    <div class="col-xl-6 order-xl-0">
                        <h1>AQUI VOY</h1>
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</div>


{% if accion == 'Editar' %}

<div class="modal fade" id="modal-academica" tabindex="-1" role="dialog" aria-labelledby="modal-default-extra-large" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="block block-rounded block-themed block-transparent mb-0">
                <div class="block-header bg-primary-dark">
                    <h3 class="block-title">Información Académica</h3>
                    <div class="block-options">
                        <button type="button" class="btn-block-option" data-bs-dismiss="modal" aria-label="Close">
                            <i class="fa fa-fw fa-times"></i>
                        </button>
                    </div>
                </div>
                <div class="block-content">
                    {% crispy form_estudio %}
                </div>
                <div class="block-content block-content-full text-end bg-body">
                    <button type="button" class="btn btn-sm btn-alt-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-sm btn-primary" data-bs-dismiss="modal">Done</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal-laboral" tabindex="-1" role="dialog" aria-labelledby="modal-default-large" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="block block-rounded block-themed block-transparent mb-0">
                <div class="block-header bg-primary-dark">
                    <h3 class="block-title">Información Laboral</h3>
                    <div class="block-options">
                        <button type="button" class="btn-block-option" data-bs-dismiss="modal" aria-label="Close">
                            <i class="fa fa-fw fa-times"></i>
                        </button>
                    </div>
                </div>
                <div class="block-content">
                    {% crispy form_experiencia %}
                </div>
                <div class="block-content block-content-full text-end bg-body">
                    <button type="button" class="btn btn-sm btn-alt-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-sm btn-primary" data-bs-dismiss="modal">Done</button>
                </div>
            </div>
        </div>
    </div>
</div>

{% endif %}



{% endblock content %}

