{% extends 'base/base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %} ATS Listado Candidatos {% endblock title %}

{% block titulo_pagina %} Listado Candidatos {% endblock titulo_pagina %}

{% block titulo-pagina %}
    Listado de Candidatos
{% endblock titulo-pagina %}

{% block css %}
    .asteriskField {
        color: red !important;
        }
{% endblock css %}

{% block navegacion %}
    <li class="breadcrumb-item text-white opacity-75">Listado Candidatos</li>
    
    <!-- <li class="breadcrumb-item">
        <span class="bullet bg-white opacity-75 w-5px h-2px"></span>
    </li>
    
    <li class="breadcrumb-item text-white opacity-75">Multipurpose</li> -->
{% endblock navegacion %}

{% block content %}

<div class="card">
    <div class="card-header border-0 pt-6">
        <div class="card-title">
            Listado de Candidatos
        </div>
        <div class="card-toolbar">
            <button type="button" class="btn btn-light-primary" data-bs-toggle="modal" data-bs-target="#modal_candidato">
                + Crear Candidato
            </button>
            <div class="modal fade " tabindex="-1" id="modal_candidato">
                <div class="modal-dialog modal-dialog-scrollable modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Crear Candidato</h5>
                            <div class="btn btn-icon btn-sm btn-active-light-primary ms-2" data-bs-dismiss="modal" aria-label="Close">
                                <i class="ki-duotone ki-cross fs-2x"><span class="path1"></span><span class="path2"></span></i>
                            </div>
                        </div>

                        <div class="modal-body">
                            {% crispy form %} 
                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-light" data-bs-dismiss="modal">Cerrar</button>
                            <button type="submit" class="btn btn-light-success" form="form_candidato">Guardar Candidato</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="card-body py-4">
        

        <table id="kt_candidato" class="table align-middle table-row-dashed fs-6 gy-5">
            <thead>
                <tr class="fw-bold fs-6 text-gray-800 px-7">
                    <th style="text-align: center">PRIMERO APELLIDO</th>
                    <th style="text-align: center">SEGUNDO APELLIDO</th>
                    <th style="text-align: center">PRIMER NOMBRE</th>
                    <th style="text-align: center">SEGUNDO NOMBRE</th>
                    
                    <th style="text-align: center">EMAIL</th>
                    <th style="text-align: center">TELEFONO</th>
                    <th style="text-align: center">FECHA NACIMIENTO</th>
                    <th style="text-align: center">PERFIL COMPLETO</th>
                    <th style="text-align: center">EDITAR</th>
                    <th style="text-align: center">RESUMEN</th>
                </tr>
            </thead>
            <tbody>
                {% for e in candidatos %}
                <tr class="rounded p-10 hover-elevate-up">
                    <td style="text-align: center;">{{ e.primer_apellido }}</td>
                    <td style="text-align: center;">{{ e.segundo_apellido }}</td>
                    <td style="text-align: center;">{{ e.primer_nombre }}</td>
                    <td style="text-align: center;">{{ e.segundo_nombre }}</td>
                    <td style="text-align: center;">{{ e.email }}</td>
                    <td style="text-align: center;">{{ e.telefono |default:"-" }}</td>
                    <td style="text-align: center;">{{ e.fecha_nacimiento | date:"d/m/Y" }}</td>
                    <td style="text-align: center;">
                        {% if e.calcular_porcentaje < 50 %}
                            <span class="badge badge-light-danger">{{ e.calcular_porcentaje }} %</span>
                        {% elif e.calcular_porcentaje < 80 %}
                            <span class="badge badge-light-warning">{{ e.calcular_porcentaje }} %</span>
                        {% else %}
                            <span class="badge badge-light-success">{{ e.calcular_porcentaje }} %</span>
                        {% endif %}
                    </td>
                    <td style="text-align: center;">
                        <a href="{% url 'candidatos:candidato_editar' e.id  %}" class="btn btn-light-primary" title="Editar Candidato">
                            <i class="fa-solid fa-file-pen"></i>
                        </a>
                    </td>
                    <td style="text-align: center;">
                        <a href="{% url 'candidatos:candidato_editar' e.id  %}" class="btn btn-light-warning" title="Resumen Candidato">
                            <i class="fa-solid fa-vcard"></i>
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock content %}

{% block extrajs %}
<script>
    {% if form.errors %}
        var myModal = new bootstrap.Modal(document.getElementById('modal_candidato'));
        myModal.show();
    {% endif %}

    $("#kt_candidato").DataTable({
        "language": {
            "lengthMenu": "Mostrar _MENU_ ",
            "zeroRecords": "No se encontraron resultados",
            "info": "Mostrando página _PAGE_ de _PAGES_",
            "infoEmpty": "No hay registros disponibles",
            "infoFiltered": "(filtrado de _MAX_ registros totales)",
            "search": "Buscar:  ",
            
            "paginate": {
                "first": "Primero",
                "last": "Último",
                "next": "Siguiente",
                "previous": "Anterior"
            },
            "loadingRecords": "Cargando...",
            "processing": "Procesando...",
            "emptyTable": "No hay datos disponibles en la tabla",
            "aria": {
                "sortAscending": ": Activar para ordenar la columna de manera ascendente",
                "sortDescending": ": Activar para ordenar la columna de manera descendente"
            }
        },
        "pageLength": 50,
        "order": [],
        "dom":
            "<'row mb-2'" +
            "<'col-sm-6 d-flex align-items-center justify-conten-start dt-toolbar'l>" +
            "<'col-sm-6 d-flex align-items-center justify-content-end dt-toolbar'f>" +
            ">" +
    
            "<'table-responsive'tr>" +
    
            "<'row'" +
            "<'col-sm-12 col-md-5 d-flex align-items-center justify-content-center justify-content-md-start'i>" +
            "<'col-sm-12 col-md-7 d-flex align-items-center justify-content-center justify-content-md-end'p>" +
            ">"
    });
</script>
{% endblock extrajs %}
