{% extends 'base/base.html' %}

{% load static %}

{% block title %} ATS Listado Experiencia {% endblock title %}

{% block titulo-pagina %}
    Listado de Experiencia de {{candidato.primer_nombre}} {{candidato.segundo_nombre}} {{candidato.primer_apellido}}
{% endblock titulo-pagina %}


{% block content %}
<div class="block block-rounded">
    <div class="block-header block-header-default">
        <h3 class="block-title">
            Experiencia  <small>{{candidato.primer_nombre}} {{candidato.segundo_nombre}} {{candidato.primer_apellido}} {{candidato.id}}</small>
        </h3>
    </div>
    <div class="block-content block-content-full overflow-x-auto">
        <a href="{% url 'candidatos:experiencia_crear' candidato.id %}" class="btn btn-success me-1 mb-3">
            <i class="fa fa-fw fa-plus me-1"></i> Agregar Experiencia
        </a>

        <table class="table table-bordered table-striped table-vcenter js-dataTable-full-pagination">
            <thead>
                <tr>
                    <th class="text-center">ID</th>
                    <th class="text-center">ENTIDAD</th>
                    <th class="text-center">SECTOR</th>
                    <th class="text-center">ACTIVO</th>
                    <th class="text-center">F.INICIAL</th>
                    <th class="text-center">F.FINAL</th>
                    
                    <th class="text-center"></th>
                </tr>
            </thead>
            <tbody>
                {% for exp in experiencias %}
                <tr>
                    <td class="text-center">{{ exp.id }}</td>
                    <td class="text-center">{{ exp.entidad }}</td>
                    <td class="text-center">{{ exp.sector }}</td>
                    <td class="text-center">{{ exp.activo }}</td>
                    <td class="text-center">{{ exp.fecha_inicial }}</td>
                    <td class="text-center">{{ exp.fecha_final }}</td>
                    <td class="text-center">
                        <div class="btn-toolbar mb-2" role="toolbar" aria-label="Icons Alternate Toolbar with button groups">
                            <div class="btn-group me-2 mb-2" role="group" aria-label="Icons Alternate File group">
                                
                                <a href="#" class="btn btn-alt-primary">
                                    <i class="fa fa-fw fa-edit"></i>
                                </a>
                            </div>
                        </div>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock content %}