{% extends 'base/base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %} ATS | Cliente {{cliente.razon_social}} {% endblock title %}

{% block titulo_pagina %} Cliente: {{cliente.razon_social}} {% endblock titulo_pagina %}

{% block navegacion %}
    <a href="{% url 'clientes:cliente_listar' %}" class="breadcrumb-item text-white text-hover-primary"> Listado Clientes</a>
    
    <li class="breadcrumb-item">
        <span class="bullet bg-white opacity-75 w-5px h-2px"></span>
    </li>
    
    <li class="breadcrumb-item text-white opacity-75">Cliente: {{cliente.razon_social}}</li>
{% endblock navegacion %}


{% block css %}
    .asteriskField {
        color: red !important;
    }
    {% endblock css %}

{% block content %}

<div class="row">
    <div class="col-md-3">
        {% include 'cliente/common/cliente_detalle_elemento_fijo.html' %} 
    </div>
    <div class="col-md-9">
        <ul class="nav nav-custom nav-tabs nav-line-tabs nav-line-tabs-2x border-0 fs-4 fw-semibold mb-8">
            {% include 'cliente/common/cliente_menu_detalle.html' %}
        </ul>
        <div class="card shadow-sm">
            <div class="card-body">
                Listado de Vacantes
            </div>  
        </div>
    </div>
</div>

{% endblock content %}

{% block extrajs %}

{% endblock extrajs %}

