{% extends 'base/base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %} ATS | Cliente {{cliente.razon_social}} {% endblock title %}

{% block titulo_pagina %} Vacante: {{vacante.titulo}} {% endblock titulo_pagina %}

{% block navegacion %}
    <a href="{% url 'clientes:cliente_listar' %}" class="breadcrumb-item text-white text-hover-primary"> Listado Clientes</a>
    
    <li class="breadcrumb-item">
        <span class="bullet bg-white opacity-75 w-5px h-2px"></span>
    </li>

    <a href="{% url 'clientes:cliente_detalle' cliente.id %}" class="breadcrumb-item text-white text-hover-primary"> Cliente: {{cliente.razon_social}}</a>
    
    <li class="breadcrumb-item">
        <span class="bullet bg-white opacity-75 w-5px h-2px"></span>
    </li>

    <a href="{% url 'clientes:cliente_vacante' cliente.id %}" class="breadcrumb-item text-white text-hover-primary"> Listado Vacantes</a>
    
    <li class="breadcrumb-item">
        <span class="bullet bg-white opacity-75 w-5px h-2px"></span>
    </li>
    
    <li class="breadcrumb-item text-white opacity-75">{{vacante.titulo}}</li>
{% endblock navegacion %}


{% block css %}
    .asteriskField {
        color: red !important;
    }
    {% endblock css %}

{% block content %}
<div class="row">
    <div class="col-md-4">
        <div class="card shadow-sm">
            <div class="card-header">
                <h3 class="card-title">Detalle Vacante</h3>
                <div class="card-toolbar">
                    <button type="button" class="btn btn-sm btn-light">
                        Editar
                    </button>
                </div>
            </div>
            <div class="card-body">
                
            </div>
            <div class="card-footer">
                Footer
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <ul class="nav nav-custom nav-tabs nav-line-tabs nav-line-tabs-2x border-0 fs-4 fw-semibold mb-8">
            
            <li class="nav-item">
                <a class="nav-link text-active-primary pb-4 active" href="#">RESUMEN</a>
            </li>
            
            <li class="nav-item">
                <a class="nav-link text-active-primary pb-4 " href="{% url 'clientes:cliente_vacante_reclutado' vacante.id %}">RECLUTADOS</a>
            </li>

            <li class="nav-item">
                <a class="nav-link text-active-primary pb-4" href="#">ENTREVISTAS</a>
            </li>

            <li class="nav-item">
                <a class="nav-link text-active-primary pb-4" href="#">PRE ENTREVISTA</a>
            </li>
            
            {% comment %} <li class="nav-item">
                <a class="nav-link text-active-primary pb-4" data-kt-countup-tabs="true" data-bs-toggle="tab" href="#kt_customer_view_overview_statements">Configuración</a>
            </li> {% endcomment %}
            
        </ul>
        <div class="card shadow-sm">
            <div class="card-header">
                <h3 class="card-title">Personal Reclutado</h3>
                <div class="card-toolbar">
                    <button type="button" class="btn btn-sm btn-light">
                        Action
                    </button>
                </div>
            </div>
            <div class="card-body">
                <table id="kt_listado_reclutados" class="table table-striped table-row-bordered gy-5 gs-7 border rounded">
                    <thead>
                        <tr class="fw-bold fs-6 text-gray-800 px-7">
                            <th>CANDIDATO</th>
                            <th>FECHA APLICACION</th>
                            <th>SCORE</th>
                            <th>PRE ENTRETIVSTA</th>
                            <th>ENTREVISTA</th>
                            <th style="text-align: center;">VER</th>
                        </tr>
                    </thead>
                    <tbody>
                        
                        {% for e in candidato_aplicante %}
                        <tr>
                            <td>{{e.candidato_101.primer_nombre}} {{e.candidato_101.segundo_apellido}} {{e.candidato_101.primer_apellido}} {{e.candidato_101.segundo_apellido}}</td>
                            <td>{{e.fecha_aplicacion}}</td>
                            <td>70%</td>
                            <td>Pendiente</td>
                            <td>Pendiente</td>

                            <td style="text-align: center;">
                                <a href="#" class="btn btn-light-primary">
                                    <i class="ki-duotone ki-profile-user fs-1">
                                        <span class="path1"></span>
                                        <span class="path2"></span>
                                        <span class="path3"></span>
                                    </i>
                                </a>
                            </td>
                        </tr> 
                        {% endfor %}
                            
                        
                        
                    </tbody>
                </table>
            </div>
            <div class="card-footer">
                Footer
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block extrajs %}
<script>
    $("#kt_listado_reclutados").DataTable({
        "language": {
            "lengthMenu": "Mostrar _MENU_ ",
            "zeroRecords": "No se encontraron resultados",
            "info": "Mostrando página _PAGE_ de _PAGES_",
            "infoEmpty": "No hay registros disponibles",
            "infoFiltered": "(filtrado de _MAX_ registros totales)",
            "search": "Buscar:  ",
            "paginate": {
                "first": "Primero",
                "last": "Último",
                "next": "Siguiente",
                "previous": "Anterior"
            },
            "loadingRecords": "Cargando...",
            "processing": "Procesando...",
            "emptyTable": "No hay datos disponibles en la tabla",
            "aria": {
                "sortAscending": ": Activar para ordenar la columna de manera ascendente",
                "sortDescending": ": Activar para ordenar la columna de manera descendente"
            }
        },
        "dom":
            "<'row mb-2'" +
            "<'col-sm-6 d-flex align-items-center justify-conten-start dt-toolbar'l>" +
            "<'col-sm-6 d-flex align-items-center justify-content-end dt-toolbar'f>" +
            ">" +
    
            "<'table-responsive'tr>" +
    
            "<'row'" +
            "<'col-sm-12 col-md-5 d-flex align-items-center justify-content-center justify-content-md-start'i>" +
            "<'col-sm-12 col-md-7 d-flex align-items-center justify-content-center justify-content-md-end'p>" +
            ">"
    });

    var input1 = document.querySelector("#soft_skills");
    new Tagify(input1);
    
    var input2 = document.querySelector("#hard_skills");
    new Tagify(input2);
</script>
{% endblock extrajs %}