{% load static %}

<div class="card shadow-sm">
    <div class="card-body">
        <div class="row">
            <div class="col">
                <div class="card shadow-sm">
                    <div class="card-header">
                        <h3 class="card-title">Vacantes Pendientes</h3>
                        <div class="card-toolbar">
                            
                        </div>
                    </div>
                    <div class="card-body">
                        <table id="kt_datatable_dom_positioning" class="table table-striped table-row-bordered gy-5 gs-7 border rounded">
                            <thead>
                                <tr class="fw-bold fs-6 text-gray-800 px-7 text-center">
                                    <th class="text-center">Vacante</th>
                                    <th class="text-center">Cliente</th>
                                    <th class="text-center">Fecha Creación</th>
                                    <th class="text-center">Candidatos</th>
                                    <th class="text-center">Estado</th>
                                    <th class="text-center">Ver</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for vacante in vacantes_pendiente_cliente %}
                                    <tr class="text-center">
                                        <td>{{vacante.titulo}}</td>
                                        <td>{{vacante.cliente_id_051.razon_social}}</td>
                                        <td>{{ vacante.fecha_creacion|date:"F j, Y" }}</td>
                                        <td>{{vacante.num_aplicaciones}}</td>
                                        <td>
                                            {% if vacante.estado_vacante == 1 %}
                                                <span class="badge badge-light-secondary">Activa</span>
                                            {% elif vacante.estado_vacante == 2 %}
                                                <span class="badge badge-light-primary">En Proceso</span>
                                            {% elif vacante.estado_vacante == 3 %}
                                                <span class="badge badge-light-success">Finalizada</span>
                                            {% elif vacante.estado_vacante == 4 %}
                                                <span class="badge badge-light-danger">Cancelada</span>
                                            {% endif %}
                                        </td>
                                        <td>
                                            <a href="{% url 'vacantes:vacante_gestion' vacante.id %}" class="btn btn-light-primary btn-sm">
                                                <i class="bi bi-search"></i>
                                            </a>
                                        </td>
                                    </tr>
                                {% empty %}
                                        <p class="text-center">No hay vacantes pendientes.</p>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% block extrajs %}


<script>
    $("#kt_datatable_dom_positioning").DataTable({
        "language": {
            "lengthMenu": "Show _MENU_",
        },
        "dom":
            "<'row mb-2'" +
            "<'col-sm-6 d-flex align-items-center justify-conten-start dt-toolbar'l>" +
            "<'col-sm-6 d-flex align-items-center justify-content-end dt-toolbar'f>" +
            ">" +
    
            "<'table-responsive'tr>" +
    
            "<'row'" +
            "<'col-sm-12 col-md-5 d-flex align-items-center justify-content-center justify-content-md-start'i>" +
            "<'col-sm-12 col-md-7 d-flex align-items-center justify-content-center justify-content-md-end'p>" +
            ">"
    });
</script>
{% endblock extrajs %}



