{% extends 'base/base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %} ATS | Cliente {{cliente.razon_social}}  {% endblock title %}

{% block titulo_pagina %} Cliente: {{cliente.razon_social}} | Vacantes {% endblock titulo_pagina %}

{% block navegacion %}
    <a href="{% url 'clientes:cliente_listar' %}" class="breadcrumb-item text-white text-hover-primary"> Listado Clientes</a>
    
    <li class="breadcrumb-item">
        <span class="bullet bg-white opacity-75 w-5px h-2px"></span>
    </li>

    <a href="{% url 'clientes:cliente_detalle' cliente.id %}" class="breadcrumb-item text-white text-hover-primary"> Cliente: {{cliente.razon_social}}</a>
    
    <li class="breadcrumb-item">
        <span class="bullet bg-white opacity-75 w-5px h-2px"></span>
    </li>
    
    <li class="breadcrumb-item text-white opacity-75">Listado Vacantes</li>
{% endblock navegacion %}


{% block css %}
    .asteriskField {
        color: red !important;
    }
{% endblock css %}

{% block boton_volver %}
    <a href="{% url 'clientes:cliente_listar' %}" class="btn btn-primary my-2"">Volver</a>
{% endblock boton_volver %}

{% block content %}

<div class="row">
    <div class="col-md-3">
        {% include 'cliente/common/cliente_detalle_elemento_fijo.html' %}
    </div>
    <div class="col-md-9">
        <ul class="nav nav-custom nav-tabs nav-line-tabs nav-line-tabs-2x border-0 fs-4 fw-semibold mb-8">
            
            {% include 'cliente/common/cliente_menu_detalle.html' %}

            <li class="nav-item ms-auto">
                <button type="button" class="btn btn-light-success" data-bs-toggle="modal" data-bs-target="#modal_vacante">
                    Crear Vacante
                </button>
                
                <div class="modal fade " tabindex="-1" id="modal_vacante">
                    <div class="modal-dialog modal-dialog-scrollable modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Crear Vacantes</h5>
                                
                                <!--begin::Close-->
                                <div class="btn btn-icon btn-sm btn-active-light-primary ms-2" data-bs-dismiss="modal" aria-label="Close">
                                    <i class="ki-duotone ki-cross fs-2x"><span class="path1"></span><span class="path2"></span></i>
                                </div>
                                <!--end::Close-->
                            </div>
                
                            <div class="modal-body">
                                {% crispy form %} 
                            </div>
                
                            <div class="modal-footer">
                                <button type="button" class="btn btn-light" data-bs-dismiss="modal">Cerrar</button>
                                <button type="submit" class="btn btn-primary" form="form_vacante">Guardar Vacante</button>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            
            {% comment %} <li class="nav-item">
                <a class="nav-link text-active-primary pb-4" data-kt-countup-tabs="true" data-bs-toggle="tab" href="#kt_customer_view_overview_statements">Configuración</a>
            </li> {% endcomment %}
            
        </ul>
        <div class="card shadow-sm">
            <div class="card-body">
                <table id="kt_prueba" class="table align-middle table-row-dashed fs-6 gy-5">
                    <thead>
                        <tr class="fw-bold fs-6 text-gray-800 px-7">
                            <th style="text-align: center">ID</th>
                            <th style="text-align: center">TITULO VACANTE</th>
                            <th style="text-align: center">FECHA VACANTE</th>
                            <th style="text-align: center">CIUDAD</th>
                            <th style="text-align: center"># VACANTES</th>
                            <th style="text-align: center">SALARIO</th>
                            <th style="text-align: center">EN PROCESO</th>
                            <th style="text-align: center">SELECCIONADO</th>
                            <th style="text-align: center">NO APTO</th>
                            <th style="text-align: center">CANCELADO</th>
                            <th style="text-align: center">DESISTIDO</th>
                            <th style="text-align: center">TOTAL APLICADOS</th>
                            <th style="text-align: center">ESTADO</th>
                            <th style="text-align: center">VER DETALLE</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for e in listado_vacante %}
                        <tr class="bg-light rounded p-10 hover-elevate-up">
                            <td style="text-align: center">{{e.id}}</td>
                            <td style="text-align: center">{{e.titulo}}</td>
                            <td style="text-align: center">{{e.fecha_creacion | date:"Y/m/d" }}</td>
                            <td style="text-align: center">{{e.ciudad__nombre}}</td>
                            <td style="text-align: center">{{e.numero_posiciones}}</td>
                            <td style="text-align: center">{{e.salario}}</td>
                            <td style="text-align: center" class="bg-light-primary text-primary">{{e.aplicados}}</td>
                            <td style="text-align: center" class="bg-light-success text-success">{{e.seleccionados}}</td>
                            <td style="text-align: center" class="bg-light-danger text-danger">{{e.no_apto}}</td>
                            <td style="text-align: center" class="bg-light-dark text-dark">{{e.canceladas}}</td>
                            <td style="text-align: center" class="bg-light-warning text-warning">{{e.desistidos}}</td>
                            <td style="text-align: center">{{e.vacante_aplicados}}</td>
                            <td style="text-align: center">
                                {% if e.estado_vacante == 1 %}
                                    <span class="badge badge-light-secondary">Activa</span>
                                {% elif e.estado_vacante == 2 %}
                                    <span class="badge badge-light-primary">En Proceso</span>
                                {% elif e.estado_vacante == 3 %}
                                    <span class="badge badge-light-success">Finalizada</span>
                                {% elif e.estado_vacante == 4 %}
                                    <span class="badge badge-light-danger">Cancelada</span>
                                {% endif %}
                            </td>
                            <td style="text-align: center">
                                <a href="{% url 'clientes:cliente_vacante_detalle' e.id  %}" class="btn btn-light-primary btn-xs">
                                    <i class="fas    fa-search fs-4"></i>
                                </a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

{% endblock content %}

{% block extrajs %}
<script>
    $("#kt_prueba").DataTable({
        "language": {
            "lengthMenu": "Mostrar _MENU_ ",
            "zeroRecords": "No se encontraron resultados",
            "info": "Mostrando página _PAGE_ de _PAGES_",
            "infoEmpty": "No hay registros disponibles",
            "infoFiltered": "(filtrado de _MAX_ registros totales)",
            "search": "Buscar: ",
            "paginate": {
                "first": "Primero",
                "last": "Último",
                "next": "Siguiente",
                "previous": "Anterior"
            },
            "loadingRecords": "Cargando...",
            "processing": "Procesando...",
            "emptyTable": "No hay datos disponibles en la tabla",
            "aria": {
                "sortAscending": ": Activar para ordenar la columna de manera ascendente",
                "sortDescending": ": Activar para ordenar la columna de manera descendente"
            }
        },
        "pageLength": 50,
        "order": [],
        "dom":
            "<'row mb-2'" +
            "<'col-sm-6 d-flex align-items-center justify-conten-start dt-toolbar'l>" +
            "<'col-sm-6 d-flex align-items-center justify-content-end dt-toolbar'f>" +
            ">" +
    
            "<'table-responsive'tr>" +
    
            "<'row'" +
            "<'col-sm-12 col-md-5 d-flex align-items-center justify-content-center justify-content-md-start'i>" +
            "<'col-sm-12 col-md-7 d-flex align-items-center justify-content-center justify-content-md-end'p>" +
            ">"
    });

    var input1 = document.querySelector("#soft_skills");
    new Tagify(input1);
    
    var input2 = document.querySelector("#hard_skills");
    new Tagify(input2);
</script>

<script>
    document.addEventListener("DOMContentLoaded", function() {
        // Si el formulario tiene errores, reabrir el modal
        {% if form.errors %}
        var myModal = new bootstrap.Modal(document.getElementById('modal_vacante'));
        myModal.show();
        {% endif %}
    });
</script>
{% endblock extrajs %}

