{% extends 'base/base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %} ATS | Cliente {{cliente.razon_social}}  {% endblock title %}

{% block titulo_pagina %} Vacante: {{vacante.titulo}} | Entrevistas {% endblock titulo_pagina %}

{% block navegacion %}
    <a href="{% url 'clientes:cliente_listar' %}" class="breadcrumb-item text-white text-hover-primary"> Listado Clientes</a>
    
    <li class="breadcrumb-item">
        <span class="bullet bg-white opacity-75 w-5px h-2px"></span>
    </li>

    <a href="{% url 'clientes:cliente_detalle' cliente.id %}" class="breadcrumb-item text-white text-hover-primary"> Cliente: {{cliente.razon_social}}</a>
    
    <li class="breadcrumb-item">
        <span class="bullet bg-white opacity-75 w-5px h-2px"></span>
    </li>

    <a href="{% url 'clientes:cliente_vacante' cliente.id %}" class="breadcrumb-item text-white text-hover-primary"> Listado Vacantes</a>
    
    <li class="breadcrumb-item">
        <span class="bullet bg-white opacity-75 w-5px h-2px"></span>
    </li>

    <a href="{% url 'clientes:cliente_vacante_detalle' vacante.id %}" class="breadcrumb-item text-white text-hover-primary"> Vacante: {{vacante.titulo}}</a>
    
    <li class="breadcrumb-item">
        <span class="bullet bg-white opacity-75 w-5px h-2px"></span>
    </li>
    
    <li class="breadcrumb-item text-white opacity-75">Entrevistas</li>
{% endblock navegacion %}


{% block css %}
    .asteriskField {
        color: red !important;
    }
{% endblock css %}

{% block boton_volver %}
    <a href="{% url 'clientes:cliente_vacante' cliente.id %}" class="btn btn-primary my-2"">Volver</a>
{% endblock boton_volver %}

{% block content %}

{% include 'cliente/common/cliente_vacante_elemento_fijo.html' %}
<div class="row">
    
    <div class="col-lg-12">
        <div class="card shadow-sm">
            <div class="card-body">
                <div class="row">
                    <div class="col-2"></div>    
                    <div class="col-8">
                        <h3 class="card-title">Detalles de la Vacante</h3>
                        <hr>
                        {% crispy form_vacante %}
                        <hr>
                        <div class="text-center">
                            <button type="submit" class="btn btn-primary text-center" form="form_vacante_edit">Actualizar</button>
                        </div>
                    </div>    
                    <div class="col-2"></div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block extrajs %}
<script>
    var input1 = document.querySelector("#soft_skills");
    new Tagify(input1);
    
    var input2 = document.querySelector("#hard_skills");
    new Tagify(input2);
</script>
{% endblock extrajs %}