{% extends 'base/base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %} ATS | Cliente {{cliente.razon_social}} {% endblock title %}

{% block titulo_pagina %} Vacante: {{vacante.titulo}} {% endblock titulo_pagina %}

{% block navegacion %}
    <a href="{% url 'clientes:cliente_listar' %}" class="breadcrumb-item text-white text-hover-primary"> Listado Clientes</a>
    
    <li class="breadcrumb-item">
        <span class="bullet bg-white opacity-75 w-5px h-2px"></span>
    </li>

    <a href="{% url 'clientes:cliente_detalle' cliente.id %}" class="breadcrumb-item text-white text-hover-primary"> Cliente: {{cliente.razon_social}}</a>
    
    <li class="breadcrumb-item">
        <span class="bullet bg-white opacity-75 w-5px h-2px"></span>
    </li>

    <a href="{% url 'clientes:cliente_vacante' cliente.id %}" class="breadcrumb-item text-white text-hover-primary"> Listado Vacantes</a>
    
    <li class="breadcrumb-item">
        <span class="bullet bg-white opacity-75 w-5px h-2px"></span>
    </li>
    
    <li class="breadcrumb-item text-white opacity-75">{{vacante.titulo}}</li>
{% endblock navegacion %}


{% block css %}
    .asteriskField {
        color: red !important;
    }
{% endblock css %}

{% block boton_volver %}
    <a href="{% url 'clientes:cliente_vacante' cliente.id %}" class="btn btn-primary my-2"">Volver</a>
{% endblock boton_volver %}

{% block content %}
{% include 'cliente/common/cliente_vacante_elemento_fijo.html' %}
<div class="row">
    <div class="col-md-12">
        <div class="card shadow-sm">
            <div class="card-header">
                <h3 class="card-title">Personal Reclutado</h3>
                <div class="card-toolbar">
                    <button type="button" class="btn btn-sm btn-light">
                        Action
                    </button>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        <div id="kt_docs_google_chart_column"></div>   
                    </div>
                    <div class="col-md-4">
                    </div>
                    <script src="//www.google.com/jsapi"></script> 
                    <script>
                        // GOOGLE CHARTS INIT
                        google.load('visualization', '1', {
                            packages: ['corechart', 'bar', 'line']
                        });

                        google.setOnLoadCallback(function () {
                            var data = google.visualization.arrayToDataTable([
                                ['Task', 'Hours per Day'],
                                ['Aplicadas', {{contadores_reclutados.aplicadas.cantidad}}],
                                ['En Proceso', {{contadores_reclutados.en_proceso.cantidad}}],
                                ['Seleccionados', {{contadores_reclutados.seleccionados.cantidad}}],
                                ['No Aptos', {{contadores_reclutados.no_aptas.cantidad}}],
                                ['Cancelado', {{contadores_reclutados.canceladas.cantidad}}],
                                ['Desistidos', {{contadores_reclutados.desistidos.cantidad}}]
                            ]);

                            var options = {
                                title: 'Gestión Vacante',
                                colors: ['#2abe81', '#f6aa33', '#45f71e', '#e74c3c', '#c7d2e7', '#593ae1'],
                                height: 500,
                                width: '100%'
                            };

                            var chart = new google.visualization.PieChart(document.getElementById('kt_docs_google_chart_column'));
                            chart.draw(data, options);

                            document.getElementById('chartType').addEventListener('change', function () {
                                var chartType = this.value;
                                if (chartType === 'PieChart') {
                                    chart = new google.visualization.PieChart(document.getElementById('kt_docs_google_chart_column'));
                                } else if (chartType === 'BarChart') {
                                    chart = new google.visualization.BarChart(document.getElementById('kt_docs_google_chart_column'));
                                }
                                chart.draw(data, options);
                            });
                        });
                    </script>
                    <div class="form-group">
                        <label for="chartType">Tipo de Gráfico:</label>
                        <select id="chartType" class="form-control">
                            <option value="PieChart">Pie Chart</option>
                            <option value="BarChart">Bar Chart</option>
                        </select>
                    </div>
                    </script>
                </div>
            </div>
            <div class="card-footer">
                
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block extrajs %}
<script>
    $("#kt_listado_reclutados").DataTable({
        "language": {
            "lengthMenu": "Mostrar _MENU_ ",
            "zeroRecords": "No se encontraron resultados",
            "info": "Mostrando página _PAGE_ de _PAGES_",
            "infoEmpty": "No hay registros disponibles",
            "infoFiltered": "(filtrado de _MAX_ registros totales)",
            "search": "Buscar:  ",
            "paginate": {
                "first": "Primero",
                "last": "Último",
                "next": "Siguiente",
                "previous": "Anterior"
            },
            "loadingRecords": "Cargando...",
            "processing": "Procesando...",
            "emptyTable": "No hay datos disponibles en la tabla",
            "aria": {
                "sortAscending": ": Activar para ordenar la columna de manera ascendente",
                "sortDescending": ": Activar para ordenar la columna de manera descendente"
            }
        },
        "dom":
            "<'row mb-2'" +
            "<'col-sm-6 d-flex align-items-center justify-conten-start dt-toolbar'l>" +
            "<'col-sm-6 d-flex align-items-center justify-content-end dt-toolbar'f>" +
            ">" +
    
            "<'table-responsive'tr>" +
    
            "<'row'" +
            "<'col-sm-12 col-md-5 d-flex align-items-center justify-content-center justify-content-md-start'i>" +
            "<'col-sm-12 col-md-7 d-flex align-items-center justify-content-center justify-content-md-end'p>" +
            ">"
    });

    var input1 = document.querySelector("#soft_skills");
    new Tagify(input1);
    
    var input2 = document.querySelector("#hard_skills");
    new Tagify(input2);
</script>
{% endblock extrajs %}