{% extends 'base/base.html' %}

{% load crispy_forms_tags %}

{% load static %}

{% block title %} Grupo de Trabajo {% endblock title %}

{% block titulo_pagina %} Grupo de Trabajo {% endblock titulo_pagina %}

{% block navegacion %}
    <li class="breadcrumb-item text-white opacity-75">Grupo de Trabajo</li>
    
    <!-- <li class="breadcrumb-item">
        <span class="bullet bg-white opacity-75 w-5px h-2px"></span>
    </li>
    
    <li class="breadcrumb-item text-white opacity-75">Multipurpose</li> -->
{% endblock navegacion %}

{% block css %}
    .asteriskField {
        color: red !important;
    }
{% endblock css %}

{% block content %}
<div class="card shadow-sm">
    <div class="card-header">
        <h2 class="card-title">Listado Usuarios Internos</h2>
        <div class="card-toolbar">
            <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#modal_grupo_trabajo">
                <i class="ki-duotone ki-profile-user fs-1"><span class="path1"></span><span class="path2"></span></i>
                Crear Rol
            </button>
            <div class="modal fade" tabindex="-1" id="modal_grupo_trabajo" data-bs-backdrop="static">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h3 class="modal-title">Crear Rol</h3>
                            <div class="btn btn-icon btn-sm btn-active-light-primary ms-2" data-bs-dismiss="modal" aria-label="Close">
                                <i class="ki-duotone ki-cross fs-1"><span class="path1"></span><span class="path2"></span></i>
                            </div>
                        </div>

                        <div class="modal-body">
                            {% crispy form_creacion %} 
                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-light" data-bs-dismiss="modal">Cerrar</button>
                            <button type="submit" class="btn btn-primary" form="form_crear_usuario">Guardar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card-body">
        <table id="kt_datatable_dom_positioning" class="table table-striped table-row-bordered gy-5 gs-7 border rounded">
            <thead>
                <tr class="fw-bold fs-6 text-gray-800 px-7">
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Correo</th>
                    <th>Grupo</th>
                    <th>Editar</th>
                </tr>
            </thead>
            <tbody>
                
                {% for e in usuarios_internos %}
                <tr>
                    <td>{{ e.id }}</td>
                    <td>{{ e.primer_nombre }} {{ e.segundo_nombre }} {{ e.primer_apellido }}</td>
                    <td>{{ e.email}}</td>
                    <td>{{ e.group.name }}</td>
                    <td>Editar</td>
                </tr>
                {% endfor %}
                    
                
            </tbody>
        </table>
    </div>
    <div class="card-footer">
        Footer
    </div>
</div>
{% endblock content %}

{% block extrajs %}
<script>
    $(document).ready(function() {
        {% if form_errores %}
            $('#crear_usuario').modal('show');
        {% endif %}
    });

    $("#kt_datatable_dom_positioning").DataTable({
        "language": {
            "lengthMenu": "Show _MENU_",
        },
        "dom":
            "<'row mb-2'" +
            "<'col-sm-6 d-flex align-items-center justify-conten-start dt-toolbar'l>" +
            "<'col-sm-6 d-flex align-items-center justify-content-end dt-toolbar'f>" +
            ">" +
    
            "<'table-responsive'tr>" +
    
            "<'row'" +
            "<'col-sm-12 col-md-5 d-flex align-items-center justify-content-center justify-content-md-start'i>" +
            "<'col-sm-12 col-md-7 d-flex align-items-center justify-content-center justify-content-md-end'p>" +
            ">"
    });
</script>
{% endblock extrajs %}