{% extends 'base/base.html' %}

{% load crispy_forms_tags %}

{% load static %}

{% block title %} ATS | Inicio {% endblock title %}

{% block titulo_pagina %} Bienvendido Nombre Usuario {% endblock titulo_pagina %}

{% block navegacion %}
    <li class="breadcrumb-item text-white opacity-75">Dashboards</li>
    
    <li class="breadcrumb-item">
        <span class="bullet bg-white opacity-75 w-5px h-2px"></span>
    </li>
    
    <li class="breadcrumb-item text-white opacity-75">Multipurpose</li>
{% endblock navegacion %}

{% block content %}
<div class="card">
    
    <div class="card-header border-0 pt-6">
        <div class="card-title">
            
        </div>
    </div>
    
    <div class="card-body pt-0">
        
    </div>

</div>
{% endblock content %}

{% block extrajs %}

{% endblock extrajs %}