{% extends 'base/base.html' %}

{% load crispy_forms_tags %}

{% load static %}

{% block title %} ATS | Inicio {% endblock title %}

{% block titulo_pagina %} Bienvendido Nombre Usuario {% endblock titulo_pagina %}

{% block navegacion %}
    <!-- <li class="breadcrumb-item text-white opacity-75">Inicio</li> -->
    
    <!-- <li class="breadcrumb-item">
        <span class="bullet bg-white opacity-75 w-5px h-2px"></span>
    </li>
    
    <li class="breadcrumb-item text-white opacity-75">Multipurpose</li> -->
{% endblock navegacion %}

{% block content %}

<h2>Variables de Sesión:</h2>
<ul>
{% for key, value in session_variables.items %}
    <li>{{ key }}: {{ value }}</li>
{% endfor %}
</ul>

{% endblock content %}

{% block extrajs %}

{% endblock extrajs %}