{% extends 'base/base.html' %}

{% load crispy_forms_tags %}

{% load static %}

{% block title %} ATS | Inicio {% endblock title %}

{% block titulo_pagina %} Bienvendido Nombre Usuario {% endblock titulo_pagina %}

{% block navegacion %}
    <!-- <li class="breadcrumb-item text-white opacity-75">Inicio</li> -->
    
    <!-- <li class="breadcrumb-item">
        <span class="bullet bg-white opacity-75 w-5px h-2px"></span>
    </li>
    
    <li class="breadcrumb-item text-white opacity-75">Multipurpose</li> -->
{% endblock navegacion %}

{% block content %}

<h2>Variables de Sesión:</h2>
<ul>
{% for key, value in session_variables.items %}
    <li>{{ key }}: {{ value }}</li>
{% endfor %}
</ul>


<h2>Tus permisos:</h2>
<ul>
{% for permiso in permisos %}
    <li>{{ permiso }}</li>
{% empty %}
    <li>No tienes permisos asignados para esta vista.</li>
{% endfor %}
</ul>

<h2>Accesos disponibles:</h2>
<ul>
    {% if 'acceso_admin' in permisos %}
        <li>Tienes acceso de administrador</li>
    {% endif %}
    {% if 'acceso_candidato' in permisos %}
        <li>Tienes acceso de candidato</li>
    {% endif %}
    {% if 'acceso_entrevistador' in permisos %}
        <li>Tienes acceso de entrevistador</li>
    {% endif %}
</ul>

{% endblock content %}

{% block extrajs %}

{% endblock extrajs %}