{% extends 'admin/layout/dashboard_base.html' %} 

{% load static %}
{% load crispy_forms_tags %}

{% block title %}
Detalle Colaborador
{% endblock %}

{% block content %}
<div class="main-content-container overflow-hidden">
	<div class="d-flex justify-content-between align-items-center flex-wrap gap-2 mb-4">
		<h3 class="mb-0" style="color: #B10022;">Grupo de Trabajo: </h3>
		<nav style="--bs-breadcrumb-divider: '>'" aria-label="breadcrumb">
			<ol class="breadcrumb align-items-center mb-0 lh-1">
				<li class="breadcrumb-item">
					<a href="{% url 'accesses:inicio' %}" class="d-flex align-items-center text-decoration-none">
						<i class="ri-home-4-line fs-18 text-primary me-1"></i>
						<span class="text-secondary fw-medium hover" >Inicio</span>
					</a>
				</li>
                <li class="breadcrumb-item active" aria-current="page">
					<a href="{% url 'accesses:users_client' %}" class="d-flex align-items-center text-decoration-none">
						<span class="text-secondary fw-medium hover" >Grupo de Trabajo</span>
					</a>
				</li>
                <li class="breadcrumb-item active" aria-current="page">
					<span class="fw-medium">Detalle </span>
				</li>
			</ol>
		</nav>
	</div>

    <div class="row">
        <div class="col-lg-12">
            <div class="card border-0 rounded-3 bg-white mb-4 text-center position-relative z-1 overflow-hidden">
                <span class="bg-danger rounded-top-3 position-absolute z-n1 top-0 d-block w-100" style="height: 120px;"></span>
                <img src="{% static 'admin/images/shape-9.png' %}" class="position-absolute top-0 start-0" alt="shape">
                <div class="card-body px-4 pb-4" style="padding-top: 35px;">

                    {% if usuarios_detalle.imagen_perfil %}
                        <img src="{{ usuarios_detalle.imagen_perfil.url }}" class="rounded-circle mb-4" style="width: 160px; height: 160px;" alt="user">
                    {% else %}
                        <img src="{% static 'admin/images/blank.png' %}" class="rounded-circle mb-4" style="width: 160px; height: 160px;" alt="user">
                    {% endif %}
                        
                    <h3 class="fs-16 mb-0">{{usuarios_detalle.primer_nombre}} {{usuarios_detalle.segundo_nombre}}  {{usuarios_detalle.primer_apellido}} {{usuarios_detalle.segundo_apellido}}</h3>
                    <span class="text-primary">{{usuarios_detalle.email}}</span>

                    {% comment %} {% crispy form %} {% endcomment %}
                    {% comment %} <ul class="ps-0 my-4 list-unstyled d-flex flex-wrap justify-content-center gap-3">
                        <li>
                            <a href="#" target="_blank" class="d-inline-block text-center rounded-circle text-decoration-none text-white" style="width: 30px; height: 30px; line-height: 30px; background-color: #3A559F;">
                                <i class="ri-facebook-fill"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.twitter.com/" target="_blank" class="d-inline-block text-center rounded-circle text-decoration-none text-white" style="width: 30px; height: 30px; line-height: 30px; background-color: #03A9F4;">
                                <i class="ri-twitter-x-line"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.facebook.com/" target="_blank" class="d-inline-block text-center rounded-circle text-decoration-none text-white" style="width: 30px; height: 30px; line-height: 30px; background-color: #007AB9;">
                                <i class="ri-linkedin-fill"></i>
                            </a>
                        </li>
                    </ul> {% endcomment %}

                    
                </div>
            </div>
            <div class="card border-0 rounded-3 bg-white mb-4 text-center position-relative z-1 overflow-hidden">
                <span class="bg-danger rounded-top-3 position-absolute z-n1 top-0 d-block w-100" style="height: 120px;"></span>
                <img src="{% static 'admin/images/shape-9.png' %}" class="position-absolute top-0 start-0" alt="shape">
                <div class="card-body px-4 pb-4" style="padding-top: 35px;">
                    

                </div>
            </div>
            
        </div>
    </div>
</div>
{% endblock %}

{% block js %} 
<script>
    // Initialize select2 for specific fields
    initializeSelect2('#id_tipo_entrevista');
    initializeSelect2('#id_entrevistador');
</script>  
{% endblock js %}