{% load static %}
{% load crispy_forms_tags %}
<div class="card bg-white border-0 rounded-3 mb-4">
    <div class="card-body p-3">
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
                <a class="navbar-brand" href="{% url 'clientes:cliente_detalle' data.cliente.id %}">
                    {% if data.cliente.logo %}
                        <img src="{{ data.cliente.logo }}" class="rounded-circle border border-2" style="width: 60px; height: 60px;" alt="cliente_default" />
                    {% else %}
                        <img src="{% static 'admin/images/blank.png' %}" class="rounded-circle border border-2" style="width: 60px; height: 60px;" alt="cliente_default" />
                    {% endif %}
                </a>
                
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link {% if request.resolver_match.url_name == 'cliente_detalle' %}active{% endif %}" aria-current="page" href="{% url 'clientes:cliente_detalle' data.cliente.id %}">Resumen</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="
                                nav-link 
                                {% if request.resolver_match.url_name == 'cliente_info' %}active{% endif %} 
                                {% if request.resolver_match.url_name == 'cliente_politicas' %}active{% endif %}
                                {% if request.resolver_match.url_name == 'cliente_pruebas' %}active{% endif %} 
                                {% if request.resolver_match.url_name == 'cliente_requisitos'  %}active{% endif %}
                            
                                dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Información Cliente
                            </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item {% if request.resolver_match.url_name == 'cliente_info' %}active{% endif %}" href="{% url 'clientes:cliente_info' data.cliente.id %}">Información principal</a></li>
                            <li><a class="dropdown-item {% if request.resolver_match.url_name == 'cliente_politicas' %}active{% endif %}" href="{% url 'clientes:cliente_politicas' data.cliente.id %}">Politicas internas</a></li>
                            <li><a class="dropdown-item {% if request.resolver_match.url_name == 'cliente_pruebas' %}active{% endif %}" href="{% url 'clientes:cliente_pruebas' data.cliente.id %}">Pruebas</a></li>
                            <li><a class="dropdown-item {% if request.resolver_match.url_name == 'cliente_requisitos'  %}active{% endif %}" href="{% url 'clientes:cliente_requisitos' data.cliente.id %}">Requisitos</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="#">Configuraciones</a></li>
                        </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {% if request.resolver_match.url_name == 'cliente_cargos' or request.resolver_match.url_name == 'cliente_cargos_configuracion' %}active{% endif %}" href="{% url 'clientes:cliente_cargos' data.cliente.id %}">Cargos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link
                            {% if request.resolver_match.url_name == 'client_detail_group_work' %}active{% endif %}
                            " href="{% url 'clientes:client_detail_group_work' data.cliente.id %}">Grupo de trabajo</a>
                        </li>

                        {% if data.cliente.tipo_cliente == 'Cliente Headhunter' %}
                        <li class="nav-item ">
                            <a class="nav-link 
                            {% if request.resolver_match.url_name == 'client_detail_assigned' %}active{% endif %}
                            " href="{% url 'clientes:client_detail_assigned' data.cliente.id %}">Clientes</a>
                        </li>
                        {% endif %}
                        
                        <li class="nav-item">
                            <a class="nav-link 
                            {% if request.resolver_match.url_name == 'vacantes_propias'  %}active{% endif %}
                            {% if request.resolver_match.url_name == 'vacantes_crear_propias'  %}active{% endif %}
                            {% if request.resolver_match.url_name == 'vacantes_gestion_propias'  %}active{% endif %}
                            {% if request.resolver_match.url_name == 'vacantes_editar_propias'  %}active{% endif %}
                            " href="{% url 'vacantes:vacantes_propias' data.cliente.id %}">Vacantes</a>
                        </li>
                        {% comment %} <li class="nav-item">
                            <a class="nav-link" href="#">Entrevistas</a>
                        </li> {% endcomment %}
                    </ul>
                    
                    {% if elements_client %}
                        <div class="d-flex justify-content-center align-items-center gap-1">
                            <div class="d-flex justify-content-center align-items-center gap-1" alt="Gestionar" title="Gestionar">
                                <a href="{% url 'vacantes:vacantes_crear_propias' data.cliente.id %}" class="btn bg-primary bg-opacity-10 fw-medium text-primary py-2 px-4 d-inline-flex align-items-center">
                                    <i class="material-symbols-outlined fs-16 me-2">add_circle</i> Crear Vacante
                                </a>
                            </div>
                        </div>
                    {% endif %}

                    {% if elements_vacancy %}
                        <div class="btn-group-vertical" role="group" aria-label="Vertical button group">
                            <div class="btn-group" role="group">
                                <div class="btn-group dropstart" role="group">
                                    <button type="button" class="btn bg-primary bg-opacity-10 fw-medium text-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                    Menu de vacante
                                    </button>
                                    <ul class="bg-primary bg-opacity-10 fw-medium text-primary dropdown-menu">
                                        <li><a class="dropdown-item active" href="#" data-bs-toggle="modal" data-bs-target="#reclutadoCandidato">Crear Reclutado</a></li>
                                        <li><a class="dropdown-item" href="#">Crear Entrevista</a></li>
                                        <li><a class="dropdown-item" href="#">Asignar Analista</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <!-- Modal -->
                        <div class="modal fade" id="reclutadoCandidato" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered modal-xl">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="modal-title fs-5" id="exampleModalLabel">Reclutar Candidato</h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                            
                                        <form method="post" id="form_crear_reclutado">
                                            <div class="modal-body">
                                                {% csrf_token %}
                                                {% crispy form_reclutados %}
                                            </div>
                                            <div class="modal-footer">
                                                <button id="form_crear_reclutado" type="submit" class="btn bg-primary bg-opacity-10 fw-medium text-primary py-2 px-4 w-100" form="form_crear_reclutado">Guardar</button>
                                            </div>
                                        </form>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                    
                    {% if elements_users_work_group %}
                    <div class="d-flex justify-content-center align-items-center gap-1">
                        <div class="d-flex justify-content-center align-items-center gap-1" alt="Gestionar" title="Gestionar">
                            <button type="button" class="btn bg-primary bg-opacity-10 fw-medium text-primary d-inline-flex align-items-center" id="btnCrearUsuario">
                                <i class="material-symbols-outlined fs-16 me-2 align-middle" style="vertical-align: middle;">add_circle</i> 
                                <span class="align-middle">Crear Usuario</span>
                            </button>
                        </div>
                    </div>
                    {% endif %}

                    {% if elements_assigned_clients %}
                    <div class="d-flex justify-content-center align-items-center gap-1">
                        <div class="d-flex justify-content-center align-items-center gap-1" alt="Gestionar" title="Gestionar">
                            <button type="button" class="btn bg-primary bg-opacity-10 fw-medium text-primary py-2 px-4 d-inline-flex align-items-center" data-bs-toggle="modal" data-bs-target="#modalAsignarCliente">
                                <i class="material-symbols-outlined fs-16 me-2">add_circle</i> Clientes Asignados
                            </button>
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
        </nav>
    </div>
</div>