{% extends 'admin/layout/dashboard_base.html' %} 
{% load static %}
{% load crispy_forms_tags %}

{% block title %}
Mis Vacantes aplicadas
{% endblock %}

{% block content %}
<div class="main-content-container overflow-hidden">
    <div class="d-flex justify-content-between align-items-center flex-wrap gap-2 mb-4">
        <h3 class="mb-0" style="color: #B10022;">LISTADO DE VACANTES APLICADAS</h3>
        <nav style="--bs-breadcrumb-divider: '>'" aria-label="breadcrumb">
            <ol class="breadcrumb align-items-center mb-0 lh-1">
                <li class="breadcrumb-item">
                    <a href="#" class="d-flex align-items-center text-decoration-none">
                        <i class="ri-home-4-line fs-18 text-primary me-1"></i>
                        <span class="text-secondary fw-medium hover" >Inicio</span>
                    </a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">
                    <span class="fw-medium">Listado de Vacantes</span>
                </li>
            </ol>
        </nav>
    </div>
    <div class="card bg-white border-0 rounded-3 mb-4">
        <div class="card-body p-4">
            <div class="d-flex justify-content-between align-items-center flex-wrap gap-2 mb-4">
                <h3 class="mb-0">Vacantes</h3>
                {% comment %} <button class="btn btn-outline-primary py-1 px-2 px-sm-4 fs-14 fw-medium rounded-3 hover-bg" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">
                    <span class="py-sm-1 d-block">
                        <i class="ri-add-line d-none d-sm-inline-block"></i>
                        <span>Add New Ticket</span>
                    </span>
                </button> {% endcomment %}
            </div>

            <div class="default-table-area all-projects">
                <div class="table-responsive">
                    <table class="table align-middle text-center" id="myTable">
                        <thead class="align-middle">
                            <tr>
                                <th scope="col">ID</th>
                                <th scope="col">Estado</th>
                                <th scope="col">Fecha Aplicación</th>
                                <th scope="col">Empresa</th>
                                <th scope="col">Vacante</th>
                                <th scope="col">Cargo</th>
                                <th scope="col">Analista Asignado</th>
                                <th scope="col">Fecha Actualización</th>
                                <th scope="col">Acciones</th>
                            </tr>
                        </thead>
                        <tbody class="align-middle">
                            {% for e in vacancy %}
                            <tr>
                                <td class="text-body">{{e.id}}</td>
                                <td class="text-secondary">
                                    <span class="badge bg-{{e.obtener_estado_con_color.color}} bg-opacity-10 text-{{e.obtener_estado_con_color.color}} p-2 fs-12 fw-normal">
                                        {{e.obtener_estado_con_color.estado}}
                                    </span>
                                </td>
                                <td class="text-secondary">{{ e.fecha_actualizacion|date:"Y-m-d" }}</td>
                                <td>
                                    <a href="{% url 'vacantes:vacante_candidato_aplicadas_detalle' e.id %}" class="fw-medium">{{e.vacante_id_052.asignacion_cliente_id_064.id_cliente_asignado.razon_social}}</a>
                                </td>
                                <td class="text-secondary">{{e.vacante_id_052.titulo}}</td>
                                <td class="text-secondary">{{e.vacante_id_052.cargo.nombre_cargo}}</td>
                                <td class="text-secondary">{{e.vacante_id_052.usuario_asignado.primer_nombre}} {{e.vacante_id_052.usuario_asignado.segundo_nombre}} {{e.vacante_id_052.usuario_asignado.primer_apellido}} {{e.vacante_id_052.usuario_asignado.segundo_apellido}}</td>
                                <td class="text-secondary">{{ e.fecha_aplicacion|date:"Y-m-d" }}</td>
                                <td>
                                    <div class="d-flex justify-content-center align-items-center gap-1">
                                        <div class="d-flex justify-content-center align-items-center gap-1" alt="Gestionar" title="Gestionar">
                                            <a href="{% url 'vacantes:vacante_candidato_aplicadas_detalle' e.id %}" class="btn bg-danger bg-opacity-10 fw-medium text-danger py-2 px-4">
                                                <i class="material-symbols-outlined fs-16 text-danger">edit</i>
                                            </a>
                                        </div>
                                    </div>
                                </td> 
                            </tr>
                            {% endfor %}
                            
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block js %} 
<script>
    
</script>  
{% endblock js %}