{% load static %}
{% load crispy_forms_tags %}
<ul class="nav nav-tabs justify-content-between border-0 mb-4 wizard-tabs2" id="myTabstep2" role="tablist">
    <li class="nav-item" role="presentation">
        <button class="nav-link p-0 d-flex align-items-center active" id="tab-data1" data-bs-toggle="tab" data-bs-target="#pane-data1" type="button" role="tab" aria-controls="data1-tab-pane" aria-selected="true">
            <span class="fs-20 fw-bold text-primary wh-48 bg-primary bg-opacity-10 rounded-circle d-inline-block">1</span>
            <div class="text-start ms-3">
                <h4 class="fs-18 fw-semibold">Datos Principales</h4>
            </div>
        </button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link p-0 d-flex align-items-center" id="tab-data2" data-bs-toggle="tab" data-bs-target="#pane-data2" type="button" role="tab" aria-controls="data2-tab-pane" aria-selected="false">
            <span class="fs-20 fw-bold text-primary wh-48 bg-primary bg-opacity-10 rounded-circle d-inline-block">2</span>
            <div class="text-start ms-3">
                <h4 class="fs-18 fw-semibold">Requisitos Técnicos</h4>
            </div>
        </button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link p-0 d-flex align-items-center" id="tab-data3" data-bs-toggle="tab" data-bs-target="#pane-data3" type="button" role="tab" aria-controls="data3-tab-pane" aria-selected="false">
            <span class="fs-20 fw-bold text-primary wh-48 bg-primary bg-opacity-10 rounded-circle d-inline-block">3</span>
            <div class="text-start ms-3">
                <h4 class="fs-18 fw-semibold">Competencias</h4>
            </div>
        </button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link p-0 d-flex align-items-center" id="tab-data4" data-bs-toggle="tab" data-bs-target="#pane-data4" type="button" role="tab" aria-controls="data4-tab-pane" aria-selected="false">
            <span class="fs-20 fw-bold text-primary wh-48 bg-primary bg-opacity-10 rounded-circle d-inline-block">4</span>
            <div class="text-start ms-3">
                <h4 class="fs-18 fw-semibold">Fit Cultural</h4>
            </div>
        </button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link p-0 d-flex align-items-center" id="tab-data5" data-bs-toggle="tab" data-bs-target="#pane-data5" type="button" role="tab" aria-controls="data5-tab-pane" aria-selected="false">
            <span class="fs-20 fw-bold text-primary wh-48 bg-primary bg-opacity-10 rounded-circle d-inline-block">5</span>
            <div class="text-start ms-3">
                <h4 class="fs-18 fw-semibold">Motivadores</h4>
            </div>
        </button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link p-0 d-flex align-items-center" id="tab-data6" data-bs-toggle="tab" data-bs-target="#pane-data6" type="button" role="tab" aria-controls="data6-tab-pane" aria-selected="false">
            <span class="fs-20 fw-bold text-primary wh-48 bg-primary bg-opacity-10 rounded-circle d-inline-block">6</span>
            <div class="text-start ms-3">
                <h4 class="fs-18 fw-semibold">Comentarios</h4>
            </div>
        </button>
    </li>
</ul>

<form method="post" enctype="multipart/form-data" id="form_vacante_todos">
    {% csrf_token %}
    <div class="tab-content" id="myTabstep2Content">
        
        <div class="tab-pane fade show active" id="pane-data1" role="tabpanel" aria-labelledby="tab-data1" tabindex="0">
            <h4 class="fs-18 fw-semibold">Información General del cargo</h4>
            <p class="text-gray-light mb-4">Es la información que precisa las caracteristicas principales de la vacante</p>
            <div class="row mb-4 p-3 border rounded bg-primary bg-opacity-10">
                <div class="d-flex align-items-center my-4">
                    <h6 class="mb-0 pe-3 text-primary fw-bold">Información Básica</h6>
                    <hr class="flex-grow-1 m-0 border-top border-1 border-secondary opacity-20">
                </div>
                <div class="col-md-8">
                    {{ form.cargo|as_crispy_field }}
                </div>    
                <div class="col-md-4">
                    {{ form.termino_contrato|as_crispy_field }}
                </div>    
                <div class="col-md-3">
                    {{ form.modalidad|as_crispy_field }}
                </div>    
                <div class="col-md-3">
                    {{ form.numero_posiciones|as_crispy_field }}
                </div>    
                <div class="col-md-3">
                    {{ form.cantidad_presentar|as_crispy_field }}
                </div>    
                <div class="col-md-3">
                    {{ form.fecha_presentacion|as_crispy_field }}
                </div>  
                <div class="d-flex align-items-center my-4">
                    <h6 class="mb-0 pe-3 text-primary fw-bold">Ubicación</h6>
                    <hr class="flex-grow-1 m-0 border-top border-1 border-secondary opacity-20">
                </div>
                <div class="col-md-4">
                    {{ form.lugar_trabajo|as_crispy_field }}
                </div>    
                <div class="col-md-4">
                    {{ form.barrio|as_crispy_field }}
                </div>    
                <div class="col-md-4">
                    {{ form.direccion|as_crispy_field }}
                </div>    
                <div class="d-flex align-items-center my-4">
                    <h6 class="mb-0 pe-3 text-primary fw-bold">Salario</h6>
                    <hr class="flex-grow-1 m-0 border-top border-1 border-secondary opacity-20">
                </div>
                <div class="col-md-3">
                    {{ form.salario|as_crispy_field }}
                </div>    
                <div class="col-md-3">
                    {{ form.tipo_salario|as_crispy_field }}
                </div>    
                <div class="col-md-3">
                    {{ form.frecuencia_pago|as_crispy_field }}
                </div>    
                <div class="col-md-3">
                    {{ form.salario_adicional|as_crispy_field }}
                </div>   
                <div class="d-flex align-items-center my-4">
                    <h6 class="mb-0 pe-3 text-primary fw-bold">Edad y Genero</h6>
                    <hr class="flex-grow-1 m-0 border-top border-1 border-secondary opacity-20">
                </div> 
                <div class="col-md-2">
                    {{ form.edad_inicial|as_crispy_field }}
                </div>   
                <div class="col-md-2">
                    {{ form.edad_final|as_crispy_field }}
                </div>   
                <div class="col-md-2">
                    {{ form.genero|as_crispy_field }}
                </div>
                <div class="col-md-2">
                    {{ form.motivo_vacante|as_crispy_field }}
                </div> 
                <div class="col-md-4">
                    {{ form.otro_motivo|as_crispy_field }}
                </div>
                
                <div class="d-flex align-items-center my-4">
                    <h6 class="mb-0 pe-3 text-primary fw-bold">Horarios</h6>
                    <hr class="flex-grow-1 m-0 border-top border-1 border-secondary opacity-20">
                </div>
                <div class="col-md-3">
                    {{ form.horario_inicio_1|as_crispy_field }}
                </div>
                <div class="col-md-3">
                    {{ form.horario_final_1|as_crispy_field }}
                </div>
                <div class="col-md-3">
                    {{ form.hora_inicio_1|as_crispy_field }}
                </div>
                <div class="col-md-3">
                    {{ form.hora_final_1|as_crispy_field }}
                </div>

                <div class="col-md-3">
                    {{ form.horario_inicio_2|as_crispy_field }}
                </div>
                <div class="col-md-3">
                    {{ form.horario_final_2|as_crispy_field }}
                </div>
                <div class="col-md-3">
                    {{ form.hora_inicio_2|as_crispy_field }}
                </div>
                <div class="col-md-3">
                    {{ form.hora_final_2|as_crispy_field }}
                </div>

                <div class="col-md-3">
                    {{ form.horario_inicio_3|as_crispy_field }}
                </div>
                <div class="col-md-3">
                    {{ form.horario_final_3|as_crispy_field }}
                </div>
                <div class="col-md-3">
                    {{ form.hora_inicio_3|as_crispy_field }}
                </div>
                <div class="col-md-3">
                    {{ form.hora_final_3|as_crispy_field }}
                </div>
                <div class="d-flex align-items-center my-4">
                    <h6 class="mb-0 pe-3 text-primary fw-bold">Funciones y responsabilides del cargo</h6>
                    <hr class="flex-grow-1 m-0 border-top border-1 border-secondary opacity-20">
                </div>
                <div class="col-md-12">
                    {{ form.funciones_responsabilidades_1|as_crispy_field }}
                </div>
                <div class="col-md-12">
                    {{ form.funciones_responsabilidades_2|as_crispy_field }}
                </div>
                <div class="col-md-12">
                    {{ form.funciones_responsabilidades_3|as_crispy_field }}
                </div>
                <div class="col-md-12">
                    <div class="form-group d-flex gap-3">
                        <button class="btn btn-primary py-3 px-5 fw-semibold text-white"
                        onclick="
                                event.preventDefault();
                                bootstrap.Tab.getOrCreateInstance(document.querySelector('[data-bs-target=\'#pane-data2\']')).show();
                                window.scrollTo({ top: 0, behavior: 'smooth' });
                                ">Siguiente</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="tab-pane fade" id="pane-data2" role="tabpanel" aria-labelledby="tab-data2" tabindex="0">
            <h4 class="fs-18 fw-semibold">Requisitos técnicos (Hard Skills)</h4>
            <p class="text-gray-light mb-4">Lo que el cargo necesita para operar eficientemente</p>
            <div class="row mb-4 p-3 border rounded bg-primary bg-opacity-10">
                <div class="d-flex align-items-center my-4">
                    <h6 class="mb-0 pe-3 text-primary fw-bold">Experiencia Laborales</h6>
                    <hr class="flex-grow-1 m-0 border-top border-1 border-secondary opacity-20">
                </div>
                <div class="col-md-4">
                    {{ form.tiempo_experiencia_1|as_crispy_field }}
                </div> 
                <div class="col-md-8">
                    {{ form.experiencia_especifica_en_1|as_crispy_field }}
                </div> 
                <div class="col-md-4">
                    {{ form.tiempo_experiencia_2|as_crispy_field }}
                </div> 
                <div class="col-md-8">
                    {{ form.experiencia_especifica_en_2|as_crispy_field }}
                </div> 
                <div class="col-md-4">
                    {{ form.tiempo_experiencia_3|as_crispy_field }}
                </div> 
                <div class="col-md-8">
                    {{ form.experiencia_especifica_en_3|as_crispy_field }}
                </div> 
                <div class="d-flex align-items-center my-4">
                    <h6 class="mb-0 pe-3 text-primary fw-bold">Idiomas</h6>
                    <hr class="flex-grow-1 m-0 border-top border-1 border-secondary opacity-20">
                </div>
                <div class="col-md-4">
                    {{ form.idioma_1|as_crispy_field }}
                </div> 
                <div class="col-md-8">
                    {{ form.nivel_idioma_1|as_crispy_field }}
                </div> 
                <div class="col-md-4">
                    {{ form.idioma_2|as_crispy_field }}
                </div> 
                <div class="col-md-8">
                    {{ form.nivel_idioma_2|as_crispy_field }}
                </div> 
                <div class="d-flex align-items-center my-4">
                    <h6 class="mb-0 pe-3 text-primary fw-bold">Estudios o profesión</h6>
                    <hr class="flex-grow-1 m-0 border-top border-1 border-secondary opacity-20">
                </div>
                <div class="col-md-6 mb-3">
                    {{ form.tipo_profesion|as_crispy_field }}
                </div>
                
                <!-- Campos condicionales -->
                <div id="campo_especifica" class="col-md-6" style="display:none;">
                    {{ form.profesion_estudio|as_crispy_field }}
                </div>
                
                <div id="campo_grupo" class="col-md-6" style="display:none;">
                    {{ form.grupo_profesion|as_crispy_field }}
                </div>
                
                <div id="campo_listado" class="col-md-6" style="display:none;">
                    {{ form.profesion_estudio_listado|as_crispy_field }}
                </div>
                
                <div class="col-md-4">
                    {{ form.nivel_estudio|as_crispy_field }}
                </div>
                
                <div class="col-md-2">
                    {{ form.estado_estudio|as_crispy_field }}
                </div> 
                <div class="d-flex align-items-center my-4">
                    <h6 class="mb-0 pe-3 text-primary fw-bold">Estudios complementarios</h6>
                    <hr class="flex-grow-1 m-0 border-top border-1 border-secondary opacity-20">
                </div>
                <div class="col-md-8">
                    {{ form.estudios_complementarios_1|as_crispy_field }}
                </div> 
                <div class="col-md-4">
                    {{ form.estudios_complementarios_certificado_1|as_crispy_field }}
                </div> 
                <div class="col-md-8">
                    {{ form.estudios_complementarios_2|as_crispy_field }}
                </div> 
                <div class="col-md-4">
                    {{ form.estudios_complementarios_certificado_2|as_crispy_field }}
                </div> 
                <div class="col-md-8">
                    {{ form.estudios_complementarios_3|as_crispy_field }}
                </div> 
                <div class="col-md-4">
                    {{ form.estudios_complementarios_certificado_3|as_crispy_field }}
                </div> 
                <div class="col-md-12">
                    <div class="form-group d-flex gap-3">
                        <button class="btn btn-primary bg-primary bg-opacity-10 text-primary py-3 px-5 fw-semibold border-0"
                        onclick="
                                event.preventDefault();
                                bootstrap.Tab.getOrCreateInstance(document.querySelector('[data-bs-target=\'#pane-data1\']')).show();
                                window.scrollTo({ top: 0, behavior: 'smooth' });
                                ">Volver</button>
                        <button class="btn btn-primary py-3 px-5 fw-semibold text-white"
                        onclick="
                                event.preventDefault();
                                bootstrap.Tab.getOrCreateInstance(document.querySelector('[data-bs-target=\'#pane-data3\']')).show();
                                window.scrollTo({ top: 0, behavior: 'smooth' });
                                ">Siguiente</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="tab-pane fade" id="pane-data3" role="tabpanel" aria-labelledby="tab-data3" tabindex="0">
            <h4 class="fs-18 fw-semibold">Competencias Clave (Soft Skills)</h4>
            <p class="text-gray-light mb-4">Selecciona hasta 5 habilidades clave para el éxito de este rol</p>
            <div class="row mb-4 p-3 border rounded bg-primary bg-opacity-10">
                <div class="d-flex align-items-center my-4">
                    <h6 class="mb-0 pe-3 text-primary fw-bold">Habilidades Blandas</h6>
                    <hr class="flex-grow-1 m-0 border-top border-1 border-secondary opacity-20">
                </div>
                <div class="col-md-2">
                    {{ form.skill_relacionales|as_crispy_field }}
                </div> 
                <div class="col-md-2">
                    {{ form.skill_personales|as_crispy_field }}
                </div> 
                <div class="col-md-3">
                    {{ form.skill_cognitivas|as_crispy_field }}
                </div> 
                <div class="col-md-3">
                    {{ form.skill_digitales|as_crispy_field }}
                </div> 
                <div class="col-md-2">
                    {{ form.skill_liderazgo|as_crispy_field }}
                </div> 
                <div class="col-md-12">
                    <div class="form-group d-flex gap-3">
                        <button class="btn btn-primary bg-primary bg-opacity-10 text-primary py-3 px-5 fw-semibold border-0"
                        onclick="
                                event.preventDefault();
                                bootstrap.Tab.getOrCreateInstance(document.querySelector('[data-bs-target=\'#pane-data2\']')).show();
                                window.scrollTo({ top: 0, behavior: 'smooth' });
                                ">Volver</button>
                        <button class="btn btn-primary py-3 px-5 fw-semibold text-white"
                        onclick="
                                event.preventDefault();
                                bootstrap.Tab.getOrCreateInstance(document.querySelector('[data-bs-target=\'#pane-data4\']')).show();
                                window.scrollTo({ top: 0, behavior: 'smooth' });
                                ">Siguiente</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="tab-pane fade" id="pane-data4" role="tabpanel" aria-labelledby="tab-data4" tabindex="0">
            <h4 class="fs-18 fw-semibold">Fit cultural y de entorno</h4>
            <p class="text-gray-light mb-4">Evalua el tipo de cultura donde debe encajar el talento. Elije 1, el que más predómine.</p>
            <div class="row mb-4 p-3 border rounded bg-primary bg-opacity-10">
                <div class="d-flex align-items-center my-4">
                    <h6 class="mb-0 pe-3 text-primary fw-bold">Fit cultural</h6>
                    <hr class="flex-grow-1 m-0 border-top border-1 border-secondary opacity-20">
                </div>
                <div class="col-md-4">
                    {{ form.grupo_fit_1|as_crispy_field }}
                </div> 
                <div class="col-md-4">
                    {{ form.grupo_fit_2|as_crispy_field }}
                </div> 
                <div class="col-md-4">
                    {{ form.grupo_fit_3|as_crispy_field }}
                </div> 
                <div class="col-md-4">
                    {{ form.grupo_fit_4|as_crispy_field }}
                </div> 
                <div class="col-md-4">
                    {{ form.grupo_fit_5|as_crispy_field }}
                </div> 
                <div class="col-md-12">
                    <div class="form-group d-flex gap-3">
                        <button class="btn btn-primary bg-primary bg-opacity-10 text-primary py-3 px-5 fw-semibold border-0"
                        onclick="
                                event.preventDefault();
                                bootstrap.Tab.getOrCreateInstance(document.querySelector('[data-bs-target=\'#pane-data3\']')).show();
                                window.scrollTo({ top: 0, behavior: 'smooth' });
                                ">Volver</button>
                        <button class="btn btn-primary py-3 px-5 fw-semibold text-white"
                        onclick="
                                event.preventDefault();
                                bootstrap.Tab.getOrCreateInstance(document.querySelector('[data-bs-target=\'#pane-data5\']')).show();
                                window.scrollTo({ top: 0, behavior: 'smooth' });
                                ">Siguiente</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="tab-pane fade" id="pane-data5" role="tabpanel" aria-labelledby="tab-data5" tabindex="0">
            <h4 class="fs-18 fw-semibold">Motivadores candidato ideal</h4>
            <p class="text-gray-light mb-4">¿Qué tipo de motivación esperas encontrar en un candidato ideal?</p>
            <div class="row mb-4 p-3 border rounded bg-primary bg-opacity-10">
                <div class="d-flex align-items-center my-4">
                    <h6 class="mb-0 pe-3 text-primary fw-bold">Motivadores</h6>
                    <hr class="flex-grow-1 m-0 border-top border-1 border-secondary opacity-20">
                </div>
                <div class="col-md-6">
                    {{ form.motivadores_candidato|as_crispy_field }}
                </div> 
                <div class="col-md-6">
                    {{ form.otro_motivador|as_crispy_field }}
                </div> 
                <div class="col-md-12">
                    <div class="form-group d-flex gap-3">
                        <button class="btn btn-primary bg-primary bg-opacity-10 text-primary py-3 px-5 fw-semibold border-0"
                        onclick="
                                event.preventDefault();
                                bootstrap.Tab.getOrCreateInstance(document.querySelector('[data-bs-target=\'#pane-data4\']')).show();
                                window.scrollTo({ top: 0, behavior: 'smooth' });
                                ">Volver</button>
                        <button class="btn btn-primary py-3 px-5 fw-semibold text-white"
                        onclick="
                                event.preventDefault();
                                bootstrap.Tab.getOrCreateInstance(document.querySelector('[data-bs-target=\'#pane-data6\']')).show();
                                window.scrollTo({ top: 0, behavior: 'smooth' });
                                ">Siguiente</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="tab-pane fade" id="pane-data6" role="tabpanel" aria-labelledby="teb-data6" tabindex="0">
            <h4 class="fs-18 fw-semibold">Insights y comentarios finales</h4>
            <p class="text-gray-light mb-4">Comentarios finales sobre los retos o prioridades del cargo:</p>
            <div class="row mb-4 p-3 border rounded bg-primary bg-opacity-10">
                <div class="d-flex align-items-center my-4">
                    <h6 class="mb-0 pe-3 text-primary fw-bold">Comentarios</h6>
                    <hr class="flex-grow-1 m-0 border-top border-1 border-secondary opacity-20">
                </div>
                <div class="col-md-12">
                    {{ form.comentarios|as_crispy_field }}
                </div> 
                <div class="col-md-12">
                    {{ form.descripcion_vacante|as_crispy_field }}
                </div> 
                <div class="col-md-12">
                    <div class="form-group d-flex gap-3">
                        <button class="btn btn-primary bg-primary bg-opacity-10 text-primary py-3 px-5 fw-semibold border-0"
                        onclick="
                                event.preventDefault();
                                bootstrap.Tab.getOrCreateInstance(document.querySelector('[data-bs-target=\'#pane-data4\']')).show();
                                window.scrollTo({ top: 0, behavior: 'smooth' });
                                ">Volver</button>
                        <button id="form_vacante_todos" type="submit" class="btn btn-primary py-3 px-5 fw-semibold text-white" form="form_vacante_todos">Guardar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

<style>

</style>

