<!-- Links Of CSS File -->
<link rel="stylesheet" href="/static/admin/css/sidebar-menu.css" />
<link rel="stylesheet" href="/static/admin/css/simplebar.css" />
<link rel="stylesheet" href="/static/admin/css/apexcharts.css" />
<link rel="stylesheet" href="/static/admin/css/prism.css" />
<link rel="stylesheet" href="/static/admin/css/rangeslider.css" />
<link rel="stylesheet" href="/static/admin/css/quill.snow.css" />
<link rel="stylesheet" href="/static/admin/css/google-icon.css" />
<link rel="stylesheet" href="/static/admin/css/remixicon.css" />
<link rel="stylesheet" href="/static/admin/css/swiper-bundle.min.css" />
<link rel="stylesheet" href="/static/admin/css/fullcalendar.main.css" />
<link rel="stylesheet" href="/static/admin/css/jsvectormap.min.css" />
<link rel="stylesheet" href="/static/admin/css/lightpick.css" />
<link rel="stylesheet" href="/static/admin/css/style.css" />
<!-- Favicon -->
<link rel="icon" type="image/png" href="/static/admin/images/favicon.png" />

<!-- Librerias Externas-->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<link href="/static/admin/css/select2.min.css" rel="stylesheet" />
