
{% load static %}

<div class="footers-area pt-150 position-relative z-2">
	<div class="container">
		<div class="row">
			<div class="col-lg-3 col-sm-6">
				<div class="footer-single-item mb-4">
					<a href="#" class="footer-logo d-inline-block mb-4">
						<img src="{% static 'admin/images/landing/logo-talent-tray.png' %}" alt="logo" />
					</a>
				</div>
			</div>
			<div class="col-lg-4 col-sm-4">
				<div class="footer-single-item mb-4 ms-lg-5 ps-lg-4">
					<p class="mb-4 pb-lg-2">
						Bienvenido al Futuro de la Selección</b> Una plataforma ágil, humana y poderosa donde El talento es el protagonisto.
					</p>
				</div>
			</div>
			<div class="col-lg-3 col-sm-6">
				<div class="footer-single-item mb-4">
					<ul class="ps-0 mb-0 list-unstyled d-flex flex-wrap gap-3">
						<li>
							<a
								href="https://www.facebook.com/"
								target="_blank"
								class="text-decoration-none fs-20 text-primary"
							>
								<i class="ri-facebook-fill"></i>
							</a>
						</li>
						<li>
							<a
								href="https://www.linkedin.com/"
								target="_blank"
								class="text-decoration-none fs-20 text-primary"
							>
								<i class="ri-linkedin-fill"></i>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Start CopyRight Area -->
<div class="copyright-area bg-white text-center py-4">
	<div class="container">
		<p class="fs-14">© <span class="text-primary-div">ATS Talent Tray</span> es desarrollado por <a href="https://talenttray.com" target="_blank" class="text-decoration-none text-primary">Talent Tray</a></p>
	</div>
</div>
{% include 'admin/layout/partials/js_files.html' %}
