{% load static %}
<script src="{% static 'admin/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'admin/js/sidebar-menu.js' %}"></script>
<script src="{% static 'admin/js/dragdrop.js' %}"></script>
<script src="{% static 'admin/js/rangeslider.min.js' %}"></script>
<script src="{% static 'admin/js/quill.min.js' %}"></script>
<script src="{% static 'admin/js/data-table.js' %}"></script>
<script src="{% static 'admin/js/prism.js' %}"></script>
<script src="{% static 'admin/js/clipboard.min.js' %}"></script>
<script src="{% static 'admin/js/feather.min.js' %}"></script>
<script src="{% static 'admin/js/simplebar.min.js' %}"></script>
<script src="{% static 'admin/js/apexcharts.min.js' %}"></script>
<script src="{% static 'admin/js/echarts.js' %}"></script>
<script src="{% static 'admin/js/swiper-bundle.min.js' %}"></script>
<script src="{% static 'admin/js/fullcalendar.main.js' %}"></script>
<script src="{% static 'admin/js/jsvectormap.min.js' %}"></script>
<script src="{% static 'admin/js/world-merc.js' %}"></script>
<script src="{% static 'admin/js/moment.min.js' %}"></script>
<!-- <script src="{% static 'admin/js/lightpick.js'}"></script> -->

<!-- jQuery (requerido por Select2) -->
<script src="{% static 'admin/js/jquery-3.6.0.min.js' %}"></script>
<!-- Select2 -->
<script src="{% static 'admin/js/select2.min.js' %}"></script>
<!-- DataTables -->
{% comment %} <script src="{% static 'admin/js/jquery.dataTables.min.js' %}"></script> {% endcomment %}
{% comment %} <script src="{% static 'admin/js/datatables.min.js' %}"></script> {% endcomment %}
<!-- Tagify JS -->
<script src="{% static 'admin/js/tagify.js' %}"></script>


<script src="{% static 'admin/js/custom/apexcharts.js' %}"></script>
<script src="{% static 'admin/js/custom/echarts.js' %}"></script>
<script src="{% static 'admin/js/custom/custom.js' %}"></script>
<script src="{% static 'admin/js/custom/tagify.js' %}"></script>
<script src="{% static 'admin/js/custom/select2.js' %}"></script>


<!-- Alpine Plugins -->
<script defer src="https://cdn.jsdelivr.net/npm/@alpinejs/mask@3.x.x/dist/cdn.min.js"></script>

<!-- Alpine Core -->
<script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>

<script>
    document.addEventListener('alpine:init', () => {
        Alpine.plugin(window.mask);
    });
</script>