{% extends 'base/base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %} ATS Perguntas ADN {% endblock title %}

{% block titulo_pagina %} Listado Vacantes {% endblock titulo_pagina %}

{% block titulo-pagina %}
    Preguntas ADN
{% endblock titulo-pagina %}

{% block navegacion %}
    <li class="breadcrumb-item text-white opacity-75">Preguntas ADN</li>
    
    <!-- <li class="breadcrumb-item">
        <span class="bullet bg-white opacity-75 w-5px h-2px"></span>
    </li>
    
    <li class="breadcrumb-item text-white opacity-75">Multipurpose</li> -->
{% endblock navegacion %}	
    {% block css %}
    .asteriskField {
        color: red !important;
    }

    .rating-input {
        display: flex; /* Alinea los botones en fila */
        justify-content: space-between; /* Espacio entre los botones */
    }
    
    .rating-input input[type="radio"] {
        margin-right: 10px; /* Espacio entre el botón y la etiqueta */
    }

    {% endblock css %}

{% block boton_volver %}
    <a href="{% url 'accesses:inicio' %}" class="btn btn-primary my-2"">Volver</a>
{% endblock boton_volver %}

{% block content %}

<div class="row">
    <div class="col-lg-4">
        <div class="card shadow-sm">
            <div class="card-header">
                <h3 class="card-title">Crear Pregunta</h3>
                <div class="card-toolbar">
                </div>
            </div>
            <div class="card-body">
                {% crispy form %}
            </div>
            <div class="card-footer">
                <button type="submit" class="btn btn-light-success" form="form_crear_pregunta">GUARDAR</button>
            </div>
        </div>
    </div>
    <div class="col-lg-8">
        <div class="card shadow-sm">
            <div class="card-header">
                <h3 class="card-title">Pregunta</h3>
                <div class="card-toolbar">
                    <button type="button" class="btn btn-sm btn-light">
                        Action
                    </button>
                </div>
            </div>
            <div class="card-body">
                <table id="tabla_preguntas" class="table table-striped table-row-bordered gy-5 gs-7 border rounded">
                    <thead>
                        <tr class="fw-bold fs-6 text-gray-800 px-7">
                            <th>Pregunta</th>
                            <th>Respuesta</th>
                            <th>Pregunta Correlacionada</th>
                        </tr>
                    </thead>
                    <tbody>
                        
                        {% for e in preguntas %}
                        <tr>
                            <td>{{e.pregunta}}</td>
                            <td>{{e.respuesta}}</td>
                            <td>{{e.pregunta_correlacion}}</td>
                        </tr>    
                        {% endfor %}
                            
                    </tbody>
                </table>
            </div>
            <div class="card-footer">
                Footer
            </div>
        </div>
    </div>
</div>

{% endblock content %}

{% block extrajs %}
<script>
    $("#tabla_preguntas").DataTable({
        "language": {
            "lengthMenu": "Show _MENU_",
        },
        "dom":
            "<'row mb-2'" +
            "<'col-sm-6 d-flex align-items-center justify-conten-start dt-toolbar'l>" +
            "<'col-sm-6 d-flex align-items-center justify-content-end dt-toolbar'f>" +
            ">" +
    
            "<'table-responsive'tr>" +
    
            "<'row'" +
            "<'col-sm-12 col-md-5 d-flex align-items-center justify-content-center justify-content-md-start'i>" +
            "<'col-sm-12 col-md-7 d-flex align-items-center justify-content-center justify-content-md-end'p>" +
            ">"
    });
</script>
{% endblock extrajs %}