{% extends 'base/base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %} ATS Perguntas ADN {% endblock title %}

{% block titulo_pagina %} Listado Vacantes {% endblock titulo_pagina %}

{% block titulo-pagina %}
    Preguntas ADN
{% endblock titulo-pagina %}

{% block navegacion %}
    <li class="breadcrumb-item text-white opacity-75">Preguntas ADN</li>
    
    <!-- <li class="breadcrumb-item">
        <span class="bullet bg-white opacity-75 w-5px h-2px"></span>
    </li>
    
    <li class="breadcrumb-item text-white opacity-75">Multipurpose</li> -->
{% endblock navegacion %}


			
    {% block css %}
    .asteriskField {
            color: red !important;
            }
    {% endblock css %}

{% block content %}

<div class="row">
    <div class="col-lg-4">
        <div class="card shadow-sm">
            <div class="card-header">
                <h3 class="card-title">Title</h3>
                <div class="card-toolbar">
                    <button type="button" class="btn btn-sm btn-light">
                        Action
                    </button>
                </div>
            </div>
            <div class="card-body">
                Lorem Ipsum is simply dummy text...
            </div>
            <div class="card-footer">
                Footer
            </div>
        </div>
    </div>
    <div class="col-lg-8">
        <div class="card shadow-sm">
            <div class="card-header">
                <h3 class="card-title">Title</h3>
                <div class="card-toolbar">
                    <button type="button" class="btn btn-sm btn-light">
                        Action
                    </button>
                </div>
            </div>
            <div class="card-body">
                Lorem Ipsum is simply dummy text...
            </div>
            <div class="card-footer">
                Footer
            </div>
        </div>
    </div>
</div>

{% endblock content %}

{% block extrajs %}
<script>
    $("#kt_datatable_dom_positioning").DataTable({
        "language": {
            "lengthMenu": "Show _MENU_",
        },
        "dom":
            "<'row mb-2'" +
            "<'col-sm-6 d-flex align-items-center justify-conten-start dt-toolbar'l>" +
            "<'col-sm-6 d-flex align-items-center justify-content-end dt-toolbar'f>" +
            ">" +
    
            "<'table-responsive'tr>" +
    
            "<'row'" +
            "<'col-sm-12 col-md-5 d-flex align-items-center justify-content-center justify-content-md-start'i>" +
            "<'col-sm-12 col-md-7 d-flex align-items-center justify-content-center justify-content-md-end'p>" +
            ">"
    });
</script>
{% endblock extrajs %}