{% extends 'admin/layout/dashboard_base.html' %} 

{% load static %}
{% load crispy_forms_tags %}

{% block title %}
Detalle vacante
{% endblock %}

{% block content %}
<div class="main-content-container overflow-hidden">
	<div class="d-flex justify-content-between align-items-center flex-wrap gap-2 mb-4">
		<h3 class="mb-0" style="color: #B10022;">DETALLE VACANTE: </h3>
		<nav style="--bs-breadcrumb-divider: '>'" aria-label="breadcrumb">
			<ol class="breadcrumb align-items-center mb-0 lh-1">
				<li class="breadcrumb-item">
					<a href="{% url 'accesses:inicio' %}" class="d-flex align-items-center text-decoration-none">
						<i class="ri-home-4-line fs-18 text-primary me-1"></i>
						<span class="text-secondary fw-medium hover" >Inicio</span>
					</a>
				</li>
                
                <li class="breadcrumb-item active" aria-current="page">
					<a href="{% url 'vacantes:vacantes_listado_cliente' %}" class="d-flex align-items-center text-decoration-none">
						<span class="text-secondary fw-medium hover" >Listado de Vacantes</span>
					</a>
				</li>
				<li class="breadcrumb-item active" aria-current="page">
					<span class="fw-medium">Asignación Analista</span>
				</li>
			</ol>
		</nav>
	</div>
    <div class="row">
		<div class="col-3">
            {% include "admin/vacancy/common_template/info_vacancy.html" %}
        </div>
		<div class="col-9">
            {% include "admin/vacancy/common_template/metrics_menu_vacancy.html" %}

            <!-- Inicio de Contenido -->
            <div class="card bg-white border-0 rounded-3 mb-4">
                <div class="card-body p-4">
                    <div class="row">
                        
                        {% if analista_asignado.id %}
                        <div class="col-6">
                            <h3 class="mb-3 fs-16 fw-semibold">Analista Actual</h3>
                            <div class="vcard p-3 border rounded">
                                <div class="d-flex align-items-center mb-3">
                                    
                                    {% if analista_asignado.imagen_perfil %}
                                        <img src="{{analista_asignado.imagen_perfil.url}}" alt="Foto del Analista" class="rounded-circle me-3" style="width: 50px; height: 50px;">
                                    {% else %}
                                        <img src="{% static 'admin/images/blank.png' %}" alt="Foto del Analista" class="rounded-circle me-3" style="width: 50px; height: 50px;">
                                    {% endif %}
                                        
                                    
                                    <div> 
                                        <h5 class="mb-0 fw-bold">{{analista_asignado.primer_nombre}} {{analista_asignado.segundo_nombre}} {{analista_asignado.primer_apellido}} {{analista_asignado.segundo_apellido}}</h5>
                                        <small class="text-muted">{{analista_asignado.group.name}}</small>
                                    </div>
                                </div>
                                <div class="mb-2">
                                    <strong>Email:</strong> <a href="mailto:{{analista_asignado.email}}" class="text-decoration-none">{{analista_asignado.email}}</a>
                                </div>
                                <a href="#" class="btn btn-primary py-2 px-4 bg-primary bg-opacity-10 fw-semibold text-primary border-0 hover-bg">
                                    Ver Perfil Completo
                                </a>
                            </div>
                        </div>
                        <div class="col-6">

                        {% else %}    
                        <div class="col-12">
                        {% endif %}
                            
                        
                            <form method="post" id="form_vacante_asignar">
                                {% csrf_token %}
                                {% crispy form %}
                                <button id="form_vacante_asignar" type="submit" class="btn bg-primary bg-opacity-10 fw-medium text-primary py-2 px-4 w-100" form="form_vacante_asignar">Guardar</button>
                            </form>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block js %} 
<script>
    initializeSelect2('#id_analista_asignado');
</script>  
{% endblock js %}