{% extends 'admin/layout/dashboard_base.html' %} 

{% load static %}
{% load crispy_forms_tags %}

{% block title %}
Crear Vacante
{% endblock %}

{% block content %}
<div class="main-content-container overflow-hidden">
	<div class="d-flex justify-content-between align-items-center flex-wrap gap-2 mb-4">
		<h3 class="mb-0" style="color: #B10022;">CREAR VACANTE: </h3>
		<nav style="--bs-breadcrumb-divider: '>'" aria-label="breadcrumb">
			<ol class="breadcrumb align-items-center mb-0 lh-1">
				<li class="breadcrumb-item">
					<a href="{% url 'accesses:inicio' %}" class="d-flex align-items-center text-decoration-none">
						<i class="ri-home-4-line fs-18 text-primary me-1"></i>
						<span class="text-secondary fw-medium hover" >Inicio</span>
					</a>
				</li>
				<li class="breadcrumb-item active" aria-current="page">
					<span class="fw-medium">Crear Vacante</span>
				</li>
			</ol>
		</nav>
	</div>
    <div class="row">
		<div class="col-12">
            <div class="card bg-white border-0 rounded-3 mb-4">
                <div class="card-body p-4">
                    <ul class="nav nav-tabs justify-content-between border-0 mb-4 wizard-tabs2" id="myTabstep2" role="tablist">
                        <li class="nav-item" role="presentation">
                            <button class="nav-link p-0 d-flex align-items-center active" id="tab-data1" data-bs-toggle="tab" data-bs-target="#pane-data1" type="button" role="tab" aria-controls="data1-tab-pane" aria-selected="true">
                                <span class="fs-20 fw-bold text-primary wh-48 bg-primary bg-opacity-10 rounded-circle d-inline-block">1</span>
                                <div class="text-start ms-3">
                                    <h4 class="fs-18 fw-semibold">Datos Principales</h4>
                                </div>
                            </button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link p-0 d-flex align-items-center" id="tab-data2" data-bs-toggle="tab" data-bs-target="#pane-data2" type="button" role="tab" aria-controls="data2-tab-pane" aria-selected="false">
                                <span class="fs-20 fw-bold text-primary wh-48 bg-primary bg-opacity-10 rounded-circle d-inline-block">2</span>
                                <div class="text-start ms-3">
                                    <h4 class="fs-18 fw-semibold">Requisitos Técnicos</h4>
                                </div>
                            </button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link p-0 d-flex align-items-center" id="tab-data3" data-bs-toggle="tab" data-bs-target="#pane-data3" type="button" role="tab" aria-controls="data3-tab-pane" aria-selected="false">
                                <span class="fs-20 fw-bold text-primary wh-48 bg-primary bg-opacity-10 rounded-circle d-inline-block">3</span>
                                <div class="text-start ms-3">
                                    <h4 class="fs-18 fw-semibold">Competencias</h4>
                                </div>
                            </button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link p-0 d-flex align-items-center" id="tab-data4" data-bs-toggle="tab" data-bs-target="#pane-data4" type="button" role="tab" aria-controls="data4-tab-pane" aria-selected="false">
                                <span class="fs-20 fw-bold text-primary wh-48 bg-primary bg-opacity-10 rounded-circle d-inline-block">4</span>
                                <div class="text-start ms-3">
                                    <h4 class="fs-18 fw-semibold">Fit Cultural</h4>
                                </div>
                            </button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link p-0 d-flex align-items-center" id="tab-data5" data-bs-toggle="tab" data-bs-target="#pane-data5" type="button" role="tab" aria-controls="data5-tab-pane" aria-selected="false">
                                <span class="fs-20 fw-bold text-primary wh-48 bg-primary bg-opacity-10 rounded-circle d-inline-block">5</span>
                                <div class="text-start ms-3">
                                    <h4 class="fs-18 fw-semibold">Motivadores</h4>
                                </div>
                            </button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link p-0 d-flex align-items-center" id="tab-data6" data-bs-toggle="tab" data-bs-target="#pane-data6" type="button" role="tab" aria-controls="data6-tab-pane" aria-selected="false">
                                <span class="fs-20 fw-bold text-primary wh-48 bg-primary bg-opacity-10 rounded-circle d-inline-block">6</span>
                                <div class="text-start ms-3">
                                    <h4 class="fs-18 fw-semibold">Comentarios</h4>
                                </div>
                            </button>
                        </li>
                    </ul>
                    {% csrf_token %}
                    <div class="tab-content" id="myTabstep2Content">
                        
                        <div class="tab-pane fade show active" id="pane-data1" role="tabpanel" aria-labelledby="tab-data1" tabindex="0">
                            <h4 class="fs-18 fw-semibold">Información General del cargo</h4>
                            <p class="text-gray-light mb-4">Es la información que precisa las caracteristicas principales de la vacante</p>
                            <div class="row mb-4 p-3 border rounded bg-primary bg-opacity-10">
                                <div class="d-flex align-items-center my-4">
                                    <h6 class="mb-0 pe-3 text-primary fw-bold">Información Básica</h6>
                                    <hr class="flex-grow-1 m-0 border-top border-1 border-secondary opacity-20">
                                </div>
                                <div class="col-md-8">
                                    {{ form.cargo|as_crispy_field }}
                                </div>    
                                <div class="col-md-4">
                                    {{ form.termino_contrato|as_crispy_field }}
                                </div>    
                                <div class="col-md-3">
                                    {{ form.modalidad|as_crispy_field }}
                                </div>    
                                <div class="col-md-3">
                                    {{ form.numero_posiciones|as_crispy_field }}
                                </div>    
                                <div class="col-md-3">
                                    {{ form.cantidad_presentar|as_crispy_field }}
                                </div>    
                                <div class="col-md-3">
                                    {{ form.fecha_presentacion|as_crispy_field }}
                                </div>  
                                <div class="d-flex align-items-center my-4">
                                    <h6 class="mb-0 pe-3 text-primary fw-bold">Ubicación</h6>
                                    <hr class="flex-grow-1 m-0 border-top border-1 border-secondary opacity-20">
                                </div>
                                <div class="col-md-4">
                                    {{ form.lugar_trabajo|as_crispy_field }}
                                </div>    
                                <div class="col-md-4">
                                    {{ form.barrio|as_crispy_field }}
                                </div>    
                                <div class="col-md-4">
                                    {{ form.direccion|as_crispy_field }}
                                </div>    
                                <div class="d-flex align-items-center my-4">
                                    <h6 class="mb-0 pe-3 text-primary fw-bold">Salario</h6>
                                    <hr class="flex-grow-1 m-0 border-top border-1 border-secondary opacity-20">
                                </div>
                                <div class="col-md-3">
                                    {{ form.salario|as_crispy_field }}
                                </div>    
                                <div class="col-md-3">
                                    {{ form.tipo_salario|as_crispy_field }}
                                </div>    
                                <div class="col-md-3">
                                    {{ form.frecuencia_pago|as_crispy_field }}
                                </div>    
                                <div class="col-md-3">
                                    {{ form.salario_adicional|as_crispy_field }}
                                </div>   
                                <div class="d-flex align-items-center my-4">
                                    <h6 class="mb-0 pe-3 text-primary fw-bold">Edad y Genero</h6>
                                    <hr class="flex-grow-1 m-0 border-top border-1 border-secondary opacity-20">
                                </div> 
                                <div class="col-md-2">
                                    {{ form.edad_inicial|as_crispy_field }}
                                </div>   
                                <div class="col-md-2">
                                    {{ form.edad_final|as_crispy_field }}
                                </div>   
                                <div class="col-md-2">
                                    {{ form.genero|as_crispy_field }}
                                </div>
                                <div class="col-md-2">
                                    {{ form.motivo_vacante|as_crispy_field }}
                                </div> 
                                <div class="col-md-4">
                                    {{ form.otro_motivo|as_crispy_field }}
                                </div>
                                
                                <div class="d-flex align-items-center my-4">
                                    <h6 class="mb-0 pe-3 text-primary fw-bold">Horarios</h6>
                                    <hr class="flex-grow-1 m-0 border-top border-1 border-secondary opacity-20">
                                </div>
                                <div class="col-md-3">
                                    {{ form.horario_inicio_1|as_crispy_field }}
                                </div>
                                <div class="col-md-3">
                                    {{ form.horario_final_1|as_crispy_field }}
                                </div>
                                <div class="col-md-3">
                                    {{ form.hora_inicio_1|as_crispy_field }}
                                </div>
                                <div class="col-md-3">
                                    {{ form.hora_final_1|as_crispy_field }}
                                </div>

                                <div class="col-md-3">
                                    {{ form.horario_inicio_2|as_crispy_field }}
                                </div>
                                <div class="col-md-3">
                                    {{ form.horario_final_2|as_crispy_field }}
                                </div>
                                <div class="col-md-3">
                                    {{ form.hora_inicio_2|as_crispy_field }}
                                </div>
                                <div class="col-md-3">
                                    {{ form.hora_final_2|as_crispy_field }}
                                </div>

                                <div class="col-md-3">
                                    {{ form.horario_inicio_3|as_crispy_field }}
                                </div>
                                <div class="col-md-3">
                                    {{ form.horario_final_3|as_crispy_field }}
                                </div>
                                <div class="col-md-3">
                                    {{ form.hora_inicio_3|as_crispy_field }}
                                </div>
                                <div class="col-md-3">
                                    {{ form.hora_final_3|as_crispy_field }}
                                </div>
                                <div class="d-flex align-items-center my-4">
                                    <h6 class="mb-0 pe-3 text-primary fw-bold">Funciones y responsabilides del cargo</h6>
                                    <hr class="flex-grow-1 m-0 border-top border-1 border-secondary opacity-20">
                                </div>
                                <div class="col-md-12">
                                    {{ form.funciones_responsabilidades_1|as_crispy_field }}
                                </div>
                                <div class="col-md-12">
                                    {{ form.funciones_responsabilidades_2|as_crispy_field }}
                                </div>
                                <div class="col-md-12">
                                    {{ form.funciones_responsabilidades_3|as_crispy_field }}
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane fade" id="pane-data2" role="tabpanel" aria-labelledby="tab-data2" tabindex="0">
                            <h4 class="fs-18 fw-semibold">Requisitos técnicos (Hard Skills)</h4>
                            <p class="text-gray-light mb-4">Lo que el cargo necesita para operar eficientemente</p>
                            <div class="row mb-4 p-3 border rounded bg-primary bg-opacity-10">
                                <div class="d-flex align-items-center my-4">
                                    <h6 class="mb-0 pe-3 text-primary fw-bold">Experiencia Laborales</h6>
                                    <hr class="flex-grow-1 m-0 border-top border-1 border-secondary opacity-20">
                                </div>
                                <div class="col-md-4">
                                    {{ form.tiempo_experiencia_1|as_crispy_field }}
                                </div> 
                                <div class="col-md-8">
                                    {{ form.experiencia_especifica_en_1|as_crispy_field }}
                                </div> 
                                <div class="col-md-4">
                                    {{ form.tiempo_experiencia_2|as_crispy_field }}
                                </div> 
                                <div class="col-md-8">
                                    {{ form.experiencia_especifica_en_2|as_crispy_field }}
                                </div> 
                                <div class="col-md-4">
                                    {{ form.tiempo_experiencia_3|as_crispy_field }}
                                </div> 
                                <div class="col-md-8">
                                    {{ form.experiencia_especifica_en_3|as_crispy_field }}
                                </div> 
                                <div class="d-flex align-items-center my-4">
                                    <h6 class="mb-0 pe-3 text-primary fw-bold">Idiomas</h6>
                                    <hr class="flex-grow-1 m-0 border-top border-1 border-secondary opacity-20">
                                </div>
                                <div class="col-md-4">
                                    {{ form.idioma_1|as_crispy_field }}
                                </div> 
                                <div class="col-md-8">
                                    {{ form.nivel_idioma_1|as_crispy_field }}
                                </div> 
                                <div class="col-md-4">
                                    {{ form.idioma_2|as_crispy_field }}
                                </div> 
                                <div class="col-md-8">
                                    {{ form.nivel_idioma_2|as_crispy_field }}
                                </div> 
                                <div class="d-flex align-items-center my-4">
                                    <h6 class="mb-0 pe-3 text-primary fw-bold">Estudios o profesión</h6>
                                    <hr class="flex-grow-1 m-0 border-top border-1 border-secondary opacity-20">
                                </div>
                                <div class="col-md-4">
                                    {{ form.profesion_estudio|as_crispy_field }}
                                </div> 
                                <div class="col-md-8">
                                    {{ form.nivel_estudio|as_crispy_field }}
                                </div> 
                                <div class="d-flex align-items-center my-4">
                                    <h6 class="mb-0 pe-3 text-primary fw-bold">Estudios complementarios</h6>
                                    <hr class="flex-grow-1 m-0 border-top border-1 border-secondary opacity-20">
                                </div>
                                <div class="col-md-8">
                                    {{ form.estudios_complementarios_1|as_crispy_field }}
                                </div> 
                                <div class="col-md-4">
                                    {{ form.estudios_complementarios_certificado_1|as_crispy_field }}
                                </div> 
                                <div class="col-md-8">
                                    {{ form.estudios_complementarios_2|as_crispy_field }}
                                </div> 
                                <div class="col-md-4">
                                    {{ form.estudios_complementarios_certificado_2|as_crispy_field }}
                                </div> 
                                <div class="col-md-8">
                                    {{ form.estudios_complementarios_3|as_crispy_field }}
                                </div> 
                                <div class="col-md-4">
                                    {{ form.estudios_complementarios_certificado_3|as_crispy_field }}
                                </div> 
                                
                            </div>
                        </div>

                        <div class="tab-pane fade" id="pane-data3" role="tabpanel" aria-labelledby="tab-data3" tabindex="0">
                            <h4 class="fs-18 fw-semibold">Competencias Clave (Soft Skills)</h4>
                            <p class="text-gray-light mb-4">Selecciona hasta 5 habilidades clave para el éxito de este rol</p>
                            <div class="row mb-4 p-3 border rounded bg-primary bg-opacity-10">
                                <div class="d-flex align-items-center my-4">
                                    <h6 class="mb-0 pe-3 text-primary fw-bold">Habilidades Blandas</h6>
                                    <hr class="flex-grow-1 m-0 border-top border-1 border-secondary opacity-20">
                                </div>
                                <div class="col-md-2">
                                    {{ form.skill_relacionales|as_crispy_field }}
                                </div> 
                                <div class="col-md-2">
                                    {{ form.skill_personales|as_crispy_field }}
                                </div> 
                                <div class="col-md-3">
                                    {{ form.skill_cognitivas|as_crispy_field }}
                                </div> 
                                <div class="col-md-3">
                                    {{ form.skill_digitales|as_crispy_field }}
                                </div> 
                                <div class="col-md-2">
                                    {{ form.skill_liderazgo|as_crispy_field }}
                                </div> 
                            </div>
                        </div>

                        <div class="tab-pane fade" id="pane-data4" role="tabpanel" aria-labelledby="tab-data4" tabindex="0">
                            <h4 class="fs-18 fw-semibold">Competencias Clave (Soft Skills)</h4>
                            <p class="text-gray-light mb-4">Selecciona hasta 5 habilidades clave para el éxito de este rol</p>
                            <div class="row mb-4 p-3 border rounded bg-primary bg-opacity-10">
                                <div class="d-flex align-items-center my-4">
                                    <h6 class="mb-0 pe-3 text-primary fw-bold">Habilidades Blandas</h6>
                                    <hr class="flex-grow-1 m-0 border-top border-1 border-secondary opacity-20">
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane fade" id="pane-data5" role="tabpanel" aria-labelledby="tab-data5" tabindex="0">
                            <h4>Motivadores</h4>
                            <!-- Contenido aquí -->
                        </div>

                        <div class="tab-pane fade" id="pane-data6" role="tabpanel" aria-labelledby="teb-data6" tabindex="0">
                            <h4>Comentarios</h4>
                            <!-- Contenido aquí -->
                        </div>
                    </div>
                </div>
            </div>

            <div class="card bg-white border-0 rounded-3 mb-4">
                <div class="card-body p-4">
                    <ul class="nav nav-tabs justify-content-between border-0 mb-4 wizard-tabs2" id="myTabstep2" role="tablist">
                        <li class="nav-item" role="presentation">
                            <button class="nav-link p-0 d-flex align-items-center active" id="step5-tab" data-bs-toggle="tab" data-bs-target="#step5-tab-pane" type="button" role="tab" aria-controls="step5-tab-pane" aria-selected="true">
                                <span class="fs-20 fw-bold text-primary wh-48 bg-primary bg-opacity-10 rounded-circle d-inline-block">1</span>
                                <div class="text-start ms-3">
                                    <h4 class="fs-18 fw-semibold">General Information</h4>
                                    <p class="text-gray-light mb-0">Fill all Information as below</p>
                                </div>
                            </button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link p-0 d-flex align-items-center" id="step6-tab" data-bs-toggle="tab" data-bs-target="#step6-tab-pane" type="button" role="tab" aria-controls="step6-tab-pane" aria-selected="false">
                                <span class="fs-20 fw-bold text-primary wh-48 bg-primary bg-opacity-10 rounded-circle d-inline-block">2</span>
                                <div class="text-start ms-3">
                                    <h4 class="fs-18 fw-semibold">Personal Info</h4>
                                    <p class="text-gray-light mb-0">Setup Information</p>
                                </div>
                            </button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link p-0 d-flex align-items-center" id="step7-tab" data-bs-toggle="tab" data-bs-target="#step7-tab-pane" type="button" role="tab" aria-controls="step7-tab-pane" aria-selected="false">
                                <span class="fs-20 fw-bold text-primary wh-48 bg-primary bg-opacity-10 rounded-circle d-inline-block">3</span>
                                <div class="text-start ms-3">
                                    <h4 class="fs-18 fw-semibold">Social Links</h4>
                                    <p class="text-gray-light mb-0">Add Social Links</p>
                                </div>
                            </button>
                        </li>
                    </ul>
                    <div class="tab-content" id="myTabstep2Content">
                        <div class="tab-pane fade show active" id="step5-tab-pane" role="tabpanel" aria-labelledby="step5-tab" tabindex="0">
                            <form>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group mb-4">
                                            <label class="label">First Name</label>
                                            <div class="form-group position-relative">
                                                <input type="text" class="form-control text-dark ps-5 h-55" placeholder="Enter Name">
                                                <i class="ri-user-line position-absolute top-50 start-0 translate-middle-y fs-20 text-gray-light ps-20"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group mb-4">
                                            <label class="label">Last Name</label>
                                            <div class="form-group position-relative">
                                                <input type="text" class="form-control text-dark ps-5 h-55" placeholder="Enter Name">
                                                <i class="ri-user-line position-absolute top-50 start-0 translate-middle-y fs-20 text-gray-light ps-20"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group mb-4">
                                            <label class="label">Email Address</label>
                                            <div class="form-group position-relative">
                                                <input type="email" class="form-control text-dark ps-5 h-55" placeholder="Enter Email Address">
                                                <i class="ri-mail-line position-absolute top-50 start-0 translate-middle-y fs-20 text-gray-light ps-20"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group mb-4">
                                            <label class="label">Phone</label>
                                            <div class="form-group position-relative">
                                                <input type="number" class="form-control text-dark ps-5 h-55" placeholder="Enter Phone Number">
                                                <i class="ri-phone-line position-absolute top-50 start-0 translate-middle-y fs-20 text-gray-light ps-20"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="form-group mb-4">
                                            <label class="label">Address</label>
                                            <div class="form-group position-relative">
                                                <input type="number" class="form-control text-dark ps-5 h-55" placeholder="Your Location">
                                                <i class="ri-map-pin-line position-absolute top-50 start-0 translate-middle-y fs-20 text-gray-light ps-20"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="form-group d-flex gap-3">
                                            <button class="btn btn-primary bg-primary bg-opacity-10 text-primary py-3 px-5 fw-semibold border-0">Back</button>
                                            <button class="btn btn-primary py-3 px-5 fw-semibold text-white">Next</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="tab-pane fade" id="step6-tab-pane" role="tabpanel" aria-labelledby="step6-tab" tabindex="0">
                            <h4 class="fs-18 fw-semibold">Personal Information</h4>
                            <p class="text-gray-light mb-4">Fill all Information as below</p>
                            <form>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="form-group mb-4">
                                            <label class="label">Country</label>
                                            <div class="form-group position-relative">
                                                <select class="form-select form-control ps-5 h-55" aria-label="Default select example">
                                                    <option selected class="text-dark">United Kingdom</option>
                                                    <option value="1" class="text-dark">United States</option>
                                                    <option value="2" class="text-dark">Canada</option>
                                                    <option value="3" class="text-dark">France</option>
                                                </select>
                                                <i class="ri-map-2-line position-absolute top-50 start-0 translate-middle-y fs-20 text-gray-light ps-20"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="form-group mb-4">
                                            <label class="label">Town/City</label>
                                            <div class="form-group position-relative">
                                                <select class="form-select form-control ps-5 h-55" aria-label="Default select example">
                                                    <option selected class="text-dark">California</option>
                                                    <option value="1" class="text-dark">United States</option>
                                                    <option value="2" class="text-dark">Canada</option>
                                                    <option value="3" class="text-dark">France</option>
                                                </select>
                                                <i class="ri-list-ordered position-absolute top-50 start-0 translate-middle-y fs-20 text-gray-light ps-20"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="form-group mb-4">
                                            <label class="label">State</label>
                                            <div class="form-group position-relative">
                                                <select class="form-select form-control ps-5 h-55" aria-label="Default select example">
                                                    <option selected class="text-dark">South poal evenue state 4C</option>
                                                    <option value="1" class="text-dark">United States</option>
                                                    <option value="2" class="text-dark">Canada</option>
                                                    <option value="3" class="text-dark">France</option>
                                                </select>
                                                <i class="ri-font-size position-absolute top-50 start-0 translate-middle-y fs-20 text-gray-light ps-20"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="form-group mb-4">
                                            <label class="label">Zip Code</label>
                                            <div class="form-group position-relative">
                                                <input type="number" class="form-control ps-5 text-gray-light h-55" placeholder="Enter number">
                                                <i class="ri-hashtag position-absolute top-50 start-0 translate-middle-y fs-20 text-gray-light ps-20"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="form-group mb-4">
                                            <label class="label">Order Notes :</label>
                                            <div class="form-group position-relative">
                                                <textarea class="form-control ps-5 text-dark" placeholder="Some demo text ... " cols="30" rows="5"></textarea>
                                                <i class="ri-information-line position-absolute top-0 start-0 fs-20 text-gray-light ps-20 pt-2"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="form-group d-flex gap-3">
                                            <button class="btn btn-primary bg-primary bg-opacity-10 text-primary py-3 px-5 fw-semibold border-0">Back</button>
                                            <button class="btn btn-primary py-3 px-5 fw-semibold text-white">Next</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="tab-pane fade" id="step7-tab-pane" role="tabpanel" aria-labelledby="step7-tab" tabindex="0">
                            <h4 class="fs-18 fw-semibold">Social Information</h4>
                            <p class="text-gray-light mb-4">Fill all Information as below</p>
                            <form>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group mb-4">
                                            <label class="label">Facebook</label>
                                            <div class="form-group position-relative">
                                                <input type="text" class="form-control text-dark ps-5 h-55" placeholder="URL">
                                                <i class="ri-facebook-line position-absolute top-50 start-0 translate-middle-y fs-20 text-gray-light ps-20"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group mb-4">
                                            <label class="label">Twitter</label>
                                            <div class="form-group position-relative">
                                                <input type="text" class="form-control text-dark ps-5 h-55" placeholder="URL">
                                                <i class="ri-twitter-x-line position-absolute top-50 start-0 translate-middle-y fs-20 text-gray-light ps-20"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group mb-4">
                                            <label class="label">Linkedin</label>
                                            <div class="form-group position-relative">
                                                <input type="email" class="form-control text-dark ps-5 h-55" placeholder="URL">
                                                <i class="ri-linkedin-line position-absolute top-50 start-0 translate-middle-y fs-20 text-gray-light ps-20"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group mb-4">
                                            <label class="label">YouTube</label>
                                            <div class="form-group position-relative">
                                                <input type="number" class="form-control text-dark ps-5 h-55" placeholder="URL">
                                                <i class="ri-youtube-line position-absolute top-50 start-0 translate-middle-y fs-20 text-gray-light ps-20"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="form-group d-flex gap-3">
                                            <button class="btn btn-primary bg-primary bg-opacity-10 text-primary py-3 px-5 fw-semibold border-0">Back</button>
                                            <button type="submit" class="btn btn-primary py-3 px-5 fw-semibold text-white">Submit</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block js %} 
<script>
    $(document).ready(function() {
        $('#clientes_listado_politicas').DataTable({
            "language": {
                "lengthMenu": "Mostrar _MENU_ registros por página",
                "zeroRecords": "No se encontraron registros",
                "info": "Mostrando página _PAGE_ de _PAGES_",
                "infoEmpty": "No hay registros disponibles",
                "infoFiltered": "(filtrado de _MAX_ registros totales)",
                "search": "Buscar:",
                "paginate": {
                    "next": "Siguiente",
                    "previous": "Anterior"
                }
            },
            "columnDefs": [
                {
                    "targets": -1,
                    "orderable": false,
                    "searchable": false
                }
            ]
        });
    });

    // Initialize select2 for specific fields
    // Initialize select2 for specific fields
    initializeSelect2('#id_cargo');
    initializeSelect2('#id_edad');
    initializeSelect2('#id_genero');
    initializeSelect2('#id_tiempo_experiencia');
    initializeSelect2('#id_modalidad');
    initializeSelect2('#id_jornada');
    initializeSelect2('#id_tipo_salario');
    initializeSelect2('#id_nivel_estudio');
    initializeSelect2('#id_lugar_trabajo');
    initializeSelect2('#id_termino_contrato');
    initializeSelect2('#id_profesion_estudio');
    initializeSelect2('#id_frecuencia_pago');
    initializeSelect2('#id_nivel_idioma');
    
    initializeSelect2('#id_estudios_complementarios_certificado_1');
    initializeSelect2('#id_estudios_complementarios_certificado_2');
    initializeSelect2('#id_estudios_complementarios_certificado_3');
    initializeSelect2('#id_numero_posiciones');
    initializeSelect2('#id_cantidad_presentar');
    initializeSelect2('#id_estado_estudio');
    initializeSelect2('#id_idioma');
    initializeSelect2('#id_edad_inicial');
    initializeSelect2('#id_edad_final');
    initializeSelect2('#id_idioma_1');
    initializeSelect2('#id_idioma_2');
    initializeSelect2('#id_nivel_idioma_1');
    initializeSelect2('#id_nivel_idioma_2');
    

    initializeSelect2('#id_tiempo_experiencia_1');
    initializeSelect2('#id_tiempo_experiencia_2');
    initializeSelect2('#id_tiempo_experiencia_3');

    initializeSelect2('#id_horario_final_1');
    initializeSelect2('#id_horario_inicio_1');
    initializeSelect2('#id_horario_final_2');
    initializeSelect2('#id_horario_inicio_2');
    initializeSelect2('#id_horario_final_3');
    initializeSelect2('#id_horario_inicio_3');

    // Lista personalizada para el campo 2
    const semana = ["Lunes", "Martes", "Miércoles", "Jueves", "Viernes", "Sábado", "Domingo"];
    incializarTagifyLista('id_horario', semana);
    

    
</script>  
{% endblock js %}