{% extends 'admin/layout/dashboard_base.html' %} 
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<div class="main-content-container overflow-hidden">
	<div class="d-flex justify-content-between align-items-center flex-wrap gap-2 mb-4">
		<h3 class="mb-0" style="color: #B10022;">LISTADO DE CLIENTES</h3>
		<nav style="--bs-breadcrumb-divider: '>'" aria-label="breadcrumb">
			<ol class="breadcrumb align-items-center mb-0 lh-1">
				<li class="breadcrumb-item">
					<a href="#" class="d-flex align-items-center text-decoration-none">
						<i class="ri-home-4-line fs-18 text-primary me-1"></i>
						<span class="text-secondary fw-medium hover" >Inicio</span>
					</a>
				</li>
				<li class="breadcrumb-item active" aria-current="page">
					<span class="fw-medium">Listado de Clientes</span>
				</li>
			</ol>
		</nav>
	</div>

	<!-- Start Your Code -->
	<div class="card bg-white border-0 rounded-3 mb-4">
		<div class="card-body p-4">
			<div class="row">
				<div class="col-12">
                    <div class="default-table-area all-products">
                        <div class="table-responsive">
                            <table class="table align-middle" id="myTable">
                                <thead>
                                    <tr>
                                        <th scope="col">ID</th>
                                        <th scope="col">NIT</th>
                                        <th scope="col">CLIENTE</th>
                                        <th scope="col">CIUDAD</th>
                                        <th scope="col">TIPO CLIENTE</th>
                                        <th scope="col"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for e in clientes %}
                                    <tr>
                                        <td class="text-body">{{ e.id }}</td>
                                        <td class="text-body">{{ e.nit }}</td>
                                        <td>
                                            <div class="d-flex align-items-center">
                                                {% if e.logo %}
                                                    <img src="{{ e.logo.url }}" class="wh-40 rounded-3" alt="user">
                                                {% else %}  
                                                    <img src="{% static 'admin/images/blank.png' %}" class="wh-40 rounded-3" alt="user">
                                                {% endif %}
                                                
                                                <div class="ms-2 ps-1">
                                                    <h6 class="fw-medium fs-14 mb-0">{{ e.razon_social }}</h6>
                                                </div>
                                            </div>
                                        </td>
                                        <td class="text-body">{{ e.ciudad_id_004.nombre }}</td>
                                        <td class="text-body">
                                            {% if e.tipo_cliente %}
                                                {% if e.tipo_cliente == 1 %}
                                                    Empresa
                                                {% elif e.tipo_cliente == 2 %}
                                                    Headhunter
                                                {% elif e.tipo_cliente == 3 %}
                                                    Cliente Headhunter
                                                {% else %}
                                                    Sin Definir
                                                {% endif %}
                                            {% else %}
                                                Sin Definir
                                            {% endif %}
                                        </td>
                                        <td>
                                            <div class="d-flex align-items-center gap-1">
                                                <a href="{% url 'clientes:cliente_detalle' e.id %}" class="ps-0 border-0 bg-transparent lh-1 position-relative top-2" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="View">
                                                    <i class="material-symbols-outlined fs-16 text-primary">visibility</i>
                                                </a>
                                                <button class="ps-0 border-0 bg-transparent lh-1 position-relative top-2" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Edit">
                                                    <i class="material-symbols-outlined fs-16 text-body">edit</i>
                                                </button>
                                                {% comment %} <button class="ps-0 border-0 bg-transparent lh-1 position-relative top-2" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Delete">
                                                    <i class="material-symbols-outlined fs-16 text-danger">delete</i>
                                                </button> {% endcomment %}
                                            </div>
                                        </td> 
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}

{% block js %} 
<script>
    $(document).ready(function() {
        $('#clientes_listado').DataTable({
            "language": {
                "lengthMenu": "Mostrar _MENU_ registros por página",
                "zeroRecords": "No se encontraron registros",
                "info": "Mostrando página _PAGE_ de _PAGES_",
                "infoEmpty": "No hay registros disponibles",
                "infoFiltered": "(filtrado de _MAX_ registros totales)",
                "search": "Buscar:",
                "paginate": {
                    "next": "Siguiente",
                    "previous": "Anterior"
                }
            },
            "columnDefs": [
                {
                    "targets": -1,
                    "orderable": false,
                    "searchable": false
                }
            ]
        });
    });
</script>  
{% endblock js %}