{% extends 'admin/layout/auth_base.html' %} 
{% block title %} Talent Tray | Login{% endblock %}
{% load crispy_forms_tags %}
{% block content %}
<!-- Start Main Content Area -->
<div class="container">
	<div class="main-content d-flex flex-column p-0">
		<div class="m-auto m-1230">
			<div class="row align-items-center">
				<div class="col-lg-6 d-none d-lg-block">
					<img src="/static/admin/images/login.jpg" class="rounded-3" alt="login" />
				</div>
				<div class="col-lg-6">
					<div class="mw-480 ms-lg-auto">
						<div class="d-inline-block mb-4">
							<img src="/static/admin/images/landing/logo-talent-tray.png" class="rounded-3 for-light-logo" alt="login" width="300" />
							<img src="/static/admin/images/landing/logo-talent-tray.png" class="rounded-3 for-dark-logo" alt="login" width="300"  />
						</div>
						<p class="fw-medium fs-16 mb-4">
							Por favor registra tus datos para acceder a la plataforma.
						</p>
						<div class="row justify-content-center">
							
						</div>
                        {% crispy form %}
                        <div class="form-group">
                            <p>
                                Si no tiene una cuenta, por favor realice su registro.
                                <a href="{% url 'accesses:registration' %}" class="fw-medium text-primary text-decoration-none">Registro</a>
                            </p>
                        </div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- End Main Content Area -->
{% endblock %}

{% block js %} 
<script>

    $(document).ready(function() {
        $('.select2').select2({
            theme: 'bootstrap-5',  // Si usas Bootstrap 5, puedes cambiar a "bootstrap-5"
        });
    });

    {% if messages %}
        {% for message in messages %}
            Swal.fire({
                text: "{{ message }}",
                icon: "{{message.tags}}",
                showConfirmButton: true,
                confirmButtonText: "Ok",
                customClass: {
                    confirmButton: "btn btn-primary"
                },
                willOpen: (toast) => {
                    toast.addEventListener('mouseenter', Swal.stopTimer);
                    toast.addEventListener('mouseleave', Swal.resumeTimer);
                }
            });
        {% endfor %}
    {% endif %}
</script>  
{% endblock js %} 