<!-- base.html -->
<!DOCTYPE html>
<html lang="en">
	<head>
		<title>
			{% block title %}{% endblock %}
		</title>
		{% include 'admin/layout/partials/asset_files.html' %}
	</head>
	<body
		data-bs-spy="scroll"
		data-bs-target="#navbar-example2"
		data-bs-root-margin="0px 0px -40%"
		data-bs-smooth-scroll="true"
		class="scrollspy-example"
		tabindex="0"
	>
        {% include 'admin/layout/partials/preloader.html' %}
		{% include 'admin/layout/partials/navbar.html' %} {% block content %}
		<!-- Default content can go here -->

		<!-- Default content can go here -->
		{% endblock %} {% include 'admin/layout/partials/footer.html' %}
	</body>
</html>
