{% extends 'admin/layout/dashboard_base.html' %} 

{% load static %}
{% load crispy_forms_tags %}

{% block title %}
Listado de vacantes
{% endblock %}

{% block content %}
<div class="main-content-container overflow-hidden">
	<div class="d-flex justify-content-between align-items-center flex-wrap gap-2 mb-4">
		<h3 class="mb-0" style="color: #B10022;">VACANTES ASIGNADAS: </h3>
		<nav style="--bs-breadcrumb-divider: '>'" aria-label="breadcrumb">
			<ol class="breadcrumb align-items-center mb-0 lh-1">
				<li class="breadcrumb-item">
					<a href="{% url 'accesses:inicio' %}" class="d-flex align-items-center text-decoration-none">
						<i class="ri-home-4-line fs-18 text-primary me-1"></i>
						<span class="text-secondary fw-medium hover" >Inicio</span>
					</a>
				</li>
				<li class="breadcrumb-item active" aria-current="page">
					<span class="fw-medium">Vacantes Asignadas</span>
				</li>
			</ol>
		</nav>
	</div>
    <div class="row">
		<div class="col-12">
			<div class="card bg-white border-0 rounded-3 mb-4">
                <div class="card-header bg-primary bg-opacity-10 align-middle border-0"> 
                    <p class="text-primary my-2 fs-4 fw-semibold"> Vacantes Asignadas</p>
                </div>
				<div class="card-body p-4">
                    <div class="row">
                        <div class="col-12">
                            <div class="default-table-area all-projects">
                                <div class="table-responsive">
                                    <table class="table align-middle text-center" id="myTable">
                                        <thead>
                                            <tr>
                                                <th scope="col" class="text-center">ACCIONES</th>
                                                <th scope="col" class="text-center">ESTADO</th>
                                                <th scope="col" class="text-center">ID</th>
                                                <th scope="col" class="text-center">Cargo</th>
                                                <th scope="col" class="text-center"># Pocisiones</th>
                                                <th scope="col" class="text-center">F. Creación</th>
                                                <th scope="col" class="text-center">F. Presentación</th>
                                                <th scope="col" class="text-center">F. Cierre</th>
                                                <th scope="col" class="text-center">TOTAL</th>
                                                <th scope="col" class="text-center">APLICADOS</th>
                                                <th scope="col" class="text-center">EN PROCESO</th>
                                                <th scope="col" class="text-center">FINALIZADOS</th>
                                                <th scope="col" class="text-center">CANCELADOS</th>
                                                <th scope="col" class="text-center">DESISTIDOS</th>
                                                <th scope="col" class="text-center">NO APTOS</th>
                                                <th scope="col" class="text-center">SELECCIONADOS</th>
                                                
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for e in vacantes %}
                                            <tr>
                                                <td class="text-center">
                                                    <div class="d-flex justify-content-center align-items-center gap-1">
                                                        <div class="d-flex justify-content-center align-items-center gap-1" alt="Gestionar" title="Gestionar">
                                                            <a href="{% url 'vacantes:vacantes_editar_propias' e.asignacion_cliente_id_064.id_cliente_asignado.id e.id %}" class="btn bg-primary bg-opacity-10 fw-medium text-primary py-2 px-4">
                                                                <i class="material-symbols-outlined fs-16">edit</i>
                                                            </a>
                                                            <a href="{% url 'vacantes:vacantes_gestion_propias' e.asignacion_cliente_id_064.id_cliente_asignado.id e.id %}" class="btn bg-primary bg-opacity-10 fw-medium text-primary py-2 px-4">
                                                                <i class="material-symbols-outlined fs-16">inbox_customize</i>
                                                            </a>
                                                            
                                                        </div>
                                                    </div>
                                                </td> 
                                                <td class="text-center">
                                                    {% if e.estado_vacante == 1 %}
                                                        <span class="badge bg-secondary bg-opacity-10 text-secondary p-2 fs-12 fw-normal">Activa</span>
                                                    {% elif e.estado_vacante == 2 %}
                                                        <span class="badge bg-warning bg-opacity-10 text-warning p-2 fs-12 fw-normal">En Proceso</span>
                                                    {% elif e.estado_vacante == 3 %}
                                                        <span class="badge bg-success bg-opacity-10 text-success p-2 fs-12 fw-normal">Finalizada</span>
                                                    {% elif e.estado_vacante == 4 %}
                                                        <span class="badge bg-danger bg-opacity-10 text-danger p-2 fs-12 fw-normal">Cancelada</span>
                                                    {% else %}
                                                        <span class="badge bg-light bg-opacity-10 text-dark p-2 fs-12 fw-normal">Desconocido</span>
                                                    {% endif %}
                                                </td>
                                                <td class="text-body text-center">{{e.id}}</td>
                                                <td class="text-secondary text-center"><a href="{% url 'vacantes:vacantes_detalle_cliente' e.id  %}" class="fw-medium">{{e.cargo.nombre_cargo}}</a></td>
                                                <td class="text-secondary text-center">{{e.numero_posiciones}}</td>
                                                <td class="text-secondary text-center">{{ e.fecha_creacion|date:"Y-m-d" }}</td>
                                                <td class="text-secondary text-center">{{ e.fecha_presentacion|date:"Y-m-d" }}</td>
                                                <td class="text-secondary text-center">{{ e.fecha_cierre|date:"Y-m-d" }}</td>
                                                <td class="text-secondary text-center">{{ e.total_aplicaciones }}</td>
                                                <td class="text-secondary text-center">
                                                    <span class="badge bg-warning bg-opacity-10 text-warning p-2 fs-12 fw-normal">{{ e.aplicadas }}</span>
                                                </td>
                                                <td class="text-secondary text-center">
                                                    <span class="badge bg-info bg-opacity-10 text-info p-2 fs-12 fw-normal">{{ e.en_proceso }}</span>
                                                </td>
                                                <td class="text-secondary text-center">
                                                    <span class="badge bg-primary bg-opacity-10 text-primary p-2 fs-12 fw-normal">{{ e.finalizadas }}</span>
                                                </td>
                                                <td class="text-secondary text-center">
                                                    <span class="badge bg-secondary bg-opacity-10 text-secondary p-2 fs-12 fw-normal">{{ e.canceladas }}</span>
                                                </td>
                                                <td class="text-secondary text-center">
                                                    <span class="badge bg-secondary bg-opacity-10 text-secondary p-2 fs-12 fw-normal">{{ e.desistidos }}</span>
                                                </td>
                                                <td class="text-secondary text-center">
                                                    <span class="badge bg-danger bg-opacity-10 text-danger p-2 fs-12 fw-normal">{{ e.no_aptas }}</span>
                                                </td>
                                                <td class="text-secondary text-center">
                                                    <span class="badge bg-success bg-opacity-10 text-success p-2 fs-12 fw-normal">{{ e.seleccionados }}</span>
                                                </td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
			</div>
		</div>
	</div>
</div>
{% endblock %}

{% block js %} 
<script>
    
</script>  
{% endblock js %}