{% load static %}
<div class="card border-0 rounded-2 p-4 bg-white mb-4">
    <div class="card-body">
        <div class="d-flex justify-content-center gap-2">
            <a href="{% url 'vacantes:vacantes_gestion_analista_interno' vacante.id %}" class="btn {% if request.resolver_match.url_name == 'vacantes_gestion_analista_interno' %}btn-primary {% else %} btn-outline-primary {% endif %} py-2 px-3 fw-medium">Información</a>
            <a href="{% url 'reclutados:reclutados_analista_interno' vacante.id %}" class="btn {% if request.resolver_match.url_name == 'reclutados_analista_interno' %}btn-primary {% else %} btn-outline-primary {% endif %}y py-2 px-3 fw-medium">Reclutados</a>
            <a href="{% url 'vacantes:vacantes_entrevista_cliente' vacante.id %}" class="btn {% if request.resolver_match.url_name == 'vacantes_entrevista_cliente' %}btn-primary {% else %} btn-outline-primary {% endif %} py-2 px-3 fw-medium">Entrevistas</a>
        </div>
    </div>
</div>
