{% load static %}
<div class="row">
    <div class="col-lg-4 col-md-6">
        <div class="card border-0 rounded-3 bg-white mb-4">
            <div class="custom-padding-30 position-relative">
                <div class="d-flex align-items-center mb-4 pb-2">
                    <div class="flex-shrink-0">
                        <div class="text-center rounded-2 bg-primary-50" style="width: 44px; height: 44px; line-height: 44px;">
                            <img src="{% static 'admin/images/icon-employees.svg' %}" alt="icon-employees">
                        </div>
                    </div>
                    <div class="flex-grow-1 ms-3">
                        <span class="d-block mb-1">Total Employees</span>
                        <h3 class="fw-medium fs-20 mb-0">15,720</h3>
                    </div>
                </div>

                <div class="d-flex align-items-center">
                    <i class="ri-arrow-right-up-line d-inline-block text-center rounded-1 fs-18 text-success-50" style="width: 26px; height: 26px; line-height: 26px; background-color: #D8FFC8;"></i>
                    <p class="ms-2"><span class="text-secondary fw-medium">+12%</span> last year</p>
                </div>

                <div id="total_employees" class="chart-position top-50 translate-middle-y"></div>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-6">
        <div class="card border-0 rounded-3 bg-white mb-4">
            <div class="custom-padding-30 position-relative">
                <div class="d-flex align-items-center mb-4 pb-2">
                    <div class="flex-shrink-0">
                        <div class="text-center rounded-2 bg-danger-50" style="width: 44px; height: 44px; line-height: 44px;">
                            <img src="{% static 'admin/images/icon-resigned.svg' %}" alt="icon-resigned">
                        </div>
                    </div>
                    <div class="flex-grow-1 ms-3">
                        <span class="d-block mb-1">Resigned Employees</span>
                        <h3 class="fw-medium fs-20 mb-0">3,18</h3>
                    </div>
                </div>

                <div class="d-flex align-items-center">
                    <i class="ri-arrow-right-down-line d-inline-block text-center rounded-1 fs-18 text-danger-50" style="width: 26px; height: 26px; line-height: 26px; background-color: #FFE8D4;"></i>
                    <p class="ms-2"><span class="text-secondary fw-medium">-5%</span> last year</p>
                </div>

                <div id="resigned_employees" class="chart-position top-50 translate-middle-y"></div>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-12">
        <div class="card border-0 rounded-3 bg-white mb-4">
            <div class="custom-padding-30 position-relative">
                <div class="d-flex align-items-center mb-4 pb-2">
                    <div class="flex-shrink-0">
                        <div class="text-center rounded-2 bg-primary-div-50" style="width: 44px; height: 44px; line-height: 44px;">
                            <img src="{% static 'admin/images/icon-employees.svg' %}" alt="icon-employees">
                        </div>
                    </div>
                    <div class="flex-grow-1 ms-3">
                        <span class="d-block mb-1">New Employees</span>
                        <h3 class="fw-medium fs-20 mb-0">8,24</h3>
                    </div>
                </div>

                <div class="d-flex align-items-center">
                    <i class="ri-arrow-right-up-line d-inline-block text-center rounded-1 fs-18 text-success-50" style="width: 26px; height: 26px; line-height: 26px; background-color: #D8FFC8;"></i>
                    <p class="ms-2"><span class="text-secondary fw-medium">+10%</span> last year</p>
                </div>

                <div id="new_employees" class="chart-position top-50 translate-middle-y me-1 mt-2"></div>
            </div>
        </div>
    </div>
</div>

<!-- Menu -->
<div class="d-flex justify-content-center flex-wrap gap-2 mb-4">
    <a href="{% url 'vacantes:vacantes_detalle_cliente' vacante.id %}" class="btn {% if request.resolver_match.url_name == 'vacantes_detalle_cliente' %}btn-primary {% else %} btn-outline-primary {% endif %} py-2 px-3 fw-medium">Información</a>
    <a href="{% url 'reclutados:vacantes_reclutados_cliente' vacante.id %}" class="btn {% if request.resolver_match.url_name == 'vacantes_reclutados_cliente' %}btn-primary {% else %} btn-outline-primary {% endif %}y py-2 px-3 fw-medium">Reclutados</a>
    <a href="{% url 'vacantes:vacantes_entrevista_cliente' vacante.id %}" class="btn {% if request.resolver_match.url_name == 'vacantes_entrevista_cliente' %}btn-primary {% else %} btn-outline-primary {% endif %} py-2 px-3 fw-medium">Entrevistas</a>
</div>