{% load static %}

<li class="nav-item">
    <a class="nav-link text-active-primary pb-4 {% if request.resolver_match.url_name == 'cliente_detalle' %}active{% endif %}" href="{% url 'clientes:cliente_detalle' cliente.id %}">Resumen</a>
</li>

<li class="nav-item">
    <a class="nav-link text-active-primary pb-4 {% if request.resolver_match.url_name == 'cliente_vacante' %}active{% endif %}" href="{% url 'clientes:cliente_vacante' cliente.id %}">Vacantes</a>
</li>

<li class="nav-item">
    <a class="nav-link text-active-primary pb-4 {% if request.resolver_match.url_name == 'cliente_grupo_trabajo' %}active{% endif %}" href="{% url 'clientes:cliente_grupo_trabajo' cliente.id %}">Grupo de Trabajo</a>
</li>
