{% load static %}
<div class="card shadow-sm">
    <div class="card-header">
        <h3 class="card-title">Información Principal</h3>
        <div class="card-toolbar">
            <!--begin::Action menu-->
            {% comment %} <a href="#" class="btn btn-sm btn-light-success" data-kt-menu-trigger="click" data-kt-menu-attach="parent" data-kt-menu-placement="bottom-end">Crear 
            <i class="ki-duotone ki-down fs-2 me-0"></i></a>
            <div class="menu menu-sub menu-sub-dropdown menu-column menu-rounded menu-gray-800 menu-state-bg-light-primary fw-semibold py-4 w-250px fs-6" data-kt-menu="true">
                <div class="menu-item px-5">
                    <div class="menu-content text-muted pb-2 px-5 fs-7 ">CREAR</div>
                </div>
                <div class="menu-item px-5">
                    <a href="#" class="menu-link px-5">Vacante</a>
                </div>
                <div class="menu-item px-5">
                    <a href="#" class="menu-link px-5">Usuario</a>
                </div>
                
                <div class="separator my-3"></div>

                <div class="menu-item px-5">
                    <div class="menu-content text-muted pb-2 px-5 fs-7 text-uppercase">REPORTES</div>
                </div>
                <div class="menu-item px-5">
                    <a href="#" class="menu-link px-5">Reporte 1</a>
                </div>
                <div class="menu-item px-5 my-1">
                    <a href="#" class="menu-link px-5">Reporte 2</a>
                </div>
            </div> {% endcomment %}
        </div>
    </div>
    <div class="card-body">
        <div class="d-flex flex-center flex-column mb-5">
            <div class="symbol symbol-100px symbol-circle mb-7">
                {% if cliente.logo %}
                    <img src="{{cliente.logo.url}}" alt="image" />
                {% else %}
                    <img src="{% static 'media/avatars/300-1.jpg' %}" alt="image" />
                {% endif %}
            </div>
            <a href="#" class="fs-3 text-gray-800 text-hover-primary fw-bold mb-1">{{cliente.razon_social}}</a>
            <div class="fs-5 fw-semibold text-muted mb-6">{{cliente.ciudad_id_004.nombre}}</div>
            <hr>
            <div class="fs-5 fw-semibold text-muted mb-6">Vacantes</div>
            <div class="d-flex flex-wrap flex-center">
                <div class="border border-gray-300 border-dashed rounded py-3 px-3 mb-3">
                    <div class="fs-4 fw-bold text-gray-700">
                        <span class="w-75px"> {{ contadores_vacantes.finalizadas }}</span>
                        <i class="ki-duotone ki-arrow-up fs-3 text-success">
                            <span class="path1"></span>
                            <span class="path2"></span>
                        </i>
                    </div>
                    <div class="fw-semibold text-muted">Completadas</div>
                </div>
                <div class="border border-gray-300 border-dashed rounded py-3 px-3 mx-4 mb-3">
                    <div class="fs-4 fw-bold text-gray-700">
                        <span class="w-50px">{{ contadores_vacantes.canceladas }}</span>
                        <i class="ki-duotone ki-arrow-down fs-3 text-danger">
                            <span class="path1"></span>
                            <span class="path2"></span>
                        </i>
                    </div>
                    <div class="fw-semibold text-muted">Canceladas</div>
                </div>
                <div class="border border-gray-300 border-dashed rounded py-3 px-3 mb-3">
                    <div class="fs-4 fw-bold text-gray-700">
                        <span class="w-50px">{{ contadores_vacantes.activas }}</span>
                        <i class="ki-duotone ki-arrow-up fs-3 text-success">
                            <span class="path1"></span>
                            <span class="path2"></span>
                        </i>
                    </div>
                    <div class="fw-semibold text-muted">Pendientes</div>
                </div>
            </div>
        </div>
        <div class="d-flex flex-stack fs-4 py-3">
            <div class="fw-bold rotate collapsible collapsed" data-bs-toggle="collapse" href="#kt_customer_view_details" role="button" aria-expanded="false" aria-controls="kt_customer_view_details">Detalles 
            <span class="ms-2 rotate-180">
                <i class="ki-duotone ki-down fs-3"></i>
            </span></div>
            {% comment %} <span data-bs-toggle="tooltip" data-bs-trigger="hover" title="Editar Información del Cliente">
                <a href="#" class="btn btn-sm btn-light-primary" data-bs-toggle="modal" data-bs-target="#kt_modal_update_customer">EDITAR</a>
            </span> {% endcomment %}
        </div>
        <div class="separator separator-dashed my-3"></div>
        <div id="kt_customer_view_details" class="collapse show">
            <div class="py-5 fs-6">
                <div class="badge badge-light-success d-inline">ACTIVO</div>
                <div class="fw-bold mt-5">Razón Social</div>
                <div class="text-gray-600">{{cliente.razon_social}}</div>

                <div class="fw-bold mt-5">Nit</div>
                <div class="text-gray-600">{{cliente.nit}}</div>

                <div class="fw-bold mt-5">Correo</div>
                <div class="text-gray-600">
                    <a href="#" class="text-gray-600 text-hover-primary">{{cliente.email}}</a>
                </div>
                
                <div class="fw-bold mt-5">Ciudad</div>
                <div class="text-gray-600">Cra 50 # 100 -40
                <br />{{cliente.ciudad_id_004.nombre}}
                <br />Colombia</div>
                
                <div class="fw-bold mt-5">Contacto Principal</div>
                <div class="text-gray-600">{{cliente.contacto}}</div>
                
                <div class="fw-bold mt-5">ID CLIENTE</div>
                <div class="text-gray-600">{{cliente.id}}</div>
            </div>
        </div>
    </div>
</div>