{% load static %}

<div class="card shadow-sm">
    <div class="card-header">
        <h3 class="card-title">Información Vacante</h3>
        <div class="card-toolbar">
            <span data-bs-toggle="tooltip" data-bs-trigger="hover" title="Editar Información del Cliente">
                <a href="#" class="btn btn-sm btn-light-primary" data-bs-toggle="modal" data-bs-target="#kt_modal_update_customer">EDITAR VACANTE</a>
            </span>
        </div>
    </div>
    <div class="card-body">
        <div class="d-flex flex-center flex-column mb-5">
            <p class="fs-3 text-gray-800 text-hover-primary fw-bold mb-1">{{vacante.titulo}}</p>
            <div class="fs-5 fw-semibold text-muted mb-6">{{vacante.profesion_estudio_id_055.nombre}}</div>
            <div class="d-flex flex-wrap flex-center">
                <div class="border border-gray-300 border-dashed rounded py-3 px-3 mb-3">
                    <div class="fs-4 fw-bold text-gray-700">
                        <span class="w-75px">6,900</span>
                        <i class="ki-duotone ki-arrow-up fs-3 text-success">
                            <span class="path1"></span>
                            <span class="path2"></span>
                        </i>
                    </div>
                    <div class="fw-semibold text-muted">Vacantes Completadas</div>
                </div>
                <div class="border border-gray-300 border-dashed rounded py-3 px-3 mx-4 mb-3">
                    <div class="fs-4 fw-bold text-gray-700">
                        <span class="w-50px">130</span>
                        <i class="ki-duotone ki-arrow-down fs-3 text-danger">
                            <span class="path1"></span>
                            <span class="path2"></span>
                        </i>
                    </div>
                    <div class="fw-semibold text-muted">Vacantes Canceladas</div>
                </div>
                <div class="border border-gray-300 border-dashed rounded py-3 px-3 mb-3">
                    <div class="fs-4 fw-bold text-gray-700">
                        <span class="w-50px">670</span>
                        <i class="ki-duotone ki-arrow-up fs-3 text-success">
                            <span class="path1"></span>
                            <span class="path2"></span>
                        </i>
                    </div>
                    <div class="fw-semibold text-muted">Vacantes Pendientes</div>
                </div>
            </div>
        </div>
        <div class="separator separator-dashed my-3"></div>
        <div id="kt_customer_view_details" class="collapse show">
            <div class="py-5 fs-6">
                <div class="fw-bold mt-5">Estado Vacante</div>
                <div class="badge badge-light-success d-inline">ACTIVA</div>
                
                <div class="fw-bold mt-5">Ciudad</div>
                <div class="text-gray-600">{{vacante.ciudad.nombre}}</div>

                <div class="fw-bold mt-5">Cliente</div>
                <div class="text-gray-600">{{cliente.razon_social}}</div>
            </div>
        </div>
    </div>
</div>