{% extends 'admin/layout/dashboard_base.html' %} 

{% load static %}
{% load crispy_forms_tags %}

{% block title %}
Cliente
{% endblock %}

{% block content %}
<div class="main-content-container overflow-hidden">
	<div class="d-flex justify-content-between align-items-center flex-wrap gap-2 mb-4">
		<h3 class="mb-0" style="color: #B10022;">CLIENTE: {{data.cliente.razon_social}}</h3>
		<nav style="--bs-breadcrumb-divider: '>'" aria-label="breadcrumb">
			<ol class="breadcrumb align-items-center mb-0 lh-1">
				<li class="breadcrumb-item">
					<a href="{% url 'accesses:inicio' %}" class="d-flex align-items-center text-decoration-none">
						<i class="ri-home-4-line fs-18 text-primary me-1"></i>
						<span class="text-secondary fw-medium hover" >Inicio</span>
					</a>
				</li>
				<li class="breadcrumb-item active" aria-current="page">
					<a href="{% url 'clientes:cliente_ver' %}" class="d-flex align-items-center text-decoration-none">
						<span class="text-secondary fw-medium hover" >Listado de Clientes</span>
					</a>
				</li>
				<li class="breadcrumb-item active" aria-current="page">
					<a href="{% url 'clientes:cliente_detalle' data.cliente.id %}" class="d-flex align-items-center text-decoration-none">
						<span class="text-secondary fw-medium hover" >Detalle Cliente</span>
					</a>
				</li>
				<li class="breadcrumb-item active" aria-current="page">
					<a href="{% url 'clientes:cliente_cargos' data.cliente.id %}" class="d-flex align-items-center text-decoration-none">
						<span class="text-secondary fw-medium hover" >Cargos</span>
					</a>
				</li>
				<li class="breadcrumb-item active" aria-current="page">
					<span class="fw-medium">Congiuración Cargo</span>
				</li>
			</ol>
		</nav>
	</div>

	<div class="row">
		<div class="col-3">
			<div class="card bg-white border-0 rounded-3 mb-4">
                {% include 'admin/client/admin_user/common_template/client_menu_lateral.html' %}
			</div>
		</div>
		<div class="col-9">
			{% include 'admin/client/admin_user/common_template/client_metrics.html' %}

            <div class="row">
                <div class="col-12">
                    <div class="card bg-white border-0 rounded-3 mb-4">
                        <div class="card-body p-4 text-center">
                            <h3 class="mb-0" style="color: #B10022;">{{cargo_cliente.nombre_cargo}}</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <div class="card bg-white border-0 rounded-3 mb-4">
                        <div class="card-header">
                            <h5 class="card-title mb-0">Requisitos</h5>
                        </div>
                        <div class="card-body p-4">
                            <form method="post" id="form_cliente_asignacion_requisitos">
                                {% csrf_token %}
                                {% crispy form %}
                                <button id="form_cliente_asignacion_requisitos" type="submit" class="btn bg-primary bg-opacity-10 fw-medium text-primary py-2 px-4 w-100" form="form_cliente_asignacion_requisitos">Guardar</button>
                            </form>
                            <hr>
                            <div class="table-responsive">
                                <table class="table align-middle" id="requisitos">
                                    <thead>
                                        <tr>
                                            <th scope="col">ID</th>
                                            <th scope="col">FECHA</th>
                                            <th scope="col">CARGO</th>
                                            <th scope="col">CONFIGURAR</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for e in asignaciones_requisitos %}
                                        <tr>
                                            <td class="text-body">{{ e.id }}</td>
                                            <td class="text-body">{{ e.fecha_asignacion|date:"Y-m-d" }}</td>
                                            <td class="text-body">{{ e.requisito }}</td>
                                            <td>
                                                <div class="d-flex align-items-center gap-1">
                                                    <a href = "" class="ps-0 border-0 bg-transparent lh-1 position-relative top-2" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Edit">
                                                        <i class="material-symbols-outlined fs-16 text-body">visibility</i>
                                                    </a>
                                                    
                                                </div>
                                            </td> 
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="card bg-white border-0 rounded-3 mb-4">
                        <div class="card-header">
                            <h5 class="card-title mb-0">Pruebas</h5>
                        </div>
                        <div class="card-body p-4">
                            <form method="post" id="form_cliente_asignacion_prueba">
                                {% csrf_token %}
                                {% crispy form1 %}
                                <button id="form_cliente_asignacion_prueba" type="submit" class="btn bg-primary bg-opacity-10 fw-medium text-primary py-2 px-4 w-100" form="form_cliente_asignacion_prueba">Guardar</button>
                            </form>
                            <hr>
                            <div class="table-responsive">
                                <table class="table align-middle" id="pruebas">
                                    <thead>
                                        <tr>
                                            <th scope="col">ID</th>
                                            <th scope="col">FECHA</th>
                                            <th scope="col">PRUEBA</th>
                                            <th scope="col">CONFIGURAR</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for e in asignaciones_pruebas %}
                                        <tr>
                                            <td class="text-body">{{ e.id }}</td>
                                            <td class="text-body">{{ e.fecha_asignacion|date:"Y-m-d" }}</td>
                                            <td class="text-body">{{ e.cliente_prueba.prueba_psicologica.nombre }}</td>
                                            <td>
                                                <div class="d-flex align-items-center gap-1">
                                                    <a href = "" class="ps-0 border-0 bg-transparent lh-1 position-relative top-2" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Edit">
                                                        <i class="material-symbols-outlined fs-16 text-body">visibility</i>
                                                    </a>
                                                    
                                                </div>
                                            </td> 
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            
            
            
		</div>
	</div>

</div>
{% endblock %}

{% block js %} 
<script>
    const pruebas = document.getElementById('pruebas');
	if (pruebas) {
		let x = new RdataTB('pruebas');
	}

    const requisitos = document.getElementById('requisitos');
	if (requisitos) {
		let x = new RdataTB('requisitos');
	}

    // Initialize select2 for specific fields
    initializeSelect2('#id_requisito');

    // Initialize select2 for specific fields
    initializeSelect2('#id_prueba');
</script>  
{% endblock js %}