{% extends 'admin/layout/dashboard_base.html' %} 

{% load static %}
{% load crispy_forms_tags %}

{% block title %}
Cliente
{% endblock %}

{% block content %}
<div class="main-content-container overflow-hidden">
	<div class="d-flex justify-content-between align-items-center flex-wrap gap-2 mb-4">
		<h3 class="mb-0" style="color: #B10022;">CLIENTE: {{data.cliente.razon_social}}</h3>
		<nav style="--bs-breadcrumb-divider: '>'" aria-label="breadcrumb">
			<ol class="breadcrumb align-items-center mb-0 lh-1">
				<li class="breadcrumb-item">
					<a href="{% url 'accesses:inicio' %}" class="d-flex align-items-center text-decoration-none">
						<i class="ri-home-4-line fs-18 text-primary me-1"></i>
						<span class="text-secondary fw-medium hover" >Inicio</span>
					</a>
				</li>
				{% if request.session.grupo_id == 1 %}
				<li class="breadcrumb-item active" aria-current="page">
					<a href="{% url 'clientes:cliente_ver' %}" class="d-flex align-items-center text-decoration-none">
						<span class="text-secondary fw-medium hover" >Listado de Clientes</span>
					</a>
				</li>
				{% endif %}
				{% if request.session.grupo_id == 3 %}
				<li class="breadcrumb-item active" aria-current="page">
					<a href="{% url 'clientes:client_headhunter_asignados' %}" class="d-flex align-items-center text-decoration-none">
						<span class="text-secondary fw-medium hover" >Clientes Asignados</span>
					</a>
				</li>
				{% endif %}
				<li class="breadcrumb-item active" aria-current="page">
					<a href="{% url 'clientes:cliente_detalle' data.cliente.id %}" class="d-flex align-items-center text-decoration-none">
						<span class="text-secondary fw-medium hover" >Detalle Cliente</span>
					</a>
				</li>
				<li class="breadcrumb-item active" aria-current="page">
					<span class="fw-medium">Cargos</span>
				</li>
			</ol>
		</nav>
	</div>

    <div class="row">
		<div class="col-md-12">
			{% include 'admin/client/admin_user/common_template/client_menu_horizontal.html' %}
		</div>
	</div>
    
	<div class="row">
		<div class="col-md-6">
			<div class="card bg-white border-0 rounded-3 mb-4">
				<div class="card-body p-4">
                    <form method="post" id="form_cliente_cargos">
                        {% csrf_token %}
                        {% crispy form %}
                        <button type="submit" class="btn bg-primary bg-opacity-10 fw-medium text-primary py-2 px-4 w-100">Guardar</button>
                    </form>
				</div>
			</div>
		</div>
        <div class="col-md-6">
            <div class="card bg-white border-0 rounded-3 mb-4">
                <div class="card-body p-4">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="default-table-area all-products d-flex justify-content-center align-items-center" style="height: 100%;">
                                <div class="table-responsive w-100">
                                    <table class="table text-center align-middle" id="tabla-cargos" style="margin-left:auto; margin-right:auto;">
                                        <thead>
                                            <tr>
                                                <th scope="col" class="text-center align-middle">Id</th>
                                                <th scope="col" class="text-center align-middle">Cargo</th>
                                                <th scope="col" class="text-center align-middle"># Referencias</th>
                                                <th scope="col" class="text-center align-middle">Acciones</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for e in position_client %}
                                            <tr class="align-middle text-center">
                                                <td class="text-body text-center align-middle">{{ e.id }}</td>
                                                <td class="text-body text-center align-middle">{{ e.nombre_cargo }}</td>
                                                <td class="text-body text-center align-middle">
                                                    {{ e.referencias_laborales|default:"No especificado" }}
                                                </td>
                                                <td class="text-center align-middle">
                                                    <div class="d-flex justify-content-center align-items-center gap-1">
                                                        <div class="d-flex justify-content-center align-items-center gap-1" alt="Configurar" title="Configurar Cargo">
                                                            <a href="{% url 'clientes:cliente_cargos_configuracion' e.cliente.id e.id %}" class="btn bg-primary bg-opacity-10 fw-medium text-primary py-2 px-4">
                                                                <i class="material-symbols-outlined fs-16">settings</i>
                                                            </a>
                                                        </div>
                                                        {% comment %} <div class="d-flex justify-content-center align-items-center gap-1" alt="Gestionar" title="Asignar Candidatos">
                                                            <a href="{% url 'vacantes:vacantes_asignar_analista_cliente' e.id  %}" class="btn bg-info bg-opacity-10 fw-medium text-info py-2 px-4">
                                                                <i class="material-symbols-outlined fs-16 text-info">assignment_ind</i>
                                                            </a>
                                                        </div> {% endcomment %}
                                                    </div>
                                                </td> 
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
	</div>

</div>
{% endblock %}

{% block js %} 
<script>
    let miTabla;
    document.addEventListener('DOMContentLoaded', function () {
        const opcionesDeTabla = {
            ShowSearch: true,
            ShowSelect: true,
            PageSize: 20,  // 👈 Registros por defecto
            SelectionNumber: [10, 20, 50, 100],
            ShowHighlight: true,
            ShowTfoot: false,
        };

        miTabla = new RdataTB('tabla-cargos', opcionesDeTabla); // asocia correctamente
        // Ordenar por defecto por 'ID' en forma descendente
        miTabla.sort('Id'); // 👈 Asegúrate de que la columna se llame 
    });
</script>  
{% endblock js %}