{% load static %}
<div class="main-content-container overflow-hidden">
	<div class="row">
		<div class="col-md-8">
			<div class="card bg-white border-0 rounded-3 mb-4 position-relative">
				<div class="card-body p-4">
					<h3 class="mb-0">
					Congratulations, <span class="text-primary">Olivia!</span>
					</h3>
				<p>Best agent of the month</p>
				<h3 class="mb-0 fs-20 text-primary">1.5k+</h3>
				<p>Ticket Solved</p>
				<a href="#" class="btn btn-primary fw-medium">View Profile</a>
				</div>
				<img src="{% static 'admin/images/congratulations.gif' %}" class="congratulations wh-150 position-absolute" alt="congratulations"/>
			</div>
			<div class="row">
		<div class="col-md-3">
			<div class="card bg-white border-0 rounded-3 mb-4">
				<div class="card-body p-4">
					<div class="d-flex align-items-center justify-content-between">
						<div class="flex-shrink-0">
							<div class="d-flex">
								<i class="material-symbols-outlined fs-40 text-danger">person</i>
								<div class="ms-3">
									<h4 class="mb-0 fs-14 fw-semibold lh-1">Información Personal</h4>
									<a href="#" class="btn btn-danger text-white btn-sm mt-2">Actualizar</a>
								</div>
							</div>
						</div>
						<div class="flex-grow-1 ms-3">
							<div class="d-flex align-items-center justify-content-end">
								<div class="progress-responsive" style="width: 100%;">
									<div class="progress rounded-pill" style="height: 8px; background-color: #DDE4FF;" role="progressbar" aria-label="Example with label" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">
										<div class="progress-bar rounded-pill" style="width: 90%; height: 8px; background-color: #FE7A36;"></div>
									</div>
								</div>
								<span class="count text-body ms-3 fs-12">90%</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="col-md-3">
			<div class="card bg-white border-0 rounded-3 mb-4">
				<div class="card-body p-4">
					<div class="d-flex align-items-center justify-content-between">
						<div class="flex-shrink-0">
							<div class="d-flex">
								<i class="material-symbols-outlined fs-40 text-info">school</i>
								<div class="ms-3">
									<h4 class="mb-0 fs-14 fw-semibold lh-1">Información Académica</h4>
									<a href="#" class="btn btn-info text-white btn-sm mt-2">Actualizar</a>
								</div>
							</div>
						</div>
						<div class="flex-grow-1 ms-3">
							<div class="d-flex align-items-center justify-content-end">
								<div class="progress-responsive" style="width: 100%">
									<div class="progress rounded-pill" style="height: 8px; background-color: #DDE4FF;" role="progressbar" aria-label="Example with label" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">
										<div class="progress-bar rounded-pill" style="width: 90%; height: 8px; background-color: #2DB6F5;"></div>
									</div>
								</div>
								<span class="count text-body ms-3 fs-12">90%</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<div class="col-md-3">
			<div class="card bg-white border-0 rounded-3 mb-4">
				<div class="card-body p-4">
					<div class="d-flex align-items-center justify-content-between">
						<div class="flex-shrink-0">
							<div class="d-flex">
								<i class="material-symbols-outlined fs-40 text-warning">work</i>
								<div class="ms-3">
									<h4 class="mb-0 fs-14 fw-semibold lh-1">Información Laboral</h4>
									<a href="#" class="btn btn-warning btn-sm mt-2">Actualizar</a>
								</div>
							</div>
						</div>
						<div class="flex-grow-1 ms-3">
							<div class="d-flex align-items-center justify-content-end">
								<div class="progress-responsive" style="width: 100%;">
									<div class="progress rounded-pill" style="height: 8px; background-color: #DDE4FF;" role="progressbar" aria-label="Example with label" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">
										<div class="progress-bar rounded-pill" style="width: 90%; height: 8px; background-color: #FFBC2B;"></div>
									</div>
								</div>
								<span class="count text-body ms-3 fs-12">90%</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="col-md-3">
			<div class="card bg-white border-0 rounded-3 mb-4">
				<div class="card-body p-4">
					<div class="d-flex align-items-center justify-content-between">
						<div class="flex-shrink-0">
							<div class="d-flex">
								<i class="material-symbols-outlined fs-40 text-success">psychology</i>
								<div class="ms-3">
									<h4 class="mb-0 fs-14 fw-semibold lh-1">Habilidades</h4>
									<a href="#" class="btn btn-success btn-sm mt-2">Actualizar</a>
								</div>
							</div>
						</div>
						<div class="flex-grow-1 ms-3">
							<div class="d-flex align-items-center justify-content-end">
								<div class="progress-responsive" style="width: 100%;">
									<div class="progress rounded-pill" style="height: 8px; background-color: #DDE4FF;" role="progressbar" aria-label="Example with label" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">
										<div class="progress-bar rounded-pill" style="width: 90%; height: 8px; background-color: #37D80A;"></div>
									</div>
								</div>
								<span class="count text-body ms-3 fs-12">90%</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
		</div>
		<div class="col-md-4">
			<div class="card bg-white border-0 rounded-3 mb-4">
				<div class="card-body p-4">
					<div class="mb-3 mb-lg-30">
						<h3 class="mb-0">Perfil Completado al :</h3>
					</div>
					<div id="chart1"></div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-3">
			<div class="card bg-white border-0 rounded-3 mb-4">
				<div class="card-body p-4">
					<div class="d-flex align-items-center justify-content-between">
						<div class="flex-shrink-0">
							<div class="d-flex">
								<i class="material-symbols-outlined fs-40 text-danger">person</i>
								<div class="ms-3">
									<h4 class="mb-0 fs-14 fw-semibold lh-1">Información Personal</h4>
									<a href="#" class="btn btn-danger text-white btn-sm mt-2">Actualizar</a>
								</div>
							</div>
						</div>
						<div class="flex-grow-1 ms-3">
							<div class="d-flex align-items-center justify-content-end">
								<div class="progress-responsive" style="width: 100%;">
									<div class="progress rounded-pill" style="height: 8px; background-color: #DDE4FF;" role="progressbar" aria-label="Example with label" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">
										<div class="progress-bar rounded-pill" style="width: 90%; height: 8px; background-color: #FE7A36;"></div>
									</div>
								</div>
								<span class="count text-body ms-3 fs-12">90%</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="col-md-3">
			<div class="card bg-white border-0 rounded-3 mb-4">
				<div class="card-body p-4">
					<div class="d-flex align-items-center justify-content-between">
						<div class="flex-shrink-0">
							<div class="d-flex">
								<i class="material-symbols-outlined fs-40 text-info">school</i>
								<div class="ms-3">
									<h4 class="mb-0 fs-14 fw-semibold lh-1">Información Académica</h4>
									<a href="#" class="btn btn-info text-white btn-sm mt-2">Actualizar</a>
								</div>
							</div>
						</div>
						<div class="flex-grow-1 ms-3">
							<div class="d-flex align-items-center justify-content-end">
								<div class="progress-responsive" style="width: 100%">
									<div class="progress rounded-pill" style="height: 8px; background-color: #DDE4FF;" role="progressbar" aria-label="Example with label" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">
										<div class="progress-bar rounded-pill" style="width: 90%; height: 8px; background-color: #2DB6F5;"></div>
									</div>
								</div>
								<span class="count text-body ms-3 fs-12">90%</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<div class="col-md-3">
			<div class="card bg-white border-0 rounded-3 mb-4">
				<div class="card-body p-4">
					<div class="d-flex align-items-center justify-content-between">
						<div class="flex-shrink-0">
							<div class="d-flex">
								<i class="material-symbols-outlined fs-40 text-warning">work</i>
								<div class="ms-3">
									<h4 class="mb-0 fs-14 fw-semibold lh-1">Información Laboral</h4>
									<a href="#" class="btn btn-warning btn-sm mt-2">Actualizar</a>
								</div>
							</div>
						</div>
						<div class="flex-grow-1 ms-3">
							<div class="d-flex align-items-center justify-content-end">
								<div class="progress-responsive" style="width: 100%;">
									<div class="progress rounded-pill" style="height: 8px; background-color: #DDE4FF;" role="progressbar" aria-label="Example with label" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">
										<div class="progress-bar rounded-pill" style="width: 90%; height: 8px; background-color: #FFBC2B;"></div>
									</div>
								</div>
								<span class="count text-body ms-3 fs-12">90%</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="col-md-3">
			<div class="card bg-white border-0 rounded-3 mb-4">
				<div class="card-body p-4">
					<div class="d-flex align-items-center justify-content-between">
						<div class="flex-shrink-0">
							<div class="d-flex">
								<i class="material-symbols-outlined fs-40 text-success">psychology</i>
								<div class="ms-3">
									<h4 class="mb-0 fs-14 fw-semibold lh-1">Habilidades</h4>
									<a href="#" class="btn btn-success btn-sm mt-2">Actualizar</a>
								</div>
							</div>
						</div>
						<div class="flex-grow-1 ms-3">
							<div class="d-flex align-items-center justify-content-end">
								<div class="progress-responsive" style="width: 100%;">
									<div class="progress rounded-pill" style="height: 8px; background-color: #DDE4FF;" role="progressbar" aria-label="Example with label" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">
										<div class="progress-bar rounded-pill" style="width: 90%; height: 8px; background-color: #37D80A;"></div>
									</div>
								</div>
								<span class="count text-body ms-3 fs-12">90%</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-4">
			<div class="card bg-white border-0 rounded-3 mb-4">
				<div class="card-body p-4">
					<div class="mb-3 mb-lg-30">
						<h3 class="mb-0">Información de mi perfil</h3>
					</div>
					<ul class="ps-0 mb-0 list-unstyled">
						<li class="mb-3 pb-3 border-bottom">
							<div class="d-flex align-items-center justify-content-between">
								<div class="flex-shrink-0">
									<div class="d-flex">
										<i class="material-symbols-outlined fs-40 text-danger">person</i>
										<div class="ms-3">
											<h4 class="mb-0 fs-14 fw-semibold lh-1">Información Personal</h4>
											<a href="#" class="btn btn-danger text-white btn-sm mt-2">Actualizar</a>
										</div>
									</div>
								</div>
								<div class="flex-grow-1 ms-3">
									<div class="d-flex align-items-center justify-content-end">
										<div class="progress-responsive" style="width: 120px;">
											<div class="progress rounded-pill" style="height: 8px; background-color: #DDE4FF;" role="progressbar" aria-label="Example with label" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">
												<div class="progress-bar rounded-pill" style="width: 90%; height: 8px; background-color: #FE7A36;"></div>
											</div>
										</div>
										<span class="count text-body ms-3 fs-12">90%</span>
									</div>
								</div>
							</div>
						</li>
						<li class="mb-3 pb-3 border-bottom">
							<div class="d-flex align-items-center justify-content-between">
								<div class="flex-shrink-0">
									<div class="d-flex">
										<i class="material-symbols-outlined fs-40 text-info">school</i>
										<div class="ms-3">
											<h4 class="mb-0 fs-14 fw-semibold lh-1">Información Académica</h4>
											<a href="#" class="btn btn-info text-white btn-sm mt-2">Actualizar</a>
										</div>
									</div>
								</div>
								<div class="flex-grow-1 ms-3">
									<div class="d-flex align-items-center justify-content-end">
										<div class="progress-responsive" style="width: 120px;">
											<div class="progress rounded-pill" style="height: 8px; background-color: #DDE4FF;" role="progressbar" aria-label="Example with label" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">
												<div class="progress-bar rounded-pill" style="width: 90%; height: 8px; background-color: #2DB6F5;"></div>
											</div>
										</div>
										<span class="count text-body ms-3 fs-12">90%</span>
									</div>
								</div>
							</div>
						</li>
						<li class="mb-3 pb-3 border-bottom">
							<div class="d-flex align-items-center justify-content-between">
								<div class="flex-shrink-0">
									<div class="d-flex">
										<i class="material-symbols-outlined fs-40 text-warning">work</i>
										<div class="ms-3">
											<h4 class="mb-0 fs-14 fw-semibold lh-1">Información Laboral</h4>
											<a href="#" class="btn btn-warning btn-sm mt-2">Actualizar</a>
										</div>
									</div>
								</div>
								<div class="flex-grow-1 ms-3">
									<div class="d-flex align-items-center justify-content-end">
										<div class="progress-responsive" style="width: 120px;">
											<div class="progress rounded-pill" style="height: 8px; background-color: #DDE4FF;" role="progressbar" aria-label="Example with label" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">
												<div class="progress-bar rounded-pill" style="width: 90%; height: 8px; background-color: #FFBC2B;"></div>
											</div>
										</div>
										<span class="count text-body ms-3 fs-12">90%</span>
									</div>
								</div>
							</div>
						</li>
						<li class="mb-3 pb-3 border-bottom">
							<div class="d-flex align-items-center justify-content-between">
								<div class="flex-shrink-0">
									<div class="d-flex">
										<i class="material-symbols-outlined fs-40 text-success">psychology</i>
										<div class="ms-3">
											<h4 class="mb-0 fs-14 fw-semibold lh-1">Habilidades</h4>
											<a href="#" class="btn btn-success btn-sm mt-2">Actualizar</a>
										</div>
									</div>
								</div>
								<div class="flex-grow-1 ms-3">
									<div class="d-flex align-items-center justify-content-end">
										<div class="progress-responsive" style="width: 120px;">
											<div class="progress rounded-pill" style="height: 8px; background-color: #DDE4FF;" role="progressbar" aria-label="Example with label" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">
												<div class="progress-bar rounded-pill" style="width: 90%; height: 8px; background-color: #37D80A;"></div>
											</div>
										</div>
										<span class="count text-body ms-3 fs-12">90%</span>
									</div>
								</div>
							</div>
						</li>
						
					</ul>
				</div>
			</div>
		</div>

		<div class="col-md-4">
			<div class="card bg-white border-0 rounded-3 mb-4">
				<div class="card-body p-4">
					<div class="mb-3 mb-lg-30">
						<h3 class="mb-0">Perfil Completado al :</h3>
					</div>
					<div id="chart1"></div>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="card bg-white border-0 rounded-3 mb-4 position-relative">
				<div class="card-body p-4">
					<h3 class="mb-0">
					Congratulations, <span class="text-primary">Olivia!</span>
					</h3>
				<p>Best agent of the month</p>
				<h3 class="mb-0 fs-20 text-primary">1.5k+</h3>
				<p>Ticket Solved</p>
				<a href="#" class="btn btn-primary fw-medium">View Profile</a>
				</div>
				<img src="{% static 'admin/images/congratulations.gif' %}" class="congratulations wh-150 position-absolute" alt="congratulations"/>
			</div>
		</div>
	</div>

	
</div>

<div class="alert alert-success" role="alert">
	Grupo ID: {{ request.session.grupo_id }}
</div>



<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
<script>
  var options = {
          series: [{
          data: [100, 100, 100, 90]
        }],
          chart: {
          type: 'bar',
          height: 200
        },
        plotOptions: {
          bar: {
            borderRadius: 4,
            borderRadiusApplication: 'end',
            horizontal: true,
          }
        },
        dataLabels: {
          enabled: false
        },
        xaxis: {
          categories: ['Personal', 'Laboral', 'Académica', 'Habilidades'
          ],
        }
        };

        var chart = new ApexCharts(document.querySelector("#chart"), options);
        chart.render();




  var options = {
          series: [76],
          chart: {
          type: 'radialBar',
          offsetY: -20,
          sparkline: {
            enabled: true
          }
        },
        plotOptions: {
          radialBar: {
            startAngle: -90,
            endAngle: 90,
            track: {
              background: "#e7e7e7",
              strokeWidth: '97%',
              margin: 5, // margin is in pixels
              dropShadow: {
                enabled: true,
                top: 2,
                left: 0,
                color: '#444',
                opacity: 1,
                blur: 2
              }
            },
            dataLabels: {
              name: {
                show: false
              },
              value: {
                offsetY: -2,
                fontSize: '22px'
              }
            }
          }
        },
        grid: {
          padding: {
            top: -10
          }
        },
        fill: {
          type: 'gradient',
          gradient: {
            shade: 'light',
            shadeIntensity: 0.4,
            inverseColors: false,
            opacityFrom: 1,
            opacityTo: 1,
            stops: [0, 50, 53, 91]
          },
        },
        labels: ['Average Results'],
        };

        var chart1 = new ApexCharts(document.querySelector("#chart1"), options);
        chart1.render();
</script>
