
{% extends 'base/base.html' %}
{% load static %}
{% block titulo_pagina %} Pruebas {% endblock titulo_pagina %}

{% block navegacion %}
    <li class="breadcrumb-item text-white opacity-75">Pruebas</li>
    
    <!-- <li class="breadcrumb-item">
        <span class="bullet bg-white opacity-75 w-5px h-2px"></span>
    </li>
    
    <li class="breadcrumb-item text-white opacity-75">Multipurpose</li> -->
{% endblock navegacion %}

{% block content %}

{% endblock content %}

{% block extrajs %}


{% endblock extrajs %}