{% extends 'admin/layout/dashboard_base.html' %} 

{% load static %}
{% load crispy_forms_tags %}

{% block title %}
Listado de vacantes
{% endblock %}

{% block content %}
<div class="main-content-container overflow-hidden">
	<div class="d-flex justify-content-between align-items-center flex-wrap gap-2 mb-4">
		<h3 class="mb-0" style="color: #B10022;">VACANTES ASIGNADAS: </h3>
		<nav style="--bs-breadcrumb-divider: '>'" aria-label="breadcrumb">
			<ol class="breadcrumb align-items-center mb-0 lh-1">
				<li class="breadcrumb-item">
					<a href="{% url 'accesses:inicio' %}" class="d-flex align-items-center text-decoration-none">
						<i class="ri-home-4-line fs-18 text-primary me-1"></i>
						<span class="text-secondary fw-medium hover" >Inicio</span>
					</a>
				</li>
				<li class="breadcrumb-item active" aria-current="page">
					<span class="fw-medium">Listado Vacante</span>
				</li>
			</ol>
		</nav>
	</div>
    <div class="row">
		<div class="col-12">
            <div class="card bg-white border-0 rounded-3 mb-4">
                <div class="card-body p-4">
                    <div class="default-table-area all-projects">
                        <div class="table-responsive">
                            <table class="table align-middle text-center" id="myTable">
                                <thead>
                                    <tr>
                                        <th scope="col" class="text-center">ID</th>
                                        <th scope="col" class="text-center">VACANTE</th>
                                        <th scope="col" class="text-center">CARGO</th>
                                        <th scope="col" class="text-center"># POSICIONES</th>
                                        <th scope="col" class="text-center">F. CREACIÓN</th>
                                        <th scope="col" class="text-center">F. PRESENTACIÓN</th>
                                        <th scope="col" class="text-center">F. CIERRE</th>
                                        <th scope="col" class="text-center">ASIGNADO A</th>
                                        <th scope="col" class="text-center">ESTADO</th>
                                        <th scope="col" class="text-center">ACCIONES</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for e in vacantes %}
                                    <tr>
                                        <td class="text-body text-center">{{e.id}}</td>
                                        <td class="text-center">
                                            <a href="{% url 'vacantes:vacantes_detalle_cliente' e.id  %}" class="fw-medium">{{e.titulo}}</a>
                                        </td>
                                        <td class="text-secondary text-center">{{e.cargo.nombre_cargo}}</td>
                                        <td class="text-secondary text-center">{{e.numero_posiciones}}</td>
                                        <td class="text-secondary text-center">{{ e.fecha_creacion|date:"Y-m-d" }}</td>
                                        <td class="text-secondary text-center">{{ e.fecha_presentacion|date:"Y-m-d" }}</td>
                                        <td class="text-secondary text-center">{{ e.fecha_cierre|date:"Y-m-d" }}</td>
                                        <td class="text-secondary text-center">{{ e.usuario_asignado.primer_nombre }}</td>
                                        <td class="text-center">
                                            {% if e.estado_vacante == 1 %}
                                                <span class="badge bg-success bg-opacity-10 text-success p-2 fs-12 fw-normal">Activa</span>
                                            {% elif e.estado_vacante == 2 %}
                                                <span class="badge bg-warning bg-opacity-10 text-warning p-2 fs-12 fw-normal">En Proceso</span>
                                            {% elif e.estado_vacante == 3 %}
                                                <span class="badge bg-secondary bg-opacity-10 text-secondary p-2 fs-12 fw-normal">Finalizada</span>
                                            {% elif e.estado_vacante == 4 %}
                                                <span class="badge bg-danger bg-opacity-10 text-danger p-2 fs-12 fw-normal">Cancelada</span>
                                            {% else %}
                                                <span class="badge bg-light bg-opacity-10 text-dark p-2 fs-12 fw-normal">Desconocido</span>
                                            {% endif %}
                                        </td>
                                        <td class="text-center">
                                            <div class="d-flex justify-content-center align-items-center gap-1">
                                                <div class="d-flex justify-content-center align-items-center gap-1" alt="Gestionar" title="Gestionar">
                                                    <a href="{% url 'vacantes:vacantes_detalle_cliente' e.id  %}" class="btn bg-danger bg-opacity-10 fw-medium text-danger py-2 px-4">
                                                        <i class="material-symbols-outlined fs-16 text-danger">edit</i>
                                                    </a>
                                                </div>
                                                <div class="d-flex justify-content-center align-items-center gap-1" alt="Gestionar" title="Asignar Candidatos">
                                                    <a href="{% url 'vacantes:vacantes_asignar_analista_cliente' e.id  %}" class="btn bg-info bg-opacity-10 fw-medium text-info py-2 px-4">
                                                        <i class="material-symbols-outlined fs-16 text-info">assignment_ind</i>
                                                    </a>
                                                </div>
                                            </div>
                                        </td> 
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block js %} 
<script>
    
</script>  
{% endblock js %}